{% extends "../../../includes/layouts/template-linear.html" %}
{% block content %}
<div class="">

    <div class="">
        <a href="index" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper offence-outcome " id="main-content" role="main">
            <h1 class="govuk-heading-l"><span class="govuk-caption-xl">Adjustments</span>
                ADA details
            </h1>
            <table  id="" class="govuk-table govuk-!-margin-bottom-4 govuk-!-width-two-thirds">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Date charge proved</th>
                    <th class="govuk-table__header" scope="col">Days</th>
                </tr>
                </thead>
                <tbody>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        7 Aug 2023
                    </td>
                    <td class="govuk-table__cell">
                    19
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        6 Mar 2023
                    </td>
                    <td class="govuk-table__cell">
                       8
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        15 Mar 2023
                    </td>
                    <td class="govuk-table__cell">
                        6
                    </td>
                </tr>
                </tbody>

                <tfoot>
                <tr class="govuk-table__row">
                    <th class="govuk-table__cell govuk-!-text-align-left" scope="row" colspan="1">Total ADAs taken into calculation </th>
                    <td class="govuk-table__cell ">33</td>
                </tr>
                </tfoot>
            </table>
            <table class="govuk-table govuk-!-margin-top-8">
                <caption class="govuk-table__caption govuk-table__caption--m">Charges proved 7 Aug 2023</caption>
                <thead class="govuk-table__head">
                <tr>
                    <th class="govuk-table__header" scope="col">Charge number</th>
                    <th class="govuk-table__header govuk-!-width-one-third" scope="col">To be served</th>
                    <th class="govuk-table__header  " scope="col"> Heard at</th>
                    <th class="govuk-table__header govuk-!-text-align-right " scope="col">Days</th>
                </tr>
                </thead>
                <tr>
                    <td class="govuk-table__cell">
                        3583998
                    </td>
                    <td class="govuk-table__cell">
                        Forthwith
                    </td>
                    <td class="govuk-table__cell  ">
                        HMP Kirkham
                    </td>
                    <!-- Days -->
                    <td class="govuk-table__cell govuk-!-text-align-right ">7</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        3584019
                    </td>
                    <td class="govuk-table__cell">
                        Consecutive to 3583998
                    </td>
                    <td class="govuk-table__cell  ">
                        HMP Kirkham
                    </td>
                    <!-- Days -->
                    <td class="govuk-table__cell govuk-!-text-align-right ">7 </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        3584030
                    </td>
                    <td class="govuk-table__cell">
                        Consecutive to 3584019
                    </td>
                    <td class="govuk-table__cell  ">
                        HMP Kirkham
                    </td>
                    <!-- Days -->
                    <td class="govuk-table__cell govuk-!-text-align-right ">5 </td>
                </tr>
                <tfoot>
                <tr class="govuk-table__row">
                    <th class="govuk-table__cell govuk-!-text-align-left" scope="row" colspan="3">Total</th>
                    <td class="govuk-table__cell govuk-!-text-align-right">19</td>
                </tr>
                </tfoot>
            </table>

            <p>This adjudication contains ADAs that were PADAs you can
                <a class="govuk-link govuk-!-margin-bottom-6" href="review-padas">review PADA selections</a> here.</p>
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">Charges proved  6 Mar 2023</caption>
                <thead class="govuk-table__head">
                <tr>
                    <th class="govuk-table__header" scope="col">Charge number</th>
                    <th class="govuk-table__header govuk-!-width-one-third" scope="col">To be served</th>
                    <th class="govuk-table__header  " scope="col">Heard at</th>
                    <th class="govuk-table__header govuk-!-text-align-right " scope="col">Days</th>
                </tr>
                </thead>
                <tr>
                    <td class="govuk-table__cell">
                        3822448
                    </td>
                    <td class="govuk-table__cell">
                        Forthwith
                    </td>
                    <td class="govuk-table__cell  ">
                        Nottingham prison
                    </td>
                    <!-- Days -->
                    <td class="govuk-table__cell govuk-!-text-align-right ">8</td>
                </tr>
                <tfoot>
                <tr class="govuk-table__row">
                    <th class="govuk-table__cell govuk-!-text-align-left" scope="row" colspan="3">Total</th>
                    <td class="govuk-table__cell govuk-!-text-align-right">8</td>
                </tr>
                </tfoot>
            </table>

            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">Charges proved  15 Mar 2023</caption>
                <thead class="govuk-table__head">
                <tr>
                    <th class="govuk-table__header" scope="col">Charge number</th>
                    <th class="govuk-table__header govuk-!-width-one-third" scope="col">To be served</th>
                    <th class="govuk-table__header  " scope="col">Heard at</th>
                    <th class="govuk-table__header govuk-!-text-align-right " scope="col">Days</th>
                </tr>
                </thead>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        3812489
                    </td>
                    <td class="govuk-table__cell">
                        Concurrent
                    </td>
                    <td class="govuk-table__cell  ">
                        Nottingham prison
                    </td>
                    <!-- Days -->
                    <td class="govuk-table__cell govuk-!-text-align-right ">6 </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        3812491
                    </td>
                    <td class="govuk-table__cell">
                        Concurrent
                    </td>
                    <td class="govuk-table__cell  ">
                        Nottingham prison
                    </td>
                    <!-- Days -->
                    <td class="govuk-table__cell govuk-!-text-align-right  ">6 </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        3812577
                    </td>
                    <td class="govuk-table__cell">
                        Concurrent
                    </td>
                    <td class="govuk-table__cell  ">
                        Nottingham prison
                    </td>
                    <!-- Days -->
                    <td class="govuk-table__cell govuk-!-text-align-right ">6 </td>
                </tr>
                <tfoot>
                <tr class="govuk-table__row">
                    <th class="govuk-table__cell govuk-!-text-align-left" scope="row" colspan="3">Total</th>
                    <td class="govuk-table__cell govuk-!-text-align-right">6</td>
                </tr>
                </tfoot>
            </table>

        </main>
    </div>
</div>
<script src="/public/javascripts/adjustments.js"></script>
{% endblock %}