{% extends "../../../includes/layouts/template-linear.html" %}
{% set adjustmentsActive = true %}
{% block content %}
<div class="">
    <div class="">
        <a href="add-tagged-bail.html" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">

                    <h1 class="govuk-heading-l">
                        <span class="govuk-caption-xl">Adjustments</span>
                        Confirm and save
                    </h1>
                    <div id="dataContainer">

                    </div>
                    <h2 class="govuk-heading-m">Tagged bail details</h2>
                    <div class="govuk-!-margin-top-6" id="ReviewTaggedBail"></div>

                    <div class="govuk-button-group"> 

                        <form action="../../adjustments?toDo=adjustmentsApplied" method="post">
                            <button type="submit" data-prevent-double-click="true" id="saveTaggedBailButton" data-journey="3" class="govuk-button" data-module="govuk-button" data-qa="submitReason">
                            Confirm and save
                            </button> 
                        </form>  
                        <form method="post" action="../../adjustments">
                            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                Cancel
                            </button>
                        </form> 
                    </div>

<!--                    <a href=".html" class="govuk-link">Return to tagged bail details</a>-->
                </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/add-remand.js"></script>
{% endblock %}