{% extends "./template.html" %}
{% block content %}
<!-- Prisoner identity bar -->
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Colin Ball</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">15 May 2000</span><strong>Prison number: </strong>G2883VE</span>
            </div>
        </div>
    </div>
</div>
<div class="moj-width-container">
<!-- Back link -->
    <a href="#" class="govuk-back-link">Back to Digital Prison Services</a>
<!-- Page heading -->
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-top-8">
                Release dates for Colin Ball
            </h1>
        </div>
    </div>
    <!-- Tiles -->
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-top-2">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-4">Calculate release dates</h2>
            <ul class="card-group govuk-grid-row">
                <li class="govuk-grid-column-one-third card-group__item">
                    <div class="card card--clickable" data-test="global-search">
                        <h2 class="govuk-heading-m card__heading">
                            <a class="govuk-link card__link govuk-link--no-visited-state" href="calculate-release-dates/check-sentence-and-offence-information">Calculate release dates</a>
                        </h2>
                        <p class="govuk-body card__description">Automatically calculate an prisoner’s release dates using information from NOMIS</p>
                    </div>
                </li>
                <li class="govuk-grid-column-one-third card-group__item">
                    <div class="card card--clickable" data-test="manage-prisoner-whereabouts">
                        <h2 class="govuk-heading-m card__heading">
                            <a class="govuk-link card__link govuk-link--no-visited-state" href="view-release-dates/check-sentence-and-offence-information">View latest calculation</a>
                        </h2>
                        <p class="govuk-body card__description">View the latest calculation from the Calculate release dates service</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-4">Enter dates</h2>
            <ul class="card-group govuk-grid-row">
                <li class="govuk-grid-column-one-third card-group__item">
                    <div class="card card--clickable" data-test="manage-prisoner-whereabouts">
                        <h2 class="govuk-heading-m card__heading">
                            <a class="govuk-link card__link govuk-link--no-visited-state" href="crd-unsupported-sentence-v2-full-page-indeterminate/what-dates-do-you-need-to-enter">Enter indeterminate release dates</a>
                        </h2>
                        <p class="govuk-body card__description">Enter and save a prisoner's indeterminate release dates</p>
                    </div>
                </li>
                <li class="govuk-grid-column-one-third card-group__item">
                    <div class="card card--clickable" data-test="manage-prisoner-whereabouts">
                        <h2 class="govuk-heading-m card__heading">
                            <a class="govuk-link card__link govuk-link--no-visited-state" href="#">Enter an approved release date</a>
                        </h2>
                        <p class="govuk-body card__description">Enter and save a prisoner's confirmed release date</p>
                    </div>
                </li>
                <li class="govuk-grid-column-one-third card-group__item">
                    <div class="card card--clickable" data-test="manage-prisoner-whereabouts">
                        <h2 class="govuk-heading-m card__heading">
                            <a class="govuk-link card__link govuk-link--no-visited-state" href="crd-enter-rotl-date/enter-rotl-date">Enter a ROTL date</a>
                        </h2>
                        <p class="govuk-body card__description">Enter and save a prisoner's ROTL date</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <!-- Related information and Help and support -->
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m govuk-!-margin-top-4">Releated information</h2>
            <ul class="govuk-list">
                <li class="govuk-!-margin-bottom-2"><a href="supported-sentences">Sentence types supported by the Calculate release dates service</a></li>
                <li class="govuk-!-margin-bottom-2"><a href="">Print the Calculate release dates quick start guide</a></li>
                <li class="govuk-!-margin-bottom-2"><a href="">Read the latest Policy Framework</a></li>
            </ul>
            <h2 class="govuk-heading-m govuk-!-margin-top-6">Help and support</h2>
            <ul class="govuk-list">
                <li class="govuk-!-margin-bottom-2"><a href="">Email the Calculate release dates support mailbox</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}