{% extends "../../includes/layouts/template-linear.html" %}
{% block content %}
<!-- Back link -->
<div class="moj-width-container">
    <a href="calculation-reason" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-6">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                <span class="govuk-caption-xl">Calculate release dates</span>
                Check sentence and offence information
            </h1>

        </div>
    </div>
</div>



{% if data['scenario'] == '1' %}
<!-- NOMIS sentences -->
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
           <p class="govuk-body">This calculation will include 1 sentence from NOMIS.</p>
        </div>
    </div>
</div>
<!-- Court cases -->
<div class="moj-width-container govuk-!-margin-top-4"> 
    <!-- Count 1 -->
    <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Court case 1</h2>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <dl class="govuk-summary-list govuk-summary-list--no-border">
                
                
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Court name</dt>
                        <dd class="govuk-summary-list__value">Weston-super-Mare County Court</dd>
                    </div>
                
            </dl>
        </div>
    </div>
    <div class="offence-card sentence-card">
        <div class="offence-card-offence-details">
            <span class="govuk-body">Count 1</span>
            <h4 class="govuk-heading-s">TH68006 - Theft of pedal cycle
                </h4>
                <dl class="govuk-summary-list govuk-summary-list--no-border">
                
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Commited on
                    </dt>
                    <dd class="govuk-summary-list__value">
                        30 April 2025
                        
                    </dd>
                </div>
                
                
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        CJA Code
                    </dt>
                    <dd class="govuk-summary-list__value">
                        2020
            </dd>
            </div>
            
            
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Sentence type
            </dt>
            <dd class="govuk-summary-list__value">
                ORA Sentencing Code Standard Determinate Sentence
            </dd>
            </div>
            
            
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Sentence length
            </dt>
            <dd class="govuk-summary-list__value">
                
                0 years 0 months 8 weeks 0 days
                    </dd>
                </div>
                
                 
                
            </dl>
        </div>
    </div>

</div> 
    <!-- Adjustments -->
    <div class="moj-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-l govuk-!-margin-top-6">Adjustments</h2>
                <div class="govuk-tabs govuk-!-margin-top-4" data-module="govuk-tabs">
                    <ul class="govuk-tabs__list" role="tablist">
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
                            <a class="govuk-tabs__tab" href="#summary" data-qa="summary-tab-link" id="tab_summary"
                                role="tab" aria-controls="summary" aria-selected="true" tabindex="0">
                                Summary
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item" role="presentation">
                            <a class="govuk-tabs__tab" href="#detailed" data-qa="detailed-tab-link" id="tab_detailed"
                                role="tab" aria-controls="detailed" aria-selected="false" tabindex="-1">
                                Detailed
                            </a>
                        </li>
                    </ul>
                    <div class="govuk-tabs__panel" id="summary" role="tabpanel" aria-labelledby="tab_summary">
                        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Deductions</h3>
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col">Adjustment</th>
                                    <th class="govuk-table__header" scope="col">Days</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Recall remand</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">0</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Remand</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">
                                        0
                                    </td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Recall tagged bail</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">0</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Tagged bail</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">
                                        0
                                    </td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Restore additional days awarded (RADA)</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">0</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Unused remand</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">0</td>
                                </tr>
                            </tbody>
                        </table>
                        <h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-8 ">Additions</h3>
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col">Adjustment</th>
                                    <th class="govuk-table__header" scope="col">Days</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Additional days awarded (ADA)</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">0</td>
                                </tr>
 
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Unlawfully at large (UAL)</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">0
                                    </td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="detailed" role="tabpanel"
                        aria-labelledby="tab_detailed">
                       
                        <h3 class="govuk-heading-m govuk-!-margin-bottom-6">Additions</h3>
                        <h4 class="govuk-heading-s govuk-!-margin-bottom-2">UAL (Unlawfully at large)</h4>
                        <table class="govuk-table govuk-!-margin-bottom-8">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col">Dates</th>
                                    <th class="govuk-table__header" scope="col">Days</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">

                                
                                <tr class="govuk-table__row">
                            
                                    <td class="govuk-table__cell">From {{data['revocation-date-day']}}/{{data['revocation-date-month']}} {{data['revocation-date-year']}}  to {{data['arrest-date-day']}}/{{data['arrest-date-month']}}/{{data['arrest-date-year']}}</td>
                                   
                                    <td class="govuk-table__cell">0</td>
                                </tr> 
                                <tr class="govuk-table__row"> 
                                    <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">
                                        Total days</td> 
                                    <td class="govuk-table__cell">0
                                    </td>
                                </tr>
 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% elif data['scenario'] == '2' %}

{% else %}
<!-- NOMIS sentences -->
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
           <p class="govuk-body">This calculation will include 1 sentence from NOMIS.</p>
        </div>
    </div>
</div>
<!-- Court cases -->
<div class="moj-width-container govuk-!-margin-top-4"> 
    <!-- Count 1 -->
    <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Court case 1</h2>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <dl class="govuk-summary-list govuk-summary-list--no-border">
                
                
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Court name</dt>
                        <dd class="govuk-summary-list__value">Weston-super-Mare County Court</dd>
                    </div>
                
            </dl>
        </div>
    </div>
    <div class="offence-card sentence-card">
        <div class="offence-card-offence-details">
            <span class="govuk-body">Count 1</span>
            <h4 class="govuk-heading-s">TH68006 - Theft of pedal cycle
                </h4>
                <dl class="govuk-summary-list govuk-summary-list--no-border">
                
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Commited on
                    </dt>
                    <dd class="govuk-summary-list__value">
                        30 April 2025
                        
                    </dd>
                </div>
                
                
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        CJA Code
                    </dt>
                    <dd class="govuk-summary-list__value">
                        2020
            </dd>
            </div>
            
            
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Sentence type
            </dt>
            <dd class="govuk-summary-list__value">
                ORA Sentencing Code Standard Determinate Sentence
            </dd>
            </div>
            
            
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Sentence length
            </dt>
            <dd class="govuk-summary-list__value">
                
                0 years 0 months 8 weeks 0 days
                    </dd>
                </div>
                
                 
                
            </dl>
        </div>
    </div>

</div> 
    <!-- Adjustments -->
    <div class="moj-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-l govuk-!-margin-top-6">Adjustments</h2>
                <div class="govuk-tabs govuk-!-margin-top-4" data-module="govuk-tabs">
                    <ul class="govuk-tabs__list" role="tablist">
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
                            <a class="govuk-tabs__tab" href="#summary" data-qa="summary-tab-link" id="tab_summary"
                                role="tab" aria-controls="summary" aria-selected="true" tabindex="0">
                                Summary
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item" role="presentation">
                            <a class="govuk-tabs__tab" href="#detailed" data-qa="detailed-tab-link" id="tab_detailed"
                                role="tab" aria-controls="detailed" aria-selected="false" tabindex="-1">
                                Detailed
                            </a>
                        </li>
                    </ul>
                    <div class="govuk-tabs__panel" id="summary" role="tabpanel" aria-labelledby="tab_summary">
                        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Deductions</h3>
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col">Adjustment</th>
                                    <th class="govuk-table__header" scope="col">Days</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Recall remand</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">0</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Remand</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">
                                        0
                                    </td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Recall tagged bail</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">0</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Tagged bail</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">
                                        0
                                    </td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Restore additional days awarded (RADA)</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">0</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Unused remand</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">0</td>
                                </tr>
                            </tbody>
                        </table>
                        <h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-8 ">Additions</h3>
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col">Adjustment</th>
                                    <th class="govuk-table__header" scope="col">Days</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Additional days awarded (ADA)</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">0</td>
                                </tr>
 
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Unlawfully at large (UAL)</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">0
                                    </td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="detailed" role="tabpanel"
                        aria-labelledby="tab_detailed">
                       
                        <h3 class="govuk-heading-m govuk-!-margin-bottom-6">Additions</h3>
                        <h4 class="govuk-heading-s govuk-!-margin-bottom-2">UAL (Unlawfully at large)</h4>
                        <table class="govuk-table govuk-!-margin-bottom-8">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col">Dates</th>
                                    <th class="govuk-table__header" scope="col">Days</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">

                                
                                <tr class="govuk-table__row">
                            
                                    <td class="govuk-table__cell">From {{data['revocation-date-day']}}/{{data['revocation-date-month']}} {{data['revocation-date-year']}}  to {{data['arrest-date-day']}}/{{data['arrest-date-month']}}/{{data['arrest-date-year']}}</td>
                                   
                                    <td class="govuk-table__cell">0</td>
                                </tr> 
                                <tr class="govuk-table__row"> 
                                    <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">
                                        Total days</td> 
                                    <td class="govuk-table__cell">0
                                    </td>
                                </tr>
 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endif %}
    <!-- If some infomation is wrong -->
    <div class="moj-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-inset-text">
                    If you think some information is wrong, you can edit it in NOMIS and <a
                        href="check-sentence-and-offence-information?toShow=sentencesUpdated">reload this page</a>.
                </div>
            </div>
        </div>
    </div>

    <h2 class="govuk-heading-m govuk-!-margin-top-7">Now calculate release dates</h2>

<!-- ERSED checkbox -->
<div class="moj-width-container govuk-!-margin-top-2">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox"
                        value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label">
                        Include an Early release scheme eligibility date (ERSED) in this calculation
                    </label>
                    <div class="govuk-hint govuk-checkboxes__hint">
                        Not applicable for terror or terror-related offences
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Call to action -->
    <div class="moj-width-container govuk-!-margin-top-4">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">The release dates will not be saved in NOMIS until you have reviewed the
                    calculation.</p>
               
                    <div class="govuk-button-group">
                         
                        <form method="post" action="genuine-overrides/omu-2/calculation-summary">
                            <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-qa="submitReason">
                                Calculate release dates

                            </button>
                        </form> 
    
                        <form method="post" action="cancel">
                            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                Cancel
                            </button>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}