{% extends "./dps/includes/template.html" %}
{% block content %}
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-8">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Calculate release dates</h1>
            <span class="govuk-hint govuk-!-font-size-24 govuk-!-margin-bottom-8">Version 6</span>
        </div>
    </div>
</div>
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body govuk-!-margin-bottom-6">Select a scenario to view on the prototype. A breakdown of the calculation scenarios is <br><a href="https://docs.google.com/spreadsheets/d/1iCInVwKjW0SRdRTH5w7wwEpLghUnoQEQOtSBBHqysY4/edit?usp=sharing">on Google Drive</a>.</p>
            <ul class="govuk-list">
            <li><a href="version-6/scenario-1/">Scenario 1</a></li>
            <li><a href="version-6/scenario-2/">Scenario 2</a></li>
            <li><a href="version-6/scenario-3/">Scenario 3</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}