{% extends "../../dps/includes/template.html" %}
{% block content %}
<!-- Prisoner identity bar -->
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Colin Ball</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">15 May 2000</span><strong>Prison number: </strong>G2883VE</span>
            </div>
        </div>
    </div>
</div>
<!-- Back link -->
<div class="moj-width-container">
    <a href="check-sentence-and-offence-information" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-7">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
                Review calculation before submitting
            </h1>
        </div>
    </div>
</div>
<!-- Final release dates -->
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l govuk-!-margin-top-6">Final release dates</h2>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <div class="custom-card" style="background-color: #f3f2f1;">
                <div class="custom-card-main">
                    <!-- SLED -->
                    <h3 class="govuk-heading-s">Sentence and licence expiry date (SLED)</h3>
                    <p class="govuk-body">Saturday, 1 November 2025</p>
                    <!-- CRD -->
                    <h3 class="govuk-heading-s">Conditional release date (CRD)</h3>
                    <p class="govuk-body ">Saturday, 07 January 2023</p>
                    <p class="govuk-body govuk-hint govuk-!-font-size-16" data-qa="CRD-weekend-adjustment">Friday, 06 January 2023 when adjusted to a working day</p>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row govuk-!-margin-top-6">
        <div class="govuk-grid-column-two-thirds">
            <details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Why are some details missing?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    Some dates and details are not included as according to <a href="http://www.justice.gov.uk/downloads/offenders/psipso/psi-2015/psi-03-2015-sentence-calculation-determiante-sentenced-prisoners.pdf" target="_blank">PSI 03/2015 (opens in new tab)</a> they are not relevant to this person's circumstances.
                </div>
            </details>
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        How are final release dates calculated?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    Some calculations are made up of different sentences and terms, such as overlapping or concurrent sentences. The final release date comes from the sentence or term with the latest release date.
                </div>
            </details>
        </div>
    </div>
</div>
<!-- Calculation breakdown -->
<div class="moj-width-container govuk-!-margin-top-8">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="moj-timeline">
                <div class="moj-timeline__item">
                    <div class="moj-timeline__header">
                        <h2 class="moj-timeline__title">Concurrent sentences</h2>
                        <ul class="govuk-list govuk-!-font-size-16 govuk-hint govuk-!-margin-top-1">
                            <li>2 sentences</li>
                            <li>122 days, starting 17 July 2022</li>
                        </ul>
                    </div>
                    <div class="moj-timeline__description govuk-!-margin-top-0">
                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    Sentence details
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                <h3 class="govuk-heading-s">Aggravated burglary - dwelling</h3>
                                <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-font-size-16">
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key calc-timeline-summary-list-padding-fix">
                                            Sentence date
                                        </dt>
                                        <dd class="govuk-summary-list__value calc-timeline-summary-list-padding-fix">
                                            17 July 2020
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key calc-timeline-summary-list-padding-fix">
                                            Sentence length
                                        </dt>
                                        <dd class="govuk-summary-list__value calc-timeline-summary-list-padding-fix">
                                            12 months
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key calc-timeline-summary-list-padding-fix">
                                            SLED
                                        </dt>
                                        <dd class="govuk-summary-list__value calc-timeline-summary-list-padding-fix">
                                            16 July 2021
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key calc-timeline-summary-list-padding-fix">
                                            CRD
                                        </dt>
                                        <dd class="govuk-summary-list__value calc-timeline-summary-list-padding-fix">
                                            15 Janurary 2021
                                        </dd>
                                    </div>
                                </dl>
                                <h3 class="govuk-heading-s">Burglary dwelling - with intent to steal</h3>
                                <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-font-size-16">
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key calc-timeline-summary-list-padding-fix">
                                            Sentence date
                                        </dt>
                                        <dd class="govuk-summary-list__value calc-timeline-summary-list-padding-fix">
                                            13 December 2020
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key calc-timeline-summary-list-padding-fix">
                                            Sentence length
                                        </dt>
                                        <dd class="govuk-summary-list__value calc-timeline-summary-list-padding-fix">
                                            2 months
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key calc-timeline-summary-list-padding-fix">
                                            SLED
                                        </dt>
                                        <dd class="govuk-summary-list__value calc-timeline-summary-list-padding-fix">
                                            12 February 2021
                                            <div class="govuk-hint govuk-!-font-size-16 govuk-!-margin-top-1">300 days</div>
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key calc-timeline-summary-list-padding-fix">
                                            CRD
                                        </dt>
                                        <dd class="govuk-summary-list__value calc-timeline-summary-list-padding-fix">
                                            12 January 2021
                                            <div class="govuk-hint govuk-!-font-size-16 govuk-!-margin-top-1">150 days</div>
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </details>
                    </div>
                </div>
                <!--                 <div class="govuk-!-margin-left-4 govuk-!-margin-bottom-6">
                    <div class="moj-timeline__header">
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Consecutive sentences</h2>
                        <p class="moj-timeline__date">
                            <time datetime="2019-06-07T12:32:00.000Z">starting 20 March 2020</time>
                        </p>
                    </div>
                </div> -->
                <div class="moj-timeline__item">
                    <div class="moj-timeline__header">
                        <h2 class="moj-timeline__title">Burglary dwelling - with intent to steal</h2>
                        <p class="moj-timeline__date govuk-hint">
                            122 days, starting 20 March 2020
                        </p>
                    </div>
                    <div class="moj-timeline__description">
                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    Sentence details
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-font-size-16">
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key calc-timeline-summary-list-padding-fix">
                                            Sentence date
                                        </dt>
                                        <dd class="govuk-summary-list__value calc-timeline-summary-list-padding-fix">
                                            21 November 2020
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key calc-timeline-summary-list-padding-fix">
                                            Sentence length
                                        </dt>
                                        <dd class="govuk-summary-list__value calc-timeline-summary-list-padding-fix">
                                            8 months
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key calc-timeline-summary-list-padding-fix">
                                            SLED
                                        </dt>
                                        <dd class="govuk-summary-list__value calc-timeline-summary-list-padding-fix">
                                            21 July 2021
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key calc-timeline-summary-list-padding-fix">
                                            CRD
                                        </dt>
                                        <dd class="govuk-summary-list__value calc-timeline-summary-list-padding-fix">
                                            21 March 2021
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="moj-timeline__item">
                    <div class="moj-timeline__header">
                        <h2 class="moj-timeline__title">Burglary dwelling - with intent to steal</h2>
                        <p class="moj-timeline__date govuk-hint">
                            starting 21 March 2021
                        </p>
                    </div>
                    <div class="moj-timeline__description">
                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    Sentence details
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-font-size-16">
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key calc-timeline-summary-list-padding-fix">
                                            Sentence date
                                        </dt>
                                        <dd class="govuk-summary-list__value calc-timeline-summary-list-padding-fix">
                                            21 November 2020
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key calc-timeline-summary-list-padding-fix">
                                            Sentence length
                                        </dt>
                                        <dd class="govuk-summary-list__value calc-timeline-summary-list-padding-fix">
                                            8 months
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key calc-timeline-summary-list-padding-fix">
                                            SLED
                                        </dt>
                                        <dd class="govuk-summary-list__value calc-timeline-summary-list-padding-fix">
                                            21 November 2021
                                        </dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key calc-timeline-summary-list-padding-fix">
                                            CRD
                                        </dt>
                                        <dd class="govuk-summary-list__value calc-timeline-summary-list-padding-fix">
                                            21 July 2021
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="moj-timeline__item govuk-!-margin-bottom-2">
                    <div class="moj-timeline__header">
                        <h2 class="moj-timeline__title">Conditional release date (CRD)</h2>
                    </div>
                    <div class="moj-timeline__description govuk-!-margin-top-0">
                        <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-1">20 March 2023</p>
                        <div class="govuk-hint govuk-!-font-size-16">
                            19 November 2025 minus 18 days
                        </div>
                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    Adjustments
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
                            </div>
                        </details>
                    </div>
                </div>
            </div>
            <div class="moj-timeline__item last-timeline-item">
                <div class="moj-timeline__header">
                    <h2 class="moj-timeline__title">Sentence and Licence Expiry Date (SLED)</h2>
                </div>
                <div class="moj-timeline__description govuk-!-margin-top-0">
                    <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-1">20 March 2025</p>
                    <div class="govuk-hint govuk-!-font-size-16">
                        19 November 2025 minus 18 days
                    </div>
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Adjustments
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
                        </div>
                    </details>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m govuk-!-margin-top-8">Confirm and submit to NOMIS</h3>
            <p class="govuk-body">By submitting this calculation you are confirming that, to the best of your knowledge, it is correct. The calculation will be saved in NOMIS.</p>
            <a href="calculation-complete.html">
                <button class="govuk-button" data-module="govuk-button">Confirm and submit</button>
            </a>
            <p class="govuk-body govuk-!-font-size-16"><a href="calculation-cancelled.html" class="govuk-link">Cancel calculation</a></p>
        </div>
    </div>
</div>
{% endblock %}