{% extends "../../../includes/layouts/template-linear.html" %}
{% set adjustmentsActive = true %}
{% block content %}
    <a href="../index.html" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-6">
            <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">Adjustments</span>Tagged bail overview</h1>
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">Tagged Bail details</caption>
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Court name</th>
                    <th scope="col" class="govuk-table__header">Case reference</th>
                    <th scope="col" class="govuk-table__header">Days</th>
                    <th scope="col" class="govuk-table__header">Actions</th>
                </tr>
                </thead>
                <tbody id="TaggedBailDetails" class="govuk-table__body">

                </tbody>
                <tfoot>
                    <tr class="govuk-table__row">
    
      
      
                        <td class="govuk-table__cell">Bristol Magistrates Court</td>
                        
                      
                        
                        
                        <td class="govuk-table__cell">T20223256</td>
                        
                      
                        
                        
                        <td class="govuk-table__cell">5</td>
                        
                      
                        
                        
                        <td class="govuk-table__cell">
                        <div class="govuk-grid-column-one-quarter govuk-!-margin-right-2 govuk-!-padding-0">
                          <a class="govuk-link" href="edit-tagged-bail" data-qa="edit-523d5a1d-4824-421d-8b3b-934d1cc29d49">Edit<span class="govuk-visually-hidden"> 2 days of tagged bail at Amersham Crown Court</span></a><br>
                        </div>
                        <div class="govuk-grid-column-one-half govuk-!-padding-0">
                          <a class="govuk-link" href="#" data-qa="delete-523d5a1d-4824-421d-8b3b-934d1cc29d49">Delete<span class="govuk-visually-hidden"> 2 days of tagged bail at Amersham Crown Court</span></a><br>
                        </div>
                      </td>
                        
                      
                      </tr>
                </tfoot>
            </table>

            <div class="govuk-!-margin-bottom-6">
                <a href="select-case" class="govuk-button" data-module="govuk-button">
                    Add new
                </a>
            </div>

        </div>
    </div>


<script src="/public/javascripts/add-remand.js"></script>
{% endblock %}