{% extends "./dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <h1 class="govuk-heading-xl govuk-!-margin-top-8">
        Calculate release dates
    </h1>
    <p>Automatically calculate an prisoner’s release dates using information from NOMIS.</p>
    <div class="govuk-inset-text">
        Only standard determinate sentences (SDS) work with this service currently.
    </div>
    <a href="search-for-prisoner.html" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
    </a>
    <h2 class="govuk-heading-m">Before you start</h2>
    <p class="govuk-body">Check in NOMIS that the offender information includes:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>court cases</li>
        <li>court dates</li>
        <li>offences</li>
        <li>offence dates</li>
        <li>sentences</li>
        <li>adjustments </li>
    </ul>
</div>
{% endblock %}