{% extends "../../../includes/layouts/template-linear.html" %}
{% set adjustmentsActive = true %}
{% block content %}
<div class="">
    <div class="">
        <a href="review-unused-deductions" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">

                    <h1 class="govuk-heading-l">
                        <span class="govuk-caption-xl">Adjustments</span>
                        Edit tagged bail</h1>
                    <div id="">

                    </div>
                    <h2 class="govuk-heading-m">Tagged bail details</h2>


                    <div class="govuk-!-margin-top-6" id="EditTaggedBail">
                        <dl class="govuk-summary-list">

  
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Case details
                              </dt>
                              <dd class="govuk-summary-list__value">
                                Bristol Magistrates Court <span class="vertical-bar"></span>  <br>01 Jan 2023
                              </dd>
                              
                              <dd class="govuk-summary-list__actions">
                                      <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden"> case details</span></a>
                                
                              </dd>
                              
                            </div>
                            
                          
                            
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__key">
                                Number of days
                              </dt>
                              <dd class="govuk-summary-list__value">
                                3
                              </dd>
                              
                              <dd class="govuk-summary-list__actions">
                                      <a class="govuk-link" href="edit-days">Edit<span class="govuk-visually-hidden"> days</span></a>
                                
                              </dd>
                              
                            </div>
                            
                          
                          </dl>
                    </div>

                    <div class="govuk-button-group">
<!--                        <a href="../index-1" id="editTaggedBailButton" class="govuk-button" data-journey="4">-->
<!--                            Save-->
<!--                        </a>-->
                        <a href="view-tagged-bail-3" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Cancel
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/add-remand-mvp.js"></script>
{% endblock %}