{% extends "../../../../includes/layouts/template-no-identity-bar.html" %}
{% block content %} 
<!-- Back link -->
<!-- <div class="moj-width-container">
    <a href="../release-dates" class="govuk-back-link">Back</a>
</div> -->
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-6">
    <div class="govuk-grid-row"> 
        <div class="govuk-grid-column-two-thirds">
            <form method="post" action="confirm-person">

                <div class="govuk-form-group">

                    <fieldset class="govuk-fieldset" aria-describedby="calculationReasonId-hint">
                    
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <span class="govuk-caption-xl">Sepcialist support team override tool</span>
                            <h1 class="govuk-fieldset__heading">
                            Look up a calculation
                            </h1>
                        </legend>  

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="event-name">
                             Enter the calculation reference number
                            </label>
                            <input class="govuk-input" id="calculation-reference" name="calcRef" type="text">
                          </div>
                    </fieldset> 
 
                </div> 

            
                <div class="govuk-button-group"> 
                        <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-qa="submitReason">
                            Continue
                        </button> 
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}