{% extends "../includes/layouts/template-linear.html" %}
{% set adjustmentsActive = true %}
{% block content %}

<!-- Back link -->
<div class="moj-width-container">
    <a href="overview" class="govuk-back-link">Back</a>
</div>

<div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">
            <span class="govuk-caption-xl">Recall details</span>
            Recorded on {{ "today" | govukDate }}
        </h1>
    </div>
</div> 
 


<div class="govuk-grid-row">  
   
    <div class="govuk-grid-column-two-thirds"> 
        <!-- <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Recorded date</th> 
                    <th scope="col" class="govuk-table__header">Date of revocation</th>
                    <th scope="col" class="govuk-table__header">Arrest date</th>
                    <th scope="col" class="govuk-table__header">Recall type</th> 
                </tr>
            </thead>
            <tbody class="govuk-table__body"> 
 
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">23 July 2024</td>
                    <td class="govuk-table__cell">22 July 2024</td>
                    <td class="govuk-table__cell">22 July 2024</td>
                    <td class="govuk-table__cell"> 14-day fixed-term</td> 
                </tr>
 
                </tr>
            </tbody>
        </table> -->

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title"> 
                Recall details
              </h2>
             
              <ul class="govuk-summary-card__actions" style="align-content: center;">
                  <li class="govuk-summary-card__action"> <a class="govuk-link" href="recalls//edit/edit-a-recall">Edit</a>
                  </li> 
               
              </ul>
           </div>
          <div class="govuk-summary-card__content" id="release-dates">
            <dl class="govuk-summary-list">
              <!-- <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Recorded date
                </dt>
                <dd class="govuk-summary-list__value">
                  3 September 2024
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div> -->
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of revocation
                </dt>
                <dd class="govuk-summary-list__value">
                  
                  {{data['revocation-date-day']}} {{data['revocation-date-month']}} {{data['revocation-date-year']}} 
                </dd>
                <dd class="govuk-summary-list__actions">
                  <!-- <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden">Date of revocation</span></a> -->
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Arrest date
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['arrest-date-day']}}/{{data['arrest-date-month']}}/{{data['arrest-date-year']}} 
                </dd>
                <dd class="govuk-summary-list__actions">
                  <!-- <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden">arrest date</span></a> -->
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Recall type
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['recall-type']}}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <!-- <a class="govuk-link" href="#">Edit<span class="govuk-visually-hidden">arrest date</span></a> -->
                </dd>
              </div>
            </dl> 
          </div>
        </div>


 
        <h2 class="govuk-heading-m">
          <!-- <span class="govuk-caption-xl">Recall details</span> -->
          Associated calculations
      </h2>
      {% if data['toShow'] == 'calcComplete' %}

      <table class="govuk-table">
          <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Calculation date</th>
                  <th scope="col" class="govuk-table__header">Calculation reason</th>
                  <th scope="col" class="govuk-table__header">Establishment</th>
                  <th scope="col" class="govuk-table__header">Source</th>
              </tr>
          </thead>
          <tbody class="govuk-table__body">  
              <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="calculation-history/11-03-2023/check-sentence-and-offence-information">{{ "today" | govukDate }}</a></td>
                  <td class="govuk-table__cell" data-sort-value="8850">Recording a recall</td>
                  <td class="govuk-table__cell">HMP Kirkham</td>
                  <td class="govuk-table__cell">Calculate release dates service</td> 
              </tr> 
          </tbody>
      </table>

      {% elif data['toShow'] == 'calc2Complete' %}


      <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Calculation date</th>
                <th scope="col" class="govuk-table__header">Calculation reason</th>
                <th scope="col" class="govuk-table__header">Establishment</th>
                <th scope="col" class="govuk-table__header">Source</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">  
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="calculation-history/03-01-2023/check-sentence-and-offence-information">{{ "today" | govukDate }}</a></td>
            <td class="govuk-table__cell" data-sort-value="8850">Recording a recall</td>
            <td class="govuk-table__cell">HMP Kirkham</td>
            <td class="govuk-table__cell">Calculate release dates service</td> 
        </tr> 
            <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="calculation-history/11-03-2023/check-sentence-and-offence-information">{{ "today" | govukDate }}</a></td>
                <td class="govuk-table__cell" data-sort-value="8850">Recording a recall</td>
                <td class="govuk-table__cell">HMP Kirkham</td>
                <td class="govuk-table__cell">Calculate release dates service</td> 
            </tr> 
        </tbody>
    </table>
      {% else %}
      <p>There are no calculations associated with this recall.</p>
      {% endif %}

    </div>
  
</div>
 
   
<script>
function toggleAlert() {
    var x = document.getElementById("alert");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>
{% endblock %}