// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';
$moj-page-width: 1170px;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// DPS header
@import "components/dps-header";

// Hero banner (masthead)
@import "components/masthead";

// Date / time picker styles only
@import "components/date_time";

// Navigation cards and DPS home stuff
@import "components/cards";

// Location bar
@import "components/location-bar";

// prisoner results
@import "components/prisoner-results";

// sortable table
@import "components/sortable-table";

// print link
@import "components/print-link";

// BaSM styles
@import "components/basm";

// DPS profile styles
@import "components/prisonerProfile/prisoner-alerts";
@import "components/prisonerProfile/prisoner-full-image";
@import "components/prisonerProfile/prisoner-personal";
@import "components/prisonerProfile/prisoner-profile";
@import "components/prisonerProfile/prisoner-profile-header";
@import "components/prisonerProfile/prisoner-profile-footer";
@import "components/prisonerProfile/prisoner-schedule";
@import "components/prisonerProfile/prisoner-visits";
@import 'components/prisonerSearch/prisoner-search';
@import 'components/prisonerSearch/prisoner-panel';

@import "components/modal";
@import "components/govuk-cards";
@import "components/govuk-grid";

@import "components/matcher";

// RaP styles

@import "components/rap-styles";

.custom-card {
  border: 1px solid #bfc1c3;
  padding: 20px 20px 0px 20px;
  margin: 30px 0;
}

.custom-card-main:after {
  content: "";
  display: block;
  clear: both;
}