{% extends "../template.html" %}
{% block content %}
<!-- Prisoner identity bar -->
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Colin Ball</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">15 May 2000</span><strong>Prison number: </strong>G2883VE</span>
            </div>
        </div>
    </div>
</div>
<!-- Back link -->
<div class="moj-width-container">
    <a href="check-sentence-and-offence-information" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-6">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">Calculate release dates</span>
            <h1 class="govuk-heading-xl">
                Manual calculation required
            </h1>
            <p class="govuk-body">One or more of the sentence types in this calculation is not currently supported by the Calculate release dates service:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>ORA Breach Top Up Supervision</li>
            </ul>
            <h2 class="govuk-heading-m">What you need to do</h2>
            <ul class="govuk-list govuk-list--number">
                <li>Complete a calculation using a paper calculation sheet</li>
                <li>Come back to this page</li>
                <li>Enter the release dates</li>
            </ul>
            <p class="govuk-body">This will be recorded as a manual calculation on NOMIS.</p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <form>
            <a href="what-dates-do-you-need-to-enter" class="govuk-button prisoner-search__button govuk-!-margin-top-4">Continue</a>
        </form>
    </div>
</div>
</div>
{% endblock %}