{% extends "../../../../includes/layouts/template-linear.html" %}
{% block content %}
<!-- Back link -->
<div class="moj-width-container">
    <a href="review-warrants" class="govuk-back-link">Back</a>
</div>
<!-- Page intro --> 
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6"> 

        <fieldset class="govuk-fieldset" aria-describedby="calculationReasonId-hint">
                    
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              <span class="govuk-caption-l">Calculate release dates</span>
             Do you need to upload additional documents?
            </h1>
          </legend> 
          <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Other document types you can include
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet"> 
  <li>Immigration detention order</li>   
  <li>Court extract (magistrates’ court – where required)</li>
  <li>Appeal order</li>
  <li>DISTs containing details of any added days awarded (ADAs) on adjudication</li>
  <li>Evidence of date of arrest (where applicable)</li>
  <li>Evidence of police custody (where applicable)</li>
  <li>E-mail evidence from courts/CPS, or other agency, containing information relevant to the calculation</li>
  <li>Decision from the Public Protection Casework Section (PPCS) to allow time spent abroad pending extradition to count</li>
  <li>Letter from the Cross Border Transfer Section for prisoners transferred from other jurisdictions</li>
  <li>Advice provided by the sentence calculation helpline team in the event that they were consulted about a complex calculation</li>
  <li>Decision from PPCS where special remission (RPM) has been granted</li>
  <li>Decision from the Secretary of State for Justice (SSJ), or from PPCS as a delegated authority, where early release on compassionate grounds (ERCG) has been granted</li>
  <li>Parole Board release (including re-release after recall) decision</li>
  <li>Pay-out proforma giving effect to a release (where applicable)</li>
  <li>Decision to authorise removal under the Early Removal Scheme (ERS)</li>
  <li>Decision from PPCS authorising removal under the Tariff Expiry Removal Scheme (TERS)</li>
  <li>Confirmation of imposition of a non-custodial sentence from court i.e. discharge authorisation form escort staff</li>
  <li>Court bail decision and bail release paperwork</li>
  <li>Home Detention Curfew approval form</li>
  <li>Sentence calculation sheet(s)</li>
  <li>Release licence</li>
  <li>Final court decision and confirmation of type of recall.</li> 
</ul>
  </div>
</details>

         <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="additional-documents" name="appearance[additional-documents]" type="radio" value="yes" aria-controls="conditional-additional-documents" aria-expanded="true">
              <label class="govuk-label govuk-radios__label" for="additional-documents">
                Yes
              </label>
            </div> 
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="additional-documents-2" name="appearance[additional-documents]" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="additional-documents-2">
                No
              </label>
            </div>
                </div>
      </fieldset> 

      </div>
</div> 



<div class="moj-width-container govuk-!-margin-top-6">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds"> 
            
                <div class="govuk-button-group">
                    <form method="post" action="upload-supporting-document">
                        <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-qa="submitReason">
                            Continue
                        </button>
                    </form>

                    <form method="post" action="cancel">
                        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Cancel
                        </button>
                    </form>
                </div>
            <!-- <p class="govuk-body govuk-!-font-size-16"><a href="../release-dates" class="govuk-link">Cancel calculation</a></p> -->
        </div>
    </div>
</div>
{% endblock %}