{% extends "../../includes/layouts/template-linear.html" %}
{% block content %}
<!-- Back link -->
<div class="moj-width-container">
    <a href="calculation-reason" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-6">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                <span class="govuk-caption-xl">Calculate release dates</span>
                Check sentence and offence information
            </h1>

        </div>
    </div>
</div>


 
<!-- NOMIS sentences -->
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
           <p class="govuk-body">This calculation will include 1 sentence from NOMIS.</p>
        </div>
    </div>
</div>
<!-- Court cases -->
<div class="moj-width-container govuk-!-margin-top-4"> 
    <!-- Count 1 -->
    <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Court case 1</h2>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <dl class="govuk-summary-list govuk-summary-list--no-border">
                
                
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Court name</dt>
                        <dd class="govuk-summary-list__value">Weston-super-Mare County Court</dd>
                    </div>
                
            </dl>

    <div class="offence-card sentence-card">
        <div class="offence-card-offence-details">
            <span class="govuk-body">Count 1</span>
            <h4 class="govuk-heading-s">TH68006 - Theft of pedal cycle
                </h4>
                <dl class="govuk-summary-list govuk-summary-list--no-border">
                
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Commited on
                    </dt>
                    <dd class="govuk-summary-list__value">
                        10 August 2025
                        
                    </dd>
                </div>
                
                
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        CJA Code
                    </dt>
                    <dd class="govuk-summary-list__value">
                        2020
            </dd>
            </div>
            
            
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Sentence type
            </dt>
            <dd class="govuk-summary-list__value">
                ORA Sentencing Code Standard Determinate Sentence
            </dd>
            </div>
            
            
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Sentence length
            </dt>
            <dd class="govuk-summary-list__value">
                
                0 years 0 months 8 weeks 0 days
                    </dd>
                </div>
                
                 
                
            </dl>
        </div>
    </div>

        </div>
    </div>

</div> 


    <!-- Adjustments -->
<div class="moj-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l govuk-!-margin-top-6">Adjustments</h2>

      <h3 class="govuk-heading-m">Deductions</h3>

      <!-- Remand -->
      <h4 id="remand-heading" class="govuk-heading-s govuk-!-margin-bottom-1">Remand</h4>
      <table class="govuk-table" aria-labelledby="remand-heading">
        <thead>
          <tr>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Dates</th>
            <th scope="col" class="govuk-table__header">Days</th> 
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers"><span class="govuk-!-margin-right-2">07/02/2015 to 21/02/2015</span><strong class="govuk-tag govuk-tag--grey govuk-!-margin-top-1">Recall</strong> </td>
            <!-- <td class="govuk-table__cell govuk-!-font-tabular-numbers">06/03/2015 to 20/03/2015</td> -->
            <td class="govuk-table__cell govuk-!-font-tabular-numbers">15</td> 
          </tr>
          <tr>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers">06/03/2015 to 20/03/2015</td>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers">15</td> 
          </tr> 
          <tr>
            <th scope="row" class="govuk-table__header">Total days</th>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers"><b>30 including 5 days unused</b></td>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers"></td>
          </tr>
        </tbody>
      </table>


      <!-- Recall remand -->
      <!-- <h4 id="recall-remand-heading" class="govuk-heading-s govuk-!-margin-bottom-1">Recall remand</h4>
      <table class="govuk-table" aria-labelledby="recall-remand-heading">
        <thead>
          <tr>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Dates</th>
            <th scope="col" class="govuk-table__header">Days</th> 
          </tr>
        </thead>
        <tbody> 
          <tr>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers">07/04/2016 to 22/04/2016</td>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers">15</td> 
          </tr>
          <tr>
            <th scope="row" class="govuk-table__header">Total days</th>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers"><b>15</b></td>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers"></td>
          </tr>
        </tbody>
      </table> -->

      <!-- Tagged bail -->
      <h4 id="tagged-bail-heading" class="govuk-heading-s govuk-!-margin-bottom-1">Tagged bail</h4>
      <table class="govuk-table" aria-labelledby="tagged-bail-heading">
        <thead>
          <tr>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Court case</th>
            <th scope="col" class="govuk-table__header">Days</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="govuk-table__cell">Court case 1</td>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers">5</td>
          </tr>
          <tr>
            <td class="govuk-table__cell"><span class="govuk-!-margin-right-2">Court case 2</span><strong class="govuk-tag govuk-tag--grey govuk-!-margin-top-1">Recall</strong> </td>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers">5</td>
          </tr>
          <tr>
            <th scope="row" class="govuk-table__header">Total days</th>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers"><b>5 including 5 days unused</b></td>
          </tr>
        </tbody>
      </table>

      <!-- Recall Tagged bail -->
      <!-- <h4 id="recall-tagged-bail-heading" class="govuk-heading-s govuk-!-margin-bottom-1">Recall tagged bail</h4>
      <table class="govuk-table" aria-labelledby="recall-tagged-bail-heading">
        <thead>
          <tr>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Court case</th>
            <th scope="col" class="govuk-table__header">Days</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="govuk-table__cell">Court case 2</td>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers">5</td>
          </tr>
          <tr>
            <th scope="row" class="govuk-table__header">Total days</th>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers"><b>5</b></td>
          </tr>
        </tbody>
      </table> -->


      <!-- Unused deductions -->
      <!-- <h4 id="unused-deductions-heading" class="govuk-visually-hidden ">Unused deductions</h4>
      <dl class="govuk-summary-list govuk-summary-list--no-border" aria-labelledby="unused-deductions-heading">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-font-weight-regular govuk-!-width-one-half">Days of unused deductions</dt>
          <dd class="govuk-summary-list__value">10</dd>
        </div>
      </dl>  -->

<!-- 
      <p id="unused-deductions-heading" class="govuk-body  govuk-!-margin-bottom-2">10 days of unused deductions</p>
      <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-6"> -->

      <!-- Time spent abroad -->
      <h4 id="custody-abroad-heading" class="govuk-heading-s govuk-!-margin-bottom-1">Time spent in custody abroad</h4>
      <dl class="govuk-summary-list" aria-labelledby="custody-abroad-heading">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Total days</dt>
          <dd class="govuk-summary-list__value govuk-!-font-tabular-numbers"><b>5</b></dd>
        </div>
      </dl>

      <!-- <h4 id="custody-abroad-heading" class="govuk-heading-s govuk-!-margin-bottom-1">Time spent in custody abroad</h4>
      <table class="govuk-table" aria-labelledby="custody-abroad-heading">
        <thead>
          <tr>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Type</th>
            <th scope="col" class="govuk-table__header">Days</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="govuk-table__cell">Sentencing warrant from the court</td>
            <td class="govuk-table__cell">5</td>
          </tr>
          <tr>
            <th scope="row" class="govuk-table__header">Total days</th>
            <td class="govuk-table__cell"><b>5</b></td>
          </tr>
        </tbody>
      </table> -->

      <!-- RADA --> 
      <h4 id="rada-heading" class="govuk-heading-s govuk-!-margin-bottom-1">RADA (Restoration of additional days awarded)</h4> 
      <!-- <dl class="govuk-summary-list" aria-labelledby="rada-heading">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Total days</dt>
          <dd class="govuk-summary-list__value govuk-!-font-tabular-numbers"><b>5</b></dd>
        </div>
      </dl>  -->
 
      <table class="govuk-table" aria-labelledby="rada-heading">
        <thead>
          <tr>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Date of days restored</th>
            <th scope="col" class="govuk-table__header">Days</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="govuk-table__cell  govuk-!-font-tabular-numbers">11/05/2025</td>
            <td class="govuk-table__cell  govuk-!-font-tabular-numbers">5</td>
          </tr>
          <tr>
            <th scope="row" class="govuk-table__header">Total days</th>
            <td class="govuk-table__cell  govuk-!-font-tabular-numbers"><b>5</b></td>
          </tr>
        </tbody>
      </table> 

      <!-- Special remission -->
      <h4 id="special-remission-heading" class="govuk-heading-s govuk-!-margin-bottom-1">Special remission</h4>
      <!-- <dl class="govuk-summary-list" aria-labelledby="special-remission-heading">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Total days</dt>
          <dd class="govuk-summary-list__value govuk-!-font-tabular-numbers"><b>5</b></dd>
        </div>
      </dl>  -->

      <table class="govuk-table" aria-labelledby="special-remission-heading">
        <thead>
          <tr>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Type</th>
            <th scope="col" class="govuk-table__header">Days</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="govuk-table__cell  govuk-!-font-tabular-numbers">Release in error</td>
            <td class="govuk-table__cell  govuk-!-font-tabular-numbers">5</td>
          </tr>
          <tr>
            <th scope="row" class="govuk-table__header">Total days</th>
            <td class="govuk-table__cell  govuk-!-font-tabular-numbers"><b>5</b></td>
          </tr>
        </tbody>
      </table> 

      
      <!-- Total deductions -->
      <!-- <h4 id="total-deductions-heading" class="govuk-visually-hidden ">Total deductions</h4>
      <dl class="govuk-summary-list govuk-summary-list--no-border" aria-labelledby="unused-deductions-heading">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Total deductions</dt>
          <dd class="govuk-summary-list__value govuk-!-font-weight-bold">50 days</dd>
        </div>
      </dl>  -->

      <h3 class="govuk-heading-m">Additions</h3>

      <!-- ADA -->
      <h4 id="ada-heading" class="govuk-heading-s govuk-!-margin-bottom-1">ADA (Additional days awarded)</h4>
      <!-- <dl class="govuk-summary-list" aria-labelledby="ada-heading">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Total days</dt>
          <dd class="govuk-summary-list__value govuk-!-font-tabular-numbers"><b>5</b></dd>
        </div>
      </dl>   -->
      
      <table class="govuk-table" aria-labelledby="ada-heading">
        <thead>
          <tr>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Charge number</th>
            <th scope="col" class="govuk-table__header">Days</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">To be served</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="govuk-table__cell  govuk-!-font-tabular-numbers">1523211</td>
            <td class="govuk-table__cell  govuk-!-font-tabular-numbers">5</td>
            <td class="govuk-table__cell">Fortwith</td>
          </tr>
          <tr>
            <td class="govuk-table__cell  govuk-!-font-tabular-numbers">1523232</td>
            <td class="govuk-table__cell  govuk-!-font-tabular-numbers">5</td>
            <td class="govuk-table__cell">Consecutive to charge 1523211</td>
          </tr>
          <tr>
            <th scope="row" class="govuk-table__header">Total days</th>
            <td class="govuk-table__cell  govuk-!-font-tabular-numbers"><b>5</b></td>
            <td class="govuk-table__cell"><b></b></td>
          </tr>
        </tbody>
      </table> 

      <!-- UAL -->
      <h4 id="ual-heading" class="govuk-heading-s govuk-!-margin-bottom-1">UAL (Unlawfully at large)</h4>
      <table class="govuk-table" aria-labelledby="ual-heading">
        <thead>
          <tr>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Dates</th>
            <th scope="col" class="govuk-table__header">Days</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Type</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers">20/05/2024 to 25/05/2024</td>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers">6</td>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers">Unknown</td>
          </tr>
          <tr>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers">01/06/2024 to 06/06/2024</td>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers">6</td>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers">Recall</td>
          </tr>
          <tr>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers">10/06/2024 to 20/07/2024</td>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers">39</td>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers">Immigration detention</td>
          </tr>
          <tr>
            <th scope="row" class="govuk-table__header">Total days</th>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers"><b>51</b></td>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers"></td>
          </tr>
        </tbody>
      </table>

      <!-- LAL -->
      <h4 id="lal-heading" class="govuk-heading-s govuk-!-margin-bottom-1">LAL (Lawfully at large)</h4>
      <table class="govuk-table" aria-labelledby="lal-heading">
        <thead>
          <tr>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Dates</th>
            <th scope="col" class="govuk-table__header">Days</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Delay release dates</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers">20/05/2024 to 22/05/2024</td>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers">3</td>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers">Yes</td>
          </tr>
          <tr>
            <th scope="row" class="govuk-table__header">Total days</th>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers"><b>3</b></td>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers"><b></b></td>
          </tr>
        </tbody>
      </table>

      <!-- Appeal -->
      <h4 id="appeal-heading" class="govuk-heading-s govuk-!-margin-bottom-1">Time spent as an appeal applicant not to count</h4>
        <!-- <dl class="govuk-summary-list" aria-labelledby="appeal-heading">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">Total days</dt>
          <dd class="govuk-summary-list__value govuk-!-font-tabular-numbers"><b>5</b></dd>
        </div>
      </dl>   -->
         <table class="govuk-table" aria-labelledby="appeal-heading">
        <thead>
          <tr>
            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Court of Appeal reference number</th>
            <th scope="col" class="govuk-table__header">Days</th> 
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers">R343567654</td>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers">6</td> 
          </tr>
          <tr>
            <th scope="row" class="govuk-table__header">Total days</th>
            <td class="govuk-table__cell govuk-!-font-tabular-numbers"><b>6</b></td> 
          </tr>
        </tbody>
      </table> 
        
      <!-- Total additions -->
      <!-- <h4 id="total-additions-heading" class="govuk-visually-hidden ">Total additions</h4>
      <dl class="govuk-summary-list govuk-summary-list--no-border" aria-labelledby="unused-deductions-heading">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key  govuk-!-width-one-half">Total additions</dt>
          <dd class="govuk-summary-list__value govuk-!-font-weight-bold">70 days</dd>
        </div>
      </dl>  -->

    </div>
  </div>
</div>

  
    <!-- If some infomation is wrong -->
    <div class="moj-width-container ">
        <div class="govuk-grid-row"> 
            <div class="govuk-grid-column-two-thirds">

            <p class="govuk-body govuk-!-margin-top-4">
                You can edit or add more adjustments in the <a href="../adjustments">adjustments service</a>.
            </p>  

            <div class="govuk-inset-text govuk-!-margin-top-6">
                If you think some information is wrong, you can edit it in NOMIS and <a
                    href="check-sentence-and-offence-information?toShow=sentencesUpdated">reload this page</a>.
            </div>  

            <h2 class="govuk-heading-l govuk-!-margin-top-6">Now calculate release dates</h2>
    </div>
    </div>
    </div>
  
<!-- ERSED checkbox -->
<div class="moj-width-container govuk-!-margin-top-2">
    <div class="govuk-grid-row"> 
        
            <div class="govuk-grid-column-two-thirds">

            <div class="govuk-checkboxes govuk-checkboxes " data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox"
                        value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" style="padding-top: 0px;">
                        Include an Early release scheme eligibility date (ERSED) in this calculation
                    </label>
                    <div class="govuk-hint govuk-checkboxes__hint">
                        Not applicable for terror or terror-related offences
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
    <!-- Call to action -->
    <div class="moj-width-container govuk-!-margin-top-4">
        <div class="govuk-grid-row"> 

        
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">The release dates will not be saved in NOMIS until you have reviewed the
                    calculation.</p>
               
                    <div class="govuk-button-group">
                         
                        <form method="post" action="genuine-overrides/omu-2/calculation-summary">
                            <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-qa="submitReason">
                                Calculate release dates

                            </button>
                        </form> 
    
                        <form method="post" action="cancel">
                            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                Cancel
                            </button>
                        </form>
                    </div> 
        </div>
    </div>
</div>

{% endblock %}