{% extends "../../../../includes/layouts/template-no-identity-bar.html" %}
{% block content %}
<!-- Back link -->
<div class="moj-width-container">
    <a href="start-page" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="govuk-width-container govuk-!-margin-top-6">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Calculations dashboard
            </h1>

        </div>
    </div>
</div>

{% endblock %}