{% extends "../../../../includes/layouts/template-linear.html" %}
{% block content %} 
<!-- Back link -->
<div class="moj-width-container">
    <a href="../../release-dates" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-6">
    <div class="govuk-grid-row"> 
            
        <div class="moj-width-container">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
            Review calculation
        </h1> 

            <!-- <h3 class="govuk-heading-l govuk-!-margin-bottom-2">Calculation details</h3> -->
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds ">

            <h2 class="govuk-heading-m">
                Case summary
            </h2> 
            <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-6">
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Reported on
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ "today" | govukDate }} at 11:00
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Reported by
                </dt>
                <dd class="govuk-summary-list__value">
                   <a href="">Eddie Elephant</a><br>HMP Risley
                </dd>
                </div> 
                <!-- <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Sentences included in this calculation
                </dt>
                <dd class="govuk-summary-list__value">
                    2
                </dd>
                </div> -->
            </dl>
        </div>
    </div>

            <nav class="moj-sub-navigation" aria-label="Sub navigation">

                <ul class="moj-sub-navigation__list">

                    <li class="moj-sub-navigation__item">
                        <a class="moj-sub-navigation__link" aria-current="page" href="calculation-summary">Calculation summary</a>
                        </li>
                    <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link"  href="#">Supporting information</a>
                    </li>
                </ul>
                
            </nav>
            
        </div> 
    </div>    
</div>
<!-- Final release dates -->
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-heading-l">Calculation summary</h2>
          
           
            <div class="govuk-summary-card govuk-!-margin-bottom-6">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">{{ "today" | govukDate }} at HMP Kirkham
                        <br>
                        <span class="govuk-body">Calculation reason: Initial calculation</span>
                    </h2>
<!--                     
                    <ul class="govuk-summary-card__actions" style="align-content: center;">
                        <li class="govuk-summary-card__action"> <a class="govuk-link" href="calculate-release-dates/notification-slip-mvp">Print notification slip<span class="govuk-visually-hidden"> of Transfer calculation 8 May 2023 at HMP Kirkham</span></a>
                        </li>
                        <li class="govuk-summary-card__action"> <a class="govuk-link" href="calculation-history/11-03-2023/check-sentence-and-offence-information">View details<span class="govuk-visually-hidden"> of Transfer calculation 8 May 2023 at HMP Kirkham</span></a>
                        </li>
                    
                    </ul> -->
                </div>
                <div class="govuk-summary-card__content" id="release-dates">
                    
                    <dl class="govuk-summary-list release-dates-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                                SLED
                                <p class="govuk-!-font-size-16 govuk-hint">Sentence and licence expiry date</p>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">Tuesday, 3 May 2029</p>
                            </dd>
                        </div> 

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                                CRD
                                <p class="govuk-!-font-size-16 govuk-hint">Conditional release date</p>
                            </dt>
                            <dd class="govuk-summary-list__value govuk-!-padding-top-4">
                                <p class="govuk-body">Monday, 4 May 2026</p>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                                HDCED
                                <p class="govuk-!-font-size-16 govuk-hint">Home detention curfew eligibility date</p>
                            </dt>
                            <dd class="govuk-summary-list__value govuk-!-padding-top-4">
                                <p class="govuk-body">Thursday, 6 November 2025</p>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    </div> 
</div> 
{% endblock %}