{% extends "../../../includes/layouts/template-linear.html" %}
{% block content %} 
<!-- Back link -->
<!-- <div class="moj-width-container">
    <a href="../release-dates" class="govuk-back-link">Back</a>
</div> -->
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-6">
    <form method="post" action="../release-dates">
    <div class="govuk-grid-row"> 
        <div class="govuk-grid-column-two-thirds">
            
            <h1 class="govuk-heading-xl">

            <span class="govuk-caption-xl">Calculate release dates</span>
                Manual calculation required
            </h1>
            <p class="govuk-body">This calculation includes unsupported calculation scenarios. You will need to enter the dates manually.</p>
            <h2 class="govuk-heading-m">What you need to do</h2>
            <ul class="govuk-list govuk-list--number">
                <li>Complete a calculation using a paper calculation sheet.</li>
                <li>Continue in this service to enter the release dates.</li>
            </ul>
            <p class="govuk-body">This will be recorded as a manual calculation on NOMIS.</p>
         
                <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-qa="submitReason">
                Confirm
                </button>
        </div>
    </div>

</form>
</div>
{% endblock %}