{% extends "../../includes/layouts/template-linear.html" %}
{% block content %} 
<!-- Back link -->
<div class="moj-width-container">
  <a href="check-sentence-and-offence-information" class="govuk-back-link">Back</a>
</div>
<form method="post" action="calculation-summary">
<div class="moj-interruption-card">
    <div class="moj-interruption-card__content">
      <h1 class="govuk-heading-l moj-interruption-card__heading" style="color: #ffff;">Multiple sentences have been made consecutive to one sentence</h1>
      <div class="govuk-body-l moj-interruption-card__body">
        <p>This means these sentences are now concurrent to others in the aggregate.</p> 
        <p>The length of the aggregate is currently <b>10 years 14 months 0 weeks 0 days</b>.</p> 
        <h2 class="govuk-heading-m moj-interruption-card__heading" style="color: #ffff;">What to do next</h2> 
        <ol class="govuk-list govuk-list--number govuk-body-l" style="color: #ffff;">
          <li>Check each sentence has been recorded correctly, as either consecutive or concurrent.</li>
          <li>Once you've confirmed the information is correct, calculate release dates. </li>
        </ol> 
      </div>
      <div class="govuk-button-group moj-interruption-card__actions">
  
        <form method="post" action="are-you-sure">
        <button role="button" draggable="false" type="button" class="govuk-button govuk-button--inverse" data-module="govuk-button">
          Calculate release dates
        </button>
  
        <a class="govuk-link govuk-link--inverse" href="check-sentence-and-offence-information">Cancel</a>
  
      </div>
    </div>
  </div>

</form>
  
{% endblock %}