{% extends "../../dps/includes/template.html" %}
{% block content %}
<!-- Back link -->
<div class="moj-width-container">
    <a href="../hub-page" class="govuk-back-link">Home</a>
</div>
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--xl govuk-!-margin-top-7" for="event-name">
      <span class="govuk-caption-xl">Calculate release dates</span>
                Enter a prison number
    </label>
  </h1>
  <p class="govuk-hint">For example, "G2883VE"</p>
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
  <input class="govuk-input" id="prison-number" name="prison-number" type="text">
</div>
</div>
</div>
<div class="govuk-grid-colulmn-two-thirds">
            <form>
                <a href="search-for-prisoner-results.html" class="govuk-button prisoner-search__button">Continue</a>
        </div>
        </form>
<p class="govuk-body"><a href="">Lookup a person another way</a></p>
        </div>
</div>
</div>
{% endblock %}