{% extends "../../../../includes/layouts/template-linear.html" %} {% block content %}
<!-- Back link -->
<div class="moj-width-container">
  <a href="select-which-approved-dates" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-6">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"> 

        <div class="govuk-form-group">

          <fieldset class="govuk-fieldset" role="group" aria-describedby="CRD-hint">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

              <h1 class="govuk-fieldset__heading">

            <span class="govuk-caption-xl">Calculate release dates</span>
                Enter the CRD (Conditional release date)
              </h1>

            </legend> 

        
            <div class="govuk-date-input" id="CRD">
 
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="CRD-day">
                    Day
                  </label>


                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="CRD-day" name="day"
                    type="number" inputmode="numeric" value="24">

                </div>
              </div>

              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="CRD-month">
                    Month
                  </label>


                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="CRD-month" name="month"
                    type="number" inputmode="numeric"  value="5">

                </div>
              </div>

              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="CRD-year">
                    Year
                  </label> 

                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="CRD-year" name="year"
                    type="number" inputmode="numeric"  value="2025">

                </div>
              </div>


            </div>

          </fieldset>

        </div> 

        <input type="hidden" name="_csrf" value="spFxF0sq-CzqH8QHtGwIF7luXgK5KjaLm0bM">
        <input type="hidden" name="dateType" value="CRD"> 

       
        <div class="govuk-button-group">
          <form method="post" action="edit-release-dates">
              <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-qa="submitReason">
                  Continue
              </button>
          </form>

          <form method="post" action="cancel">
              <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Cancel
              </button>
          </form>
      </div>
 
    </div>
  </div>
</div>
{% endblock %}