{% extends "../../../includes/layouts/template-linear.html" %}
{% set adjustmentsActive = true %}
{% block content %}

    <div id="ViewRemandPage">
        <a href="../index.html" class="govuk-back-link">Back</a>
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    <h1 class="govuk-heading-l"><span class="govuk-caption-xl">Adjustments</span>Remand overview</h1>
                    <p></p>

                    <div id="viewRemandSummary" class="">

                        <div class="govuk-summary-card__content">
                            <table class="govuk-table">
                                <caption class="govuk-table__caption govuk-table__caption--m">Remand summary</caption>
                                <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">Periods of remand</th>
                                    <th scope="col" class="govuk-table__header">Days</th>
                                </tr>
                                </thead>
                                <tbody id="R-summary" class="govuk-table__body">

<!--                                <tr class="govuk-table__row">-->
<!--                                    <th scope="row" class="govuk-table__header">Next 33 weeks</th>-->
<!--                                    <td class="govuk-table__cell">£109.80 per week</td>-->
<!--                                </tr>-->
<!--                                <tr class="govuk-table__row">-->
<!--                                    <th scope="row" class="govuk-table__header">Total estimated pay</th>-->
<!--                                    <td class="govuk-table__cell">£4,282.20</td>-->
<!--                                </tr>-->
                                </tbody>
                                <tfoot>
                                <tr class="govuk-table__row">
                                    <th id="" scope="row" class="govuk-table__header">Total days on remand</th>
                                    <td id="TotalRemandDays" class="govuk-table__cell">100</td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div id="RemandPeriodListContainer">

                    </div>
<!--                    <div class="govuk-summary-card remand">-->
<!--                        <div class="govuk-summary-card__title-wrapper ">-->
<!--                            <h2 class="govuk-summary-card__title">From 23 Jan 2023 to 3 Mar 2023</h2>-->
<!--                            <ul class="govuk-summary-card__actions">-->
<!--                                <li class="govuk-summary-card__action"> <a class="govuk-link" href="edit.html">-->
<!--                                    Edit<span class="govuk-visually-hidden"> of University of Gloucestershire</span>-->
<!--                                </a>-->
<!--                                </li>-->
<!--                                <li class="govuk-summary-card__action"> <a class="govuk-link" href="delete.html">-->
<!--                                    Delete<span class="govuk-visually-hidden"> from University of Gloucestershire</span>-->
<!--                                </a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                        <div class="govuk-summary-card__content">-->
<!--                            <dl class="govuk-summary-list">-->
<!--                                <div class="govuk-summary-list__row">-->
<!--                                    <dt class="govuk-summary-list__key">-->
<!--                                        Court name-->
<!--                                    </dt>-->
<!--                                    <dd class="govuk-summary-list__value">-->
<!--                                        Bristol Crown Court-->
<!--                                    </dd>-->
<!--                                </div>-->
<!--                                <div class="govuk-summary-list__row">-->
<!--                                    <dt class="govuk-summary-list__key">-->
<!--                                        Offences-->
<!--                                    </dt>-->
<!--                                    <dd class="govuk-summary-list__value">-->
<!--                                        <ul>-->
<!--                                            <li>Attempted blackmail<br><span class="govuk-hint">Committed on 23 Jan 2023</span> </li>-->
<!--                                        </ul>-->
<!--                                    </dd>-->
<!--                                </div>-->
<!--                                <div class="govuk-summary-list__row">-->
<!--                                    <dt class="govuk-summary-list__key">-->
<!--                                        Days-->
<!--                                    </dt>-->
<!--                                    <dd class="govuk-summary-list__value">-->
<!--                                        50-->
<!--                                    </dd>-->
<!--                                </div>-->
<!--                            </dl>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="govuk-summary-card remand">-->
<!--                        <div class="govuk-summary-card__title-wrapper">-->
<!--                            <h2 class="govuk-summary-card__title">From 23 Jan 2023 to 3 Mar 2023</h2>-->
<!--                            <ul class="govuk-summary-card__actions">-->
<!--                                <li class="govuk-summary-card__action"> <a class="govuk-link" href="edit.html">-->
<!--                                    Edit<span class="govuk-visually-hidden"> of University of Gloucestershire</span>-->
<!--                                </a>-->
<!--                                </li>-->
<!--                                <li class="govuk-summary-card__action"> <a class="govuk-link" href="delete.html">-->
<!--                                    Delete<span class="govuk-visually-hidden"> from University of Gloucestershire</span>-->
<!--                                </a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                        <div class="govuk-summary-card__content">-->
<!--                            <dl class="govuk-summary-list">-->
<!--                                <div class="govuk-summary-list__row">-->
<!--                                    <dt class="govuk-summary-list__key">-->
<!--                                        Court name-->
<!--                                    </dt>-->
<!--                                    <dd class="govuk-summary-list__value">-->
<!--                                        Bristol Crown Court-->
<!--                                    </dd>-->
<!--                                </div>-->
<!--                                <div class="govuk-summary-list__row">-->
<!--                                    <dt class="govuk-summary-list__key">-->
<!--                                        Offences-->
<!--                                    </dt>-->
<!--                                    <dd class="govuk-summary-list__value">-->
<!--                                        <ul>-->
<!--                                            <li>Attempted blackmail<br><span class="govuk-hint">Committed on 23 Jan 2023</span> </li>-->
<!--                                            <li>Blackmail<br><span class="govuk-hint">Committed between 23 Jan 2023 and 2 Feb 2023</span> </li>-->
<!--                                        </ul>-->
<!--                                    </dd>-->
<!--                                </div>-->
<!--                                <div class="govuk-summary-list__row">-->
<!--                                    <dt class="govuk-summary-list__key">-->
<!--                                        Days-->
<!--                                    </dt>-->
<!--                                    <dd class="govuk-summary-list__value">-->
<!--                                        50-->
<!--                                    </dd>-->
<!--                                </div>-->
<!--                            </dl>-->
<!--                        </div>-->
<!--                    </div>-->
                    <a href="enter-remand.html" class="govuk-button" data-module="govuk-button">
                        Add new
                    </a>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/add-remand-mvp.js"></script>
{% endblock %}