{% extends "../../../includes/layouts/template-linear.html" %} {% block content %}
<!-- Back link -->
<div class="moj-width-container">
  <a href="select-which-approved-dates" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-6">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"> 

        <div class="govuk-form-group">

          <fieldset class="govuk-fieldset" role="group" aria-describedby="HDCED-hint">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

              <h1 class="govuk-fieldset__heading">
                Enter the HDCED (Home detention curfew eligibility date)
              </h1>

            </legend> 

            <div class="govuk-date-input" id="HDCED">
 
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="HDCED-day">
                    Day
                  </label>


                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="HDCED-day" name="day"
                    type="number" inputmode="numeric">

                </div>
              </div>

              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="HDCED-month">
                    Month
                  </label>


                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="HDCED-month" name="month"
                    type="number" inputmode="numeric">

                </div>
              </div>

              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="HDCED-year">
                    Year
                  </label> 

                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="HDCED-year" name="year"
                    type="number" inputmode="numeric">

                </div>
              </div>


            </div>

          </fieldset>

        </div> 

        <input type="hidden" name="_csrf" value="spFxF0sq-CzqH8QHtGwIF7luXgK5KjaLm0bM">
        <input type="hidden" name="dateType" value="HDCED"> 

       
        <div class="govuk-button-group">
          <form method="post" action="enter-ROTL">
              <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-qa="submitReason">
                  Continue
              </button>
          </form>

          <form method="post" action="cancel">
              <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Cancel
              </button>
          </form>
      </div>
 
    </div>
  </div>
</div>
{% endblock %}