{% extends "../../includes/layouts/template-linear.html" %}
{% block content %}
<!-- Back link -->
<div class="moj-width-container">
    <a href="return-to-custody-date" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters govuk-!-padding-top-6">

            <h1 class="govuk-heading-l">
                
                <span class="govuk-caption-xl">Record a recall</span>
                Confirm if this court case is relevant to the recall
                <span class="govuk-caption-l">Court case 1 of 2</span>
            </h1> 

            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">34F2356911 <span class="govuk-body">at</span> Aberdare County Court </h2>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action">
                            
                            <!-- <a class="govuk-link govuk-link--no-visited-state" href="//create-appearance?courtIndex=4">Select court case</a> -->
                            
                        </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content">
                    
                      
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Case references
                            </dt>
                            <dd class="govuk-summary-list__value">
                                34F2356911
                            </dd>
                        </div> 
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Overall sentence length
                            </dt>
                            <dd class="govuk-summary-list__value">
                                0 years 9 months 0 weeks 0 days
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Conviction date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                9/9/2024
                            </dd>
                        </div>
                        
                     
                    </dl>
                    <hr class="govuk-section-break govuk-section-break--visible">
                    <div class="govuk-grid-row">
                   
                    </div>
                    <div class="govuk-grid-row govuk-!-padding-bottom-2 govuk-!-margin-top-2">
                      
                        <div class="govuk-grid-column-full  ">
                            
                                    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Offences</h3>
                                    <details class="govuk-details show-toggle govuk-!-margin-bottom-0">
                                        <summary class="govuk-details__summary">
                                            <span class="govuk-details__summary-text">
                                                offences (3)
                                            </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                            
                                <div class="offence-card sentence-card">
                                    <div class="offence-card-offence-details">
                                        <span class="govuk-body">Count 1</span>
                                        <h4 class="govuk-heading-s">TH68037 - Burglary other than dwelling - theft
                                            </h4>
                                        <dl class="govuk-summary-list govuk-summary-list--no-border">
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Commited on
                            </dt>
                            <dd class="govuk-summary-list__value">
                                9/1/2024
                                
                            </dd>
                        </div>
                        
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Conviction date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                9/9/2024
                            </dd>
                        </div>
                        
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Sentence type
                            </dt>
                            <dd class="govuk-summary-list__value">
                                SDS (Standard Determinate Sentence)
                            </dd>
                        </div>
                        
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Sentence length
                            </dt>
                            <dd class="govuk-summary-list__value">
                                
                                0 years
                                
                                
                                9 months
                                
                                
                                0 weeks
                                
                                
                                0 days
                                
                            </dd>
                        </div>
                        
                        
                        
                        
                        
                        
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Consecutive or concurrent
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Forthwith
                                
                                
                            </dd>
                        </div>
                        
                    </dl>
                                    </div>
                                </div>
                                
                                <div class="offence-card sentence-card">
                                    <div class="offence-card-offence-details">
                                        <span class="govuk-body">Count 2</span>
                                        <h4 class="govuk-heading-s">TH68037 - Burglary other than dwelling - theft
                                            </h4>
                                        <dl class="govuk-summary-list govuk-summary-list--no-border">
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Commited on
                            </dt>
                            <dd class="govuk-summary-list__value">
                                9/1/2024
                                
                            </dd>
                        </div>
                        
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Conviction date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                9/9/2024
                            </dd>
                        </div>
                        
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Sentence type
                            </dt>
                            <dd class="govuk-summary-list__value">
                                SDS (Standard Determinate Sentence)
                            </dd>
                        </div>
                        
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Sentence length
                            </dt>
                            <dd class="govuk-summary-list__value">
                                
                                0 years
                                
                                
                                9 months
                                
                                
                                0 weeks
                                
                                
                                0 days
                                
                            </dd>
                        </div>
                        
                        
                        
                        
                        
                        
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Consecutive or concurrent
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Concurrent to count 1
                                
                                
                            </dd>
                        </div>
                        
                    </dl>
                                    </div>
                                </div>
                                
                                <div class="offence-card sentence-card">
                                    <div class="offence-card-offence-details">
                                        <span class="govuk-body">Count 3</span>
                                        <h4 class="govuk-heading-s">ZZ900000 - Use threatening / abusive / insulting words / behaviour to cause harassment / alarm / distress
                                            </h4>
                                        <dl class="govuk-summary-list govuk-summary-list--no-border">
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Commited on
                            </dt>
                            <dd class="govuk-summary-list__value">
                                9/1/2024
                                
                            </dd>
                        </div>
                        
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Conviction date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                9/9/2024
                            </dd>
                        </div>
                        
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Sentence type
                            </dt>
                            <dd class="govuk-summary-list__value">
                                SDS (Standard Determinate Sentence)
                            </dd>
                        </div>
                        
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Sentence length
                            </dt>
                            <dd class="govuk-summary-list__value">
                                
                                0 years
                                
                                
                                1 months
                                
                                
                                0 weeks
                                
                                
                                0 days
                                
                            </dd>
                        </div>
                        
                        
                        
                        
                        
                        
                        
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Consecutive or concurrent
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Concurrent to count 1
                                
                                
                            </dd>
                        </div>
                        
                    </dl>
                                    </div>
                                </div>
                                
                                    </div></details>
                               
                        </div>
                    </div>
                    
                     
                </div>
            </div>

            <div class="govuk-form-group govuk-!-margin-top-6">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                      Is this court case relevant to the recall?
                    </h1>
                  </legend>
                  <div class="govuk-radios" data-module="govuk-radios">

                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="sentencesReplaced-2" name="sentencesReplaced" type="radio" value="
                        Yes, this offence was replaced with Actual Bodily Harm (Section 47) committed on 29 October 2023">
                        <label class="govuk-label govuk-radios__label" for="sentencesReplaced-2">
                          Yes
                        </label>
                      </div> 
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="sentencesReplaced" name="sentencesReplaced" type="radio" value="No, this offence has not been replaced">
                      <label class="govuk-label govuk-radios__label" for="sentencesReplaced">
                        No
                      </label>
                    </div>

                    <!-- <div class="govuk-radios__divider">or</div> -->

                  </div>
                </fieldset>
              </div>


        <div class="govuk-button-group">
            <a href="confirm-replaced-offences-2" class="govuk-button" data-module="govuk-button">
                Confirm and continue
            </a>
            <a href="cancel" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Cancel
            </a>
        </div>

    </div>
</div>
{% endblock %}