{% extends "layout.html" %}
{% block pageTitle %}
Start page example
{% endblock %}
{% block header %}
{{ mojHeader({
  organisationLabel: {
    text: 'HMPPS',
    href: 'offender-details.html'
  },
  serviceLabel: {
    text: 'Calculate release dates',
    href: '#'
  }
}) }}
{% endblock %}

{% block beforeContent %}

{% endblock %}
{% block content %}
        <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="dps-home" method="post">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Enter prototype details
                </h1>
            </legend>
            <div class="govuk-form-group">
                <label class="govuk-label" for="user-name">
                    User name
                </label>
                <input class="govuk-input" id="user-name" name="user-name" type="text" spellcheck="false">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="prison-name">
                    Prison name
                </label>
                <input class="govuk-input" id="prison-name" name="prison-name" type="text" spellcheck="false">
            </div>
            <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
    </div>
</div>
{% endblock %}