{% extends "../dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <h1 class="govuk-heading-xl govuk-!-margin-top-8">
        Unsupported calculations
    </h1>
    <p>Select a version to see the prototype</p>
    <ul class="govuk-list">
        <li><a href="full-page-error/start-standalone">Full page error</a></li>
        <li><a href="information-banner/start-standalone">Information banner</a></li>
        <li><a href="error-message/start-standalone">Error message</a></li>
    </ul>
</div>
{% endblock %}