{% extends "../../../../includes/layouts/template-linear.html" %}
{% block content %}
<!-- Back link -->
<div class="moj-width-container">
  <a href="check-sentence-and-offence-information" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-6">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Calculate release dates</span>
      <h1 class="govuk-heading-xl">Update the release dates to match the paper calculation</h1>


      <dl class="govuk-summary-list">


        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                          SLED
                          <p class="govuk-!-font-size-16 govuk-hint">Sentence and licence expiry date</p>
                      </dt>
          <dd class="govuk-summary-list__value manual-entry-value-for-SED">
            Tuesday, 3 May 2029
          </dd>

          <dd class="govuk-summary-list__actions">

            <ul class="govuk-summary-list__actions-list">

              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="enter-SED" data-qa="change-manual-date-SED">Edit<span
                    class="govuk-visually-hidden"> Change SED (Sentence expiry date)</span></a>
              </li>

              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="#" data-qa="remove-manual-date-SED">Delete<span
                    class="govuk-visually-hidden"> Delete SED (Sentence expiry date)</span></a>
              </li>

            </ul>

          </dd>

        </div>



        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                                CRD
                                <p class="govuk-!-font-size-16 govuk-hint">Conditional release date</p>
                            </dt>
          <dd class="govuk-summary-list__value manual-entry-value-for-LED">
            Monday, 4 May 2026
          </dd>

          <dd class="govuk-summary-list__actions">

            <ul class="govuk-summary-list__actions-list">

              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="enter-CRD" data-qa="change-manual-date-LED">Edit<span
                    class="govuk-visually-hidden"> CRD (Conditional release date)</span></a>
              </li>

              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="enter-CRD" data-qa="remove-manual-date-LED">Delete<span
                    class="govuk-visually-hidden"> CRD (Conditional release date)</span></a>
              </li>

            </ul>

          </dd>

        </div>


        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                                TUSED
                                <p class="govuk-!-font-size-16 govuk-hint">Top-up supervision expiry date</p>
                            </dt>
          <dd class="govuk-summary-list__value manual-entry-value-for-TUSED">
            Thursday, 6 November 2025
          </dd>

          <dd class="govuk-summary-list__actions">

            <ul class="govuk-summary-list__actions-list">

              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="enter-TUSED" data-qa="change-manual-date-LED">Edit<span
                    class="govuk-visually-hidden"> TUSED (Top-up supervision eligibility date)</span></a>
              </li>

              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="are-you-sure-delete-TUSED" data-qa="remove-manual-date-LED">Delete<span
                    class="govuk-visually-hidden"> TUSED (Top-up supervision eligibility date)</span></a>
              </li>

            </ul>

          </dd>

        </div>




        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                                HDCED
                                <p class="govuk-!-font-size-16 govuk-hint">Home detention curfew eligibility date</p>
                            </dt>
          <dd class="govuk-summary-list__value manual-entry-value-for-HDCED">
            Thursday, 6 July 2025
          </dd>

          <dd class="govuk-summary-list__actions">

            <ul class="govuk-summary-list__actions-list">

              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="enter-HDCED" data-qa="change-manual-date-HDCED">Edit<span
                    class="govuk-visually-hidden"> HDCED (Home detention curfew eligibility date)</span></a>
              </li>

              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="are-you-sure-delete-HDCED" data-qa="remove-manual-date-HDCED">Delete<span
                    class="govuk-visually-hidden"> HDCED (Home detention curfew eligibility date)</span></a>
              </li>

            </ul>

          </dd>

        </div>


      </dl>

      <p class="govuk-body govuk-!-margin-bottom-8">
        <a href="select-dates" class="govuk-link govuk-link--no-visited-state"
          data-qa="add-another-release-date-link">Add another release date</a>
      </p>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Confirm and save to NOMIS</h2>
      <p class="govuk-body">By saving this calculation you are confirming that, to the best of your knowledge, it is
        correct. These dates will be saved in NOMIS as a manual calculation.</p>

      <div class="govuk-button-group govuk-!-margin-top-6">
        <form method="post" action="../../calculation-complete">
          <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button"
            data-qa="submitReason">
            Confirm and save
          </button>
        </form>

        <form method="post" action="cancel">
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}