{% extends "../../../includes/layouts/template-linear.html" %}
{% block content %} 
<!-- Back link -->
<div class="moj-width-container">
    <a href="../../release-dates" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-6">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds"> 
            <h1 class="govuk-heading-xl">
            <!-- <span class="govuk-caption-xl">11 March 2023 at HMP Kirkham</span> -->
                Calculation details
            </h1> 
        </div>
    </div>
</div>
 
 
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
 
            <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-6">
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Calculations date
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ "today" | govukDate }} 
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Reason
                </dt>
                <dd class="govuk-summary-list__value">
                    Recording a recall
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Establishment
                </dt>
                <dd class="govuk-summary-list__value">
                    HMP Kirkham
                </dd>
                </div>
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Source
                </dt>
                <dd class="govuk-summary-list__value">
                    Calculate release dates service
                </dd>
                </div>
            </dl>
        </div>
    </div> 

<nav class="moj-sub-navigation" aria-label="Sub navigation">

    <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link" aria-current="page" href="check-sentence-and-offence-information-CRDS">Sentence and offence information</a>
        </li>
        <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link"  href="calculation-summary-CRDS">Calculation summary</a>
        </li>
    </ul>
    
</nav>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h3 class="govuk-heading-l govuk-!-margin-top-2">Court case 1</h3>

        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Court case number
                </dt>
                <dd class="govuk-summary-list__value">
                    TS28402BG
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Court name
                </dt>
                <dd class="govuk-summary-list__value">
                    Bristol Crown Court
                </dd>
            </div>
        </dl>
    </div>
</div> 
    <!-- Count 1 -->

    <div class="offence-card sentence-card">
        <div class="offence-card-offence-details">
            <span class="govuk-body-s">Count 1</span> 
            <h4 class="govuk-heading-s">CJ88001 - Burglary other than dwelling - theft</h4>
            <dl class="govuk-summary-list govuk-summary-list--no-border">


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        CJA code
                    </dt>
                    <dd class="govuk-summary-list__value">
                        TH68
                    </dd>
                </div>
                
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Commited on
                    </dt>
                    <dd class="govuk-summary-list__value">
                        01/11/2023
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Conviction date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        03/01/2024
                    </dd>
                </div>


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Sentence type
                    </dt>
                    <dd class="govuk-summary-list__value">
                        ORA Sentencing Code Standard Determinate Sentence 
                    </dd>
                </div>


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Sentence length
                    </dt>
                    <dd class="govuk-summary-list__value">

                        0 years

                        10 months

                        0 weeks

                        0 days

                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Consecutive or concurrent
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Forthwith
                    </dd>
                </div>
            </dl>
        </div>
    </div>


    <div class="offence-card sentence-card">
        <div class="offence-card-offence-details">
            <span class="govuk-body-s">Count 2</span>
            <h4 class="govuk-heading-s">CJ88001 - Burglary other than dwelling - theft</h4>
            <dl class="govuk-summary-list govuk-summary-list--no-border">


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        CJA code
                    </dt>
                    <dd class="govuk-summary-list__value">
                        TH68
                    </dd>
                </div>
                
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Commited on
                    </dt>
                    <dd class="govuk-summary-list__value">
                        01/11/2023
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Conviction date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        03/01/2024
                    </dd>
                </div>


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Sentence type
                    </dt>
                    <dd class="govuk-summary-list__value">
                        ORA Sentencing Code Standard Determinate Sentence 
                    </dd>
                </div>


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Sentence length
                    </dt>
                    <dd class="govuk-summary-list__value">

                        0 years

                        14 months

                        0 weeks

                        0 days

                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Consecutive or concurrent
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Concurrent
                    </dd>
                </div>
            </dl>
        </div>
    </div>

    <!-- Adjustments -->
    <div class="moj-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-l govuk-!-margin-top-6">Adjustments</h2>
                <div class="govuk-tabs govuk-!-margin-top-4" data-module="govuk-tabs">
                    <ul class="govuk-tabs__list" role="tablist">
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
                            <a class="govuk-tabs__tab" href="#summary" data-qa="summary-tab-link" id="tab_summary"
                                role="tab" aria-controls="summary" aria-selected="true" tabindex="0">
                                Summary
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item" role="presentation">
                            <a class="govuk-tabs__tab" href="#detailed" data-qa="detailed-tab-link" id="tab_detailed"
                                role="tab" aria-controls="detailed" aria-selected="false" tabindex="-1">
                                Detailed
                            </a>
                        </li>
                    </ul>
                    <div class="govuk-tabs__panel" id="summary" role="tabpanel" aria-labelledby="tab_summary">
                        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Deductions</h3>
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col">Adjustment</th>
                                    <th class="govuk-table__header" scope="col">days</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Recall remand</td>
                                    <!-- days -->
                                    <td class="govuk-table__cell">0</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Remand</td>
                                    <!-- days -->
                                    <td class="govuk-table__cell">
                                        0
                                    </td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Recall tagged bail</td>
                                    <!-- days -->
                                    <td class="govuk-table__cell">0</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Tagged bail</td>
                                    <!-- days -->
                                    <td class="govuk-table__cell">
                                        0
                                    </td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Restore additional days awarded (RADA)</td>
                                    <!-- days -->
                                    <td class="govuk-table__cell">0</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Unused remand</td>
                                    <!-- days -->
                                    <td class="govuk-table__cell">0</td>
                                </tr>
                            </tbody>
                        </table>
                        <h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-8 ">Additions</h3>
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col">Adjustment</th>
                                    <th class="govuk-table__header" scope="col">days</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Additional days awarded (ADA)</td>
                                    <!-- days -->
                                    <td class="govuk-table__cell">0</td>
                                </tr>

                                {% if data['toShow'] == 'ualAdded' or data['toShow'] == 'calc2Complete' %}
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Unlawfully at large (UAL)</td>
                                    <!-- days -->
                                    <td class="govuk-table__cell">3
                                    </td>
                                </tr>
                                {% else %}
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Unlawfully at large (UAL)</td>
                                    <!-- days -->
                                    <td class="govuk-table__cell">2
                                    </td>
                                </tr>
                                {% endif %} 
                            </tbody>
                        </table>
                    </div>
                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="detailed" role="tabpanel"
                        aria-labelledby="tab_detailed">
                       
                        <h3 class="govuk-heading-m govuk-!-margin-bottom-6">Additions</h3>
                        <h4 class="govuk-heading-s govuk-!-margin-bottom-2">UAL (Unlawfully at large)</h4>
                        <table class="govuk-table govuk-!-margin-bottom-8">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col">Dates</th>
                                    <th class="govuk-table__header" scope="col">days</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">

                                {% if data['toShow'] == 'ualAdded' or data['toShow'] == 'calc2Complete' %}
                                <tr class="govuk-table__row">
                            
                                    <td class="govuk-table__cell">From {{data['revocation-date-day']}} {{data['revocation-date-month']}} {{data['revocation-date-year']}}  to {{data['arrest-date-day']}}/{{data['arrest-date-month']}}/{{data['arrest-date-year']}}</td>
                                   
                                    <td class="govuk-table__cell">3</td>
                                </tr> 
                                <tr class="govuk-table__row"> 
                                    <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">
                                        Total days</td> 
                                    <td class="govuk-table__cell">3
                                    </td>
                                </tr>

                                {% else %}

                                <tr class="govuk-table__row">
                            
                                    <td class="govuk-table__cell">From {{data['revocation-date-day']}} {{data['revocation-date-month']}} {{data['revocation-date-year']}}  to {{data['arrest-date-day']}}/{{data['arrest-date-month']}}/{{data['arrest-date-year']}}</td>
                                   
                                    <td class="govuk-table__cell">2</td>
                                </tr> 
                                <tr class="govuk-table__row"> 
                                    <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">
                                        Total days</td> 
                                    <td class="govuk-table__cell">2
                                    </td>
                                </tr>

                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}