{% extends "./includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <a href="/version-7/dps/dps-home" class="govuk-back-link">Digital Prison Services</a>
    <h1 class="govuk-heading-l govuk-!-margin-top-7">Calculate release dates</h1>
</div>
<div class="homepage-content">
    <div class="moj-width-container">
        <ul class="govuk-grid-row card-group">
            <li class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable" data-test="receive">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link" href="../start.html">Calculate release dates</a>
                    </h2>
                    <p class="govuk-body card__description">Automatically calculate an offender’s release date using information from NOMIS.</p>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}