{% extends "../../../../../includes/layouts/template-linear.html" %} {% block content %}
<!-- Back link -->
<div class="moj-width-container">
  <a href="enter-CRD" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-6">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">  
  

              <h1 class="govuk-heading-xl">

              <span class="govuk-caption-xl">Override a calculated date</span>
                Check the dates you have entered
              </h1> 

            <dl class="govuk-summary-list govuk-!-margin-top-6">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  SED (Sentence expiry date)
                </dt>
                <dd class="govuk-summary-list__value">
                  7 February 2028
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span><br>  <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> </span></a>
                </dd>
              </div>  
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  LED (Licence expiry date)
                </dt>
                <dd class="govuk-summary-list__value">
                  7 February 2028
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span><br>  <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> </span></a>
                </dd>
              </div> 
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  CRD (Conditional release date)
                </dt>
                <dd class="govuk-summary-list__value">
                  2 April 2032
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span><br>  <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> </span></a>
                </dd>
              </div> 
             
            </dl> 

          <h3 class="govuk-heading-m ">Confirm and save</h3>
          <p class="govuk-body">By saving this calculation, you are confirming that, to the best of your knowledge, this calculation is correct. This is based on the information supplied by the OMU at the time of this override. </p>
          
              <div class="govuk-button-group">
                  <form method="post" action="calculation-complete?toShow=datesOverridden2">
                      <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-qa="submitReason">
                          Confirm and save
                      </button>
                  </form> 
              </div>
          <!-- <p class="govuk-body govuk-!-font-size-16"><a href="../release-dates" class="govuk-link">Cancel calculation</a></p> -->
          </div>
        </div>
      </div>
  </div> 
  
{% endblock %}