{% extends "../template.html" %}
{% block content %}
<!-- Prisoner identity bar -->
<!-- Prisoner identity bar -->
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Colin Ball</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">15 May 2000</span><strong>Prison number: </strong>G2883VE</span>
            </div>
        </div>
    </div>
</div>
<!-- Back link -->
<div class="moj-width-container">
    <a href="calculation-summary" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-6">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Report incorrect dates
            </h1>
            <p class="govuk-body govuk-!-margin-bottom-6">
                Content from Jo
            </p>
            <a href="mailto:calculatereleasedates@digital.justice.gov.uk?subject=Report incorrect dates  3458764543401279288"><button class="govuk-button">Report incorrect dates now</button></a>
        </div>
    </div>
</div>
{% endblock %}