{% extends "../../../../includes/layouts/template-linear.html" %}
{% block content %}
<!-- Back link -->
<div class="moj-width-container">
    <a href="upload-a-warrant-question" class="govuk-back-link">Back</a>
</div>
<!-- Page intro --> 
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6"> 

        <fieldset class="govuk-fieldset" aria-describedby="calculationReasonId-hint">
                    
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              <span class="govuk-caption-l">Calculate release dates</span>
               Select the court case the document relates to
            </h1>
          </legend>  

          <div class="govuk-radios" data-module="govuk-radios">
                            
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="calculationReasonId" name="calculationReasonId" type="radio" value="1" data-qa="reasonRadio-1">
                <label class="govuk-label govuk-radios__label" for="calculationReasonId">
                  TS1233535 at Aberdare Court
                </label> 
            </div>   
                          
                            
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="calculationReasonId" name="calculationReasonId" type="radio" value="1" data-qa="reasonRadio-1">
                <label class="govuk-label govuk-radios__label" for="calculationReasonId">
                  TS1233567 at Aberdare Court
                </label> 
            </div>  
            
        </div> 
      </fieldset> 

      </div>
</div> 



<div class="moj-width-container govuk-!-margin-top-6">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds"> 
            
                <div class="govuk-button-group">
                    <form method="post" action="select-an-appearance">
                        <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-qa="submitReason">
                            Continue
                        </button>
                    </form>

                    <form method="post" action="cancel">
                        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Cancel
                        </button>
                    </form>
                </div>
            <!-- <p class="govuk-body govuk-!-font-size-16"><a href="../release-dates" class="govuk-link">Cancel calculation</a></p> -->
        </div>
    </div>
</div>
{% endblock %}