{% extends "../../../../includes/layouts/template-linear.html" %} {% block content %}
<!-- Back link -->
<div class="moj-width-container">
  <a href="override-reconfirm-intercept" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-6">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">  

     
  

              <h1 class="govuk-heading-xl">

              <!-- <span class="govuk-caption-xl">Override a calculated date</span> -->
              Confirm the dates are correct
              </h1> 

            <dl class="govuk-summary-list govuk-!-margin-top-6">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  SED (Sentence expiry date)
                </dt>
                <dd class="govuk-summary-list__value">
                  21 August 2025
                </dd>
                <dd class="govuk-summary-list__actions">
                  <!-- <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span><br>  <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> </span></a> -->
                </dd>
              </div>  
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  LED (Licence expiry date)
                </dt>
                <dd class="govuk-summary-list__value">
                  21 August 2025
                </dd>
                <dd class="govuk-summary-list__actions">
                  <!-- <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span><br>  <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> </span></a> -->
                </dd>
              </div> 
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  CRD (Conditional release date)
                </dt>
                <dd class="govuk-summary-list__value">
                  24 May 2025
                </dd>
                <dd class="govuk-summary-list__actions">
                  <!-- <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span><br>  <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> </span></a> -->
                </dd>
              </div> 
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  TUSED (Top-up supervision expiry date)
                </dt>
                <dd class="govuk-summary-list__value">
                  24 May 2026
                </dd>
                <dd class="govuk-summary-list__actions">
                  <!-- <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span><br>  <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> </span></a> -->
                </dd>
              </div> 
            </dl> 
            <div class="govuk-!-margin-top-6">  
              <form action="/v19/calculate-release-dates/genuine-overrides/omu/check-previous-dates" method="post">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                      Confirm if these dates are still correct
                    </h1>
                  </legend>
                  <p class="govuk-body">If the dates are correct, they will be saved to NOMIS.</p>
              
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="reconfirmOverrideDatesQuestion" name="reconfirmOverrideDatesQuestion" type="radio" value="yes"/>
                      <label class="govuk-label govuk-radios__label" for="reconfirmOverrideDatesQuestion">
                        Yes, all release dates are still correct
                      </label>
                      <!-- <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                        If you agree with the dates that have been manually calculated, they will be saved in NOMIS.
                      </div> -->
                    </div>
              
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="reconfirmOverrideDatesQuestion-2" name="reconfirmOverrideDatesQuestion" type="radio" value="no"/>
                      <label class="govuk-label govuk-radios__label" for="reconfirmOverrideDatesQuestion-2">
                        No, release dates are either missing or incorrect
                      </label>
                    </div>
                  </div>
                </fieldset>
              
               
        <div class="govuk-button-group govuk-!-margin-top-6"> 
              <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-qa="submitReason">
                  Continue
              </button> 
 
              <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Cancel
              </button>
      </div>

    </form>
                  <!-- <p class="govuk-body govuk-!-font-size-16"><a href="../release-dates" class="govuk-link">Cancel calculation</a></p> -->
                  </div> 
          </div>

        </div>
      </div>
  </div> 
  
{% endblock %}