{% extends "../dps/includes/template.html" %}
{% block content %}
<!-- Prisoner identity bar -->
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">1 February 1990</span><strong>Prison number: </strong>B4166LG</span>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs -->
<!-- <div class="moj-width-container">
    <div class="govuk-breadcrumbs govuk-!-display-none-print">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/prisoner/G9126UE">Bloggs, Joe</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">Calculate release dates</li>
        </ol>
    </div>
</div> -->
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-8">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
                Review calculation before submitting
            </h1>
        </div>
    </div>
</div>
<!-- Final release dates -->
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l govuk-!-margin-top-6">Final release dates</h2>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <div class="custom-card" style="background-color: #f3f2f1;">
                <div class="custom-card-main">
                    <!-- SLED -->
                    <h3 class="govuk-heading-s">Sentence and licence expiry date (SLED)</h3>
                    <p class="govuk-body">Wednesday, 28 August 2024</p>
                    <!-- CRD -->
                    <h3 class="govuk-heading-s">Conditional release date (CRD)</h3>
                    <p class="govuk-body ">Friday, 3 March 2023</p>
                    <p class="govuk-hint govuk-!-font-size-16">Saturday, 4 March 2023 when adjusted for weekend</p>
                    <!-- TUSED -->
                    <!-- <h3 class="govuk-heading-s">Top up supervision end date (TUSED)</h3>
                    <p class="govuk-body ">Monday, 29 May 2023</p> -->
                    <!-- <p class="govuk-hint govuk-!-font-size-16">Sunday, 28 May 2023 adjusted for weekend</p> -->
                    <!-- HDC -->
                    <h3 class="govuk-heading-s">Home detention curfew eligibility date (HDCED)</h3>
                    <p class="govuk-body ">Friday, 21 October 2022</p>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row govuk-!-margin-top-6">
        <div class="govuk-grid-column-two-thirds">
            <details class="govuk-details govuk-!-margin-bottom-2" >
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Why are some details missing?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    Some dates and details are not included as according to <a href="http://www.justice.gov.uk/downloads/offenders/psipso/psi-2015/psi-03-2015-sentence-calculation-determiante-sentenced-prisoners.pdf" target="_blank">PSI 03/2015 (opens in new tab)</a> they are not relevant to this person's circumstances.
                </div>
            </details>
            <details class="govuk-details" >
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        How are final release dates calculated?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    Some calculations are made up of different sentences and terms, such as overlapping or concurrent sentences. The final release date comes from the sentence or term with the latest release date.
                </div>
            </details>
        </div>
    </div>
</div>
<!-- Calculation breakdown -->
<!-- Breakdown -->
<div class="moj-width-container">
    <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-6">Calculation breakdown</h2>
    <!-- Concurrent sentence breakdown -->
    <h3 class="govuk-heading-m govuk-!-margin-bottom-4">Concurrent sentences</h3>
    <table class="govuk-table govuk-!-margin-bottom-4" style="table-layout:fixed; width: 100%; border: none;">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" style="width: 25%">Sentence</th>
                <th scope="col" class="govuk-table__header govuk-table__header--date">Sentence date</th>
                <th scope="col" class="govuk-table__header govuk-table__header--date">Sentence length</th>
                <th scope="col" class="govuk-table__header govuk-table__header--date">Expiry date</th>
                <th scope="col" class="govuk-table__header govuk-table__header--date">Release date</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body calculation-breakdown">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Court case 1, count 9 <br><p class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">Court case number: T20210107</p></td>
                <td class="govuk-table__cell">21 September 2021</td>
                <td class="govuk-table__cell">3 months</td>
                <td class="govuk-table__cell">20 December 2021<div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">91 days<br></div><div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">SLED<br></div></div></td>
                <td class="govuk-table__cell">5 November 2021<div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">46 days<br></div><div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">CRD<br></div></td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Court case 1, count 10<br><p class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">Court case number: T20210107</p></td>
                <td class="govuk-table__cell">21 September 2021</td>
                <td class="govuk-table__cell">1 year</td>
                <td class="govuk-table__cell">20 September 2022<div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">365 days<br></div><div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">SLED<br></div></div></td>
                <td class="govuk-table__cell">22 March 2022<div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">183 days<br></div><div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">CRD<br></div></td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Court case 1, count 11<br><p class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">Court case number: T20210107</p></td>
                <td class="govuk-table__cell">21 September 2021</td>
                <td class="govuk-table__cell">18 months</td>
                <td class="govuk-table__cell">20 March 2023<div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">546 days<br></div><div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">SLED<br></div></div></td>
                <td class="govuk-table__cell">20 June 2022<div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">273 days<br></div><div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">CRD<br></div></td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Court case 1, count 12<br><p class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">Court case number: T20210107</p></td>
                <td class="govuk-table__cell">21 September 2021</td>
                <td class="govuk-table__cell">6 months</td>
                <td class="govuk-table__cell">20 March 2022<div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">181 days<br></div></div><div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">SLED<br></div></td>
                <td class="govuk-table__cell">20 December 2021<div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">91 days<br></div><div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">CRD<br></div></td>
            </tr>
        </tbody>
    </table>
    <h3 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-8">Consecutive sentences</h3>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-2 govuk-!-margin-bottom-4">Consecutive sentences start date: <span class="govuk-body"> 21 September 2021</span></p>
            <table class="govuk-table govuk-!-margin-bottom-4">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header" style="width: 45%;">Sentence</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--date">Sentence length</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body calculation-breakdown">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Court case 1, count 2<br><p class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">Court case number: T20210107</p></td>
                        <td class="govuk-table__cell">18 months</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Court case 1, count 1<br><p class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">Court case number: T20210107</p></td>
                        <td class="govuk-table__cell">18 months <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">consecutive to count 2<br></div></td>
                    </tr>
                </tbody>
            </table>
            <table class="govuk-table govuk-!-margin-top-6">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row" style="border-top: none; margin-top: 25px;">
                        <td class="govuk-table__header" style="width: 45%;">Total sentence length</td>
                        <td class="govuk-table__cell">1096 days</td>
                    </tr>
                    <tr class="govuk-table__row" style="border-top: none; margin-top: 25px;">
                        <td class="govuk-table__header" style="width: 45%;">SLED</td>
                        <td class="govuk-table__cell">20 September 2024<div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">1096 days<br></div></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__header" style="border-bottom: none;">CRD</td>
                        <td class="govuk-table__cell" style="border-bottom: none;">22 March 2023 <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">548 days<br></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h3 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-6">Release dates with adjustments</h3>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <table class="govuk-table govuk-!-margin-bottom-4">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__header" style="width: 55%;">Latest SLED with adjustments</td>
                        <td class="govuk-table__cell">20 August 2024<div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">20 September 2024 minus 23 days</div></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__header">Latest CRD with adjustments</td>
                        <td class="govuk-table__cell">4 March 2023<div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">22 March 2023 minus 18 days</div></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__header">HDCED with adjustments</td>
                        <td class="govuk-table__cell">21 October 2023<div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">22 March 2023 minus 134 days</div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m govuk-!-margin-top-8">Confirm and submit to NOMIS</h3>
            <p class="govuk-body">By submitting this calculation you are confirming that, to the best of your knowledge, it is correct. The calculation will be saved in NOMIS.</p>
            <a href="calculation-complete.html">
                <button class="govuk-button" data-module="govuk-button">Confirm and submit</button>
            </a>
            <p class="govuk-body govuk-!-font-size-16"><a href="calculation-cancelled.html" class="govuk-link">Cancel calculation</a></p>
        </div>
    </div>
</div>
{% endblock %}