{% extends "../dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <a href="schedule-15-offence" class="govuk-back-link">Back</a>
</div>
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-top-6">
                Schedule 15 offences
            </h1>
            <!--             <p>The sentences  currently supported by the Calculate release dates service are:</p> -->
            <ul class="govuk-list govuk-list--bullet">
                <li>Manslaughter</li>
                <li>Kidnapping</li>
                <li>False imprisonment</li>
                <li>Soliciting murder</li>
                <li>[an offence under section 4 of the Offences against the Person Act 1861 (c. 100)]</li>
                <li>Wounding with intent to cause grievous bodily harm (an offence under section 18 of the Offences against the Person Act)</li>
                <li>Attempting to choke</li>
                <li>Using chloroform etc. to commit or assist in the committing of any indictable offence. (An offence under section 22 of the Offences against the Person Act)</li>
                <li>Causing bodily injury by explosives (An offence under section 28 of the Offences against the Person Act)</li>
                <li>Using explosives etc. with intent to do GBH (An offence under section 29 of the Offences against the Person Act)</li>
                <li>Endangering the safety of railway passengers (An offence under section 32 of the Offences against the Person Act)</li>
                <li>Causing explosion likely to endanger life or property (An offence under section 2 of the Explosive Substances Act 1883)</li>
                <li>Attempt to cause explosion or making or keeping explosive with intent to endanger life or property (An offence under section 3 of the Explosive Substances Act 1883)</li>
                <li>Making or possession of explosive under suspicious circumstances (An offence under section 4 of the Explosive Substances Act 1883)</li>
                <li>Child destruction (An offence under section 1 of the Infant Life (Preservation) Act 1929 (c. 34)]</li>
                <li>Infanticide (An offence under section 1 of the Infanticide Act 1938)</li>
                <li>Possession of firearm with intent to endanger life (An offence under section 16 of the Firearms Act 1968 (c. 27)</li>
                <li>Use of firearm to resist arrest (An offence under section 17(1) of the Firearms Act 1968)</li>
                <li>Possession of firearm at time of committing or being arrested for offence specified in Schedule 1 to that Act (An offence under section 17(2) of the Firearms Act 1968)</li>
                <li>Carry a firearm with criminal intent (An offence under section 18 of the Firearms Act 1968)</li>
                <li>Robbery/assault with intent to rob (An offence under section 8 of the Theft Act 1968 (c. 60)</li>
                <li>Aggravated burglary (An offence under section 10 of the Theft Act 1968)</li>
                <li>Arson (An offence of arson under section 1 of the Criminal Damage Act 1971 (c. 48).</li>
                <li>Destroying or damaging property other than arson (An offence of arson under section 1(2) of the Criminal Damage Act 1971.)</li>
                <li>Hostage taking (An offence under section 1 of the Taking of Hostages Act 1982 (c. 28)</li>
                <li>Hijacking (An offence under section 1 of the Aviation Security Act 1982 (c. 36)</li>
                <li>Destroying</li>
                <li>Other acts endangering or likely to endanger safety of aircraft (An offence under section 3 of the Aviation Security Act 1982)</li>
                <li>Torture (An offence under section 134 of the Criminal Justice Act 1988 (c. 33)</li>
                <li>Endangering safety at aerodromes (An offence under section 1 of the Aviation and Maritime Security Act 1990 (c. 31)</li>
                <li>Hijacking of ships (An offence under section 9 of the Aviation and Maritime Security Act 1990)</li>
                <li>Seizing or exercising control of fixed platforms (An offence under section 10 of the Aviation and Maritime Security Act 1990)</li>
                <li>Destroying ships or fixed platforms endangering their safety (An offence under section 11 of the Aviation and Maritime Security Act 1990)</li>
                <li>Other acts endangering or likely to endanger safe navigation (An offence under section 12 of the Aviation and Maritime Security Act 1990)</li>
                <li>Offences involving threats (An offence under section 13 of the Aviation and Maritime Security Act 1990)</li>
                <li>Offences relating to Channel Tunnel trains and the tunnel system (An offence under Part II of the Channel Tunnel (Security) Order 1994 (S.I. 1994/570))</li>
                <li>Slavery</li>
                <li>Human Trafficking (An offence under section 2 of the Modern Slavery Act which is not within Part 2 of this Schedule)</li>
                <li>Aiding</li>
                <li>(2) An attempt to commit such an offence.</li>
                <li>(3) Conspiracy to commit such an offence.</li>
                <li>(4) Incitement to commit such an offence.</li>
                <li>(5) An offence under Part 2 of the Serious Crime Act 2007 in relation to which an offence specified in the preceding paragraphs of this Part of this Schedule is the offence (or one of the offences) which the person intended or believed would be committed</li>
                <li>Attempted murder</li>
                <li>conspiracy to commit murder</li>
                <li>incitement to commit murder.</li>
                <li>(An offence under Part 2 of the Serious Crime Act 2007 in relation to which murder is the offence (or one of the offences) which the person intended or believed would be committed.)</li>
                <li>Part 2: Specified sexual offences</li>
                <li>Rape (An offence under section 1 of the Sexual Offences Act 1956 (c. 69)</li>
                <li>Intercourse with girl under 13 (An offence under section 5 of the Sexual Offences Act 1956)</li>
                <li>Incest by a man with a girl under 13 (An offence under section 10 of the Sexual Offences Act 1956)</li>
                <li>Permitting girl under thirteen to use premises for intercourse (An offence under section 25 of the Sexual Offences Act 1956)</li>
                <li>Rape (An offence under section 1 of the Sexual Offences Act 2003 (c. 42)</li>
                <li>Assault by Penetration (An offence under section 2 of the Sexual Offences Act 2003)</li>
                <li>Causing a person to engage in sexual activity without consent (An offence under section 4 of the Sexual Offences Act 2003 where it is alleged that the activity caused involved penetration within subsection (4)(a) to (d) of that section.</li>
                <li>Rape of a child under 13 (An offence under section 5 of the Sexual Offences Act 2003)</li>
                <li>Assault of a child under 13 by penetration (An offence under section 6 of the Sexual Offences Act 2003)</li>
                <li>Causing a child under thirteen to engage in sexual activity (An offence under section 8 of the Sexual Offences Act 2003 where it is alleged that an activity involving penetration within subsection (2)(a) to (d) of that section was caused)</li>
                <li>Sexual activity with a person with a mental disorder impeding choice (An offence under section 30 of the Sexual Offences Act 2003)</li>
                <li>Causing or inciting a person with a mental disorder impeding choice to engage in sexual activity (An offence under section 31 of the Sexual Offences Act 2003)</li>
                <li>Inducement</li>
                <li>Causing a person with a mental disorder to engage in or agree to engage in sexual activity by inducement</li>
                <li>Paying for sexual services of a child (where victim is <13</li> <li>An offence under section 47 of the Sexual Offences Act 2003</li>
                <li>An offence under section 2 of the Modern Slavery Act 2015 (human trafficking) committed with a view to exploitation that consists of or includes behaviour within section 3(3) of that Act (sexual exploitation)</li>
                <li>Aiding</li>
                <li>(2) An attempt to commit such an offence.</li>
                <li>(3) Conspiracy to commit such an offence.</li>
                <li>(4) Incitement to commit such an offence.</li>
                <li>(5) An offence under Part 2 of the Serious Crime Act 2007 in relation to which an offence specified in the preceding paragraphs of this Part of this Schedule is the offence (or one of the offences) which the person intended or believed would be committed</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}