{% extends "../layout.html" %}
{% block content %}
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <img class="" src="{{ asset_path }}images/HMPPS-logo.png" alt="" style="width:150px;">
        </div>
        <div class="govuk-grid-column-one-half">
            <p class="govuk-!-font-size-24 govuk-!-text-align-right">HMP Green Mile</p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l govuk-!-margin-top-6">Your sentence details</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <p class="govuk-!-font-size-14">21 December 2022</p>
            <p class="govuk-!-font-size-14">Dear Colin Ball,</p>
            <p class="govuk-!-font-size-14 govuk-!-font-weight-bold">Prison number G2883VE</p>
            <p class="govuk-!-font-size-14">Because you have recently arrived at HMP Cold Mountain we have calculated dates for your sentence.</p>
            <p class="govuk-!-font-size-14">If you need any help understanding them or how they are worked out, speak to your wing officer.</p>
        </div>
    </div>
    <div class="govuk-grid-row govuk-!-margin-top-2">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-s">Important dates</h2>
            <div class="custom-card" style="background-color: #f3f2f1">
                <div class="custom-card-main">
                    <table class="govuk-table">
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th style="border-bottom: none;" scope="row" class="govuk-table__header govuk-!-font-size-14">Post Recall Release Date (PRRD)</th>
                                <td style="border-bottom: none;" class="govuk-table__cell govuk-!-font-size-14">Friday, 11 July 2023</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td style="border-bottom: none;" class="govuk-table__cell" colspan="2"><span class="govuk-hint govuk-!-font-size-14">This is the date you will leave prison if you agree to
some conditions. This will be halfway through your sentence.</span></td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th style="border-bottom: none;" scope="row" class="govuk-table__header govuk-!-font-size-14">Sentence and licence expiry date (SLED)</th>
                                <td style="border-bottom: none;" class="govuk-table__cell govuk-!-font-size-14">Sunday, 24 September 2023</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th style="border-bottom: none;" scope="row" class="govuk-table__header govuk-!-font-size-14">Top Up Supervision Expiry Date (TUSED)</th>
                                <td style="border-bottom: none;" class="govuk-table__cell govuk-!-font-size-14">Wednesday, 25 October 2023</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row govuk-!-margin-top-6">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m">Sentence details</h2>
            <table class="govuk-table">
                <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-font-size-14">Sentence</th>
      <th scope="col" class="govuk-table__header govuk-!-font-size-14">Sentence start date</th>
      <th scope="col" class="govuk-table__header govuk-!-font-size-14">Sentence length</th>
    </tr>
  </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td style="border-bottom: none;" scope="row" class="govuk-table__cell govuk-!-font-size-14">Court case 1, count 1</td>
                                <td style="border-bottom: none;" class="govuk-table__cell govuk-!-font-size-14">11 November 2017</td>
                                <td style="border-bottom: none;" class="govuk-table__cell govuk-!-font-size-14">5 years</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td style="border-bottom: none;" scope="row" class="govuk-table__cell govuk-!-font-size-14">Court case 2, count 1</td>
                                <td style="border-bottom: none;" class="govuk-table__cell govuk-!-font-size-14">2 December 2020</td>
                                <td style="border-bottom: none;" class="govuk-table__cell govuk-!-font-size-14">4 months</td>
                            </tr>
                        </tbody>
                    </table>
        </div>
    </div>
</div>
{% endblock %}