{% extends "../../dps/includes/template.html" %}
{% block content %}
<!-- Prisoner identity bar -->
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Colin Ball</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">15 May 2000</span><strong>Prison number: </strong>G2883VE</span>
            </div>
        </div>
    </div>
</div>
<!-- Back link -->
<div class="moj-width-container">
    <a href="check-sentence-and-offence-information" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-7">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
                Review calculation before submitting
            </h1>
        </div>
    </div>
</div>
<!-- Final release dates -->
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l govuk-!-margin-top-6">Final release dates</h2>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <div class="custom-card" style="background-color: #f3f2f1;">
                <div class="custom-card-main">
                    <!-- SLED -->
                    <h3 class="govuk-heading-s">Sentence and licence expiry date (SLED)</h3>
                    <p class="govuk-body">Saturday, 1 November 2025</p>
                    <p class="govuk-body govuk-hint govuk-!-font-size-16" data-qa="CRD-weekend-adjustment">Friday, 31 October 2025 when adjusted to a working day</p>
                    <!-- CRD -->
                    <h3 class="govuk-heading-s">Conditional release date (CRD)</h3>
                    <p class="govuk-body ">Saturday, 7 January 2023</p>
                    <p class="govuk-body govuk-hint govuk-!-font-size-16" data-qa="CRD-weekend-adjustment">Friday, 6 January 2023 when adjusted to a working day</p>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row govuk-!-margin-top-6">
        <div class="govuk-grid-column-two-thirds">
            <details class="govuk-details govuk-!-margin-bottom-2" >
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Why are some details missing?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    Some dates and details are not included as according to <a href="http://www.justice.gov.uk/downloads/offenders/psipso/psi-2015/psi-03-2015-sentence-calculation-determiante-sentenced-prisoners.pdf" target="_blank">PSI 03/2015 (opens in new tab)</a> they are not relevant to this person's circumstances.
                </div>
            </details>
            <details class="govuk-details" >
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        How are final release dates calculated?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    Some calculations are made up of different sentences and terms, such as overlapping or concurrent sentences. The final release date comes from the sentence or term with the latest release date.
                </div>
            </details>
        </div>
    </div>
</div>
<!-- Calculation breakdown -->
<!-- Breakdown -->
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l govuk-!-margin-top-6">Calculation breakdown</h2>
            <div class="govuk-!-margin-bottom-8">
                <h3 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-4">
                    Sentences
                </h3>
                <!-- Card style breakdown -->
                <div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
                    <div class="govuk-grid-column-full govuk-!-margin-top-4">
                        <h3 class="govuk-body-s govuk-!-margin-bottom-0">Court case 2, Count 1</h3>
                        <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
                            Abstract / use without authority electricity
                        </h4>
                        <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-2 govuk-!-margin-bottom-0">
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row govuk-body-s">
                                    <th scope="row" class="govuk-table__header sentence-table-header">Sentence date</th>
                                    <td class="govuk-table__cell">20 March 2020</td>
                                </tr>
                                <tr class="govuk-table__row govuk-body-s">
                                    <th scope="row" class="govuk-table__header sentence-table-header">Sentence length</th>
                                    <td class="govuk-table__cell">12 years 0 months 0 weeks 0 days
                                    </td>
                                </tr>
                                <tr class="govuk-table__row govuk-body-s">
                                    <th scope="row" class="govuk-table__header sentence-table-header">SLED</th>
                                    <td class="govuk-table__cell">16 July 2021<br><span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-14">365 days</span>
                                    </td>
                                </tr>
                                <tr class="govuk-table__row govuk-body-s">
                                    <th scope="row" class="govuk-table__header sentence-table-header">CRD</th>
                                    <td class="govuk-table__cell">15 January 2021<br><span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-14">183 days</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
                    <div class="govuk-grid-column-full govuk-!-margin-top-4">
                        <h3 class="govuk-body-s govuk-!-margin-bottom-0">Court case 4, Count 1</h3>
                        <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
                            Burglary dwelling - with intent to steal
                        </h4>
                        <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-2 govuk-!-margin-bottom-0">
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row govuk-body-s">
                                    <th scope="row" class="govuk-table__header sentence-table-header">Sentence date</th>
                                    <td class="govuk-table__cell">13 December 2020</td>
                                </tr>
                                <tr class="govuk-table__row govuk-body-s">
                                    <th scope="row" class="govuk-table__header sentence-table-header">Sentence length</th>
                                    <td class="govuk-table__cell">0 years 2 months 0 weeks 0 days
                                    </td>
                                </tr>
                                <tr class="govuk-table__row govuk-body-s">
                                    <th scope="row" class="govuk-table__header sentence-table-header">SLED</th>
                                    <td class="govuk-table__cell">12 February 2021<br><span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-14">62 days</span>
                                    </td>
                                </tr>
                                <tr class="govuk-table__row govuk-body-s">
                                    <th scope="row" class="govuk-table__header sentence-table-header">CRD</th>
                                    <td class="govuk-table__cell">12 January 2021<br><span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-14">31 days</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
                    <div class="govuk-grid-column-full govuk-!-margin-top-4">
                        <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
                            Aggregate consecutive sentences
                        </h4>
                        <details class="govuk-details govuk-!-margin-bottom-1" >
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text govuk-!-font-size-16">
                                    Consecutive sentence details
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                <table class="govuk-table govuk-!-font-size-16">
                                    <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                            <th scope="col" width="50%" class="govuk-table__header">Sentence</th>
                                            <th scope="col" class="govuk-table__header govuk-table__header--date">Sentence length</th>
                                        </tr>
                                    </thead>
                                    <tbody class="govuk-table__body calculation-breakdown">
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">Court case 1, count 1<p class="govuk-!-font-weight-bold govuk-!-font-size-16">Abstract / use without authority electricity</p>
                                            </td>
                                            <td class="govuk-table__cell">2 years<br>
                                            </td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">Court case 3, count 1<p class="govuk-!-font-weight-bold govuk-!-font-size-16">Burglary dwelling - with intent to steal</p>
                                            </td>
                                            <td class="govuk-table__cell">8 months<br>
                                                <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">consecutive to court case 1, count 1</span>
                                            </td>
                                        </tr>
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell" style="border-bottom: none;">Court case 5, count 1<p class="govuk-!-font-weight-bold govuk-!-font-size-16">Burglary dwelling - with intent to steal</p>
                                            </td>
                                            <td class="govuk-table__cell" style="border-bottom: none;">3 years<br>
                                                <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">consecutive to court case 3, count 3</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </details>
                        <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-2 govuk-!-margin-bottom-0">
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row govuk-body-s">
                                    <th scope="row" class="govuk-table__header sentence-table-header">Sentence date</th>
                                    <td class="govuk-table__cell">20 March 2020</td>
                                </tr>
                                <tr class="govuk-table__row govuk-body-s">
                                    <th scope="row" class="govuk-table__header sentence-table-header">Aggregate sentence length</th>
                                    <td class="govuk-table__cell">5 years 8 months 0 weeks 0 days
                                    </td>
                                </tr>
                                <tr class="govuk-table__row govuk-body-s">
                                    <th scope="row" class="govuk-table__header sentence-table-header">
                                        <div style="padding-top:10px">SLED</div>
                                    </th>
                                    <td class="govuk-table__cell" style="padding: 0;">
                                        <div style="border-left: 5px solid #1d70b8; padding: 5px 40px 5px 10px; margin-top:10px">19 November 2025<span class="moj-badge govuk-!-margin-left-2">Latest SLED</span><br><span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-14">2071 days</span>
                                    </td>
                                </tr>
                                <tr class="govuk-table__row govuk-body-s">
                                    <th scope="row" class="govuk-table__header sentence-table-header">
                                        <div style="padding-top:10px">CRD</div>
                                    </th>
                                    <td class="govuk-table__cell" style="padding: 0;">
                                        <div style="border-left: 5px solid #1d70b8; padding: 5px 40px 5px 10px; margin-top:10px">19 January 2023<span class="moj-badge govuk-!-margin-left-2">Latest CRD</span><br><span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-14">1036 days</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3 class="govuk-heading-m govuk-!-margin-bottom-4">Release dates that include adjustments</h3>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <table class="govuk-table govuk-!-margin-bottom-8" data-qa="release-dates-adjustments-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th width="15%" scope="col" class="govuk-table__header">Date type</th>
                        <th width="30%" scope="col" class="govuk-table__header govuk-table__header--date">Calculation</th>
                        <th width="20%" scope="col" class="govuk-table__header govuk-table__header--date">Calculated date</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--date">Notes</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">SLED</th>
                        <td class="govuk-table__cell">
                            19 November 2025 &minus; 18 days
                        </td>
                        <td class="govuk-table__cell">
                            1 November 2025
                        </td>
                        <td class="govuk-table__cell">
                            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
                                <li>18 days remand</li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__header">CRD</td>
                        <td class="govuk-table__cell">
                            19 January 2023 &minus; 12 days
                        </td>
                        <td class="govuk-table__cell">
                            7 January 2023
                        </td>
                        <td class="govuk-table__cell">
                            <ul class="govuk-list govuk-!-margin-bottom-0 govuk-list--bullet">
                                <li>12 additional days awarded (ADAs)</li>
                                <li>8 restore additional days awarded (RADA)</li>
                                <li>18 days remand</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="moj-width-container govuk-!-margin-top-6">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m">Confirm and submit to NOMIS</h3>
            <p class="govuk-body">By submitting this calculation you are confirming that, to the best of your knowledge, it is correct. The calculation will be saved in NOMIS.</p>
            <a href="calculation-complete.html">
                <button class="govuk-button" data-module="govuk-button">Confirm and submit</button>
            </a>
            <p class="govuk-body govuk-!-font-size-16"><a href="calculation-cancelled.html" class="govuk-link">Cancel calculation</a></p>
        </div>
    </div>
</div>
{% endblock %}