{% extends "../../../../includes/layouts/template-linear.html" %}
{% block content %} 
<!-- Back link -->
<div class="moj-width-container govuk-!-margin-bottom-6">
  <a href="return-to-custody-date" class="govuk-back-link">Back</a>
</div>
<div class="moj-interruption-card">
    <div class="moj-interruption-card__content">
      <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l moj-interruption-card__heading" style="color: #ffff;">Review previously overridden dates</h1>
        </div>  
        <div class="govuk-grid-column-three-quarters">

            <div class="govuk-body-l moj-interruption-card__body">
              <p>Previous release dates have been overridden, because no underlying data has changed, these overridden dates can be saved again.</p> 
              
            </div>
    
          </div>
          <div class="govuk-grid-column-full">
            <div class="govuk-button-group moj-interruption-card__actions">
        
                <form method="post" action="unsupported-sentences">
                    <button type="submit" data-prevent-double-click="true" class="govuk-button govuk-button--inverse" data-module="govuk-button" data-qa="submitReason">
                        Continue
                    </button> 
                <!-- </form> -->
                <!-- <form method="post" action="cancel"> -->
                    <button type="submit" class="govuk-button govuk-button--inverse" data-module="govuk-button">
                        Cancel 
                    </button>
                </form> 
          
            </div>
    
          </div>

      </div>
    </div>
  </div>

  
{% endblock %}