{% extends "../dps/includes/template.html" %}
{% block content %}
<!-- Prisoner identity bar -->
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">1 February 1990</span><strong>Prison number: </strong>B4166LG</span>
            </div>
        </div>
    </div>
</div>
<!-- Back link -->
<div class="moj-width-container">
<a href="search-for-prisoner-results" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-7">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Check sentence and offence information for Joe Bloggs
            </h1>
            <p class="govuk-body">This calculation will include 3 sentences from NOMIS.</p>
            <h2 class="govuk-heading-l govuk-!-margin-top-6">Court cases</h2>
        </div>
    </div>
</div>
<!-- Court case 1 -->
<div class="moj-width-container">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Court case 1</h3>
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <dl class="govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Court case number
    </dt>
    <dd class="govuk-summary-list__value">
      463909453
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Court name
    </dt>
    <dd class="govuk-summary-list__value">
      Kingston-upon-Thames (County Court, St James's Road)
    </dd>
  </div>
</dl>
</div>
</div>
    <table class="govuk-table" style="width: 100%;">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col" style="width: 3%">Count</th>
                <th class="govuk-table__header" scope="col" style="width: 40%">Offence</th>
                <th class="govuk-table__header" scope="col" style="width: 18%">Sentence type</th>
                <th class="govuk-table__header" scope="col" style="width: 18%">Sentence date</th>
                <th class="govuk-table__header" scope="col" style="width: 21%">Sentence length</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <!-- Count -->
                <td class="govuk-table__cell">1.</td>
                <!-- Offence -->
                <td class="govuk-table__cell">Abstract / use without authority electricity<br>
                    <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0;">Committed on 4 April 2020</div>
                </td>
                <!-- Sentence type -->
                <td class="govuk-table__cell">ORA 14 Day Fixed Term Recall<br>
                    <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">Returned to custody on<br> 27 February 2022</div></td>
                <!-- Sentence date -->
                <td class="govuk-table__cell">3 September 2021</td>
                <!-- Sentence length -->
                <td class="govuk-table__cell">0 years 11 months<br>0 weeks 0 days<br>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <!-- Count -->
                <td class="govuk-table__cell">2.</td>
                <!-- Offence -->
                <td class="govuk-table__cell">13 hours or more working<br>
                    <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">Committed on 2 March 2019</div>
                </td>
                <!-- Sentence type -->
                <td class="govuk-table__cell">ORA 14 Day Fixed Term Recall<br>
                    <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">Returned to custody on<br> 27 February 2022</div></td>
                <!-- Sentence date -->
                <td class="govuk-table__cell">3 September 2021</td>
                <!-- Sentence length -->
                <td class="govuk-table__cell">0 years 2 months<br>0 weeks 0 days<br>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <!-- Count -->
                <td class="govuk-table__cell">3.</td>
                <!-- Offence -->
                <td class="govuk-table__cell">Access / exit by unofficial route - railway bye-law<br>
                    <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">Committed on 1 January 2020</div>
                </td>
                <!-- Sentence type -->
                <td class="govuk-table__cell">ORA 14 Day Fixed Term Recall<br>
                    <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">Returned to custody on<br> 27 February 2022</div></td>
                <!-- Sentence date -->
                <td class="govuk-table__cell">3 September 2021</td>
                <!-- Sentence length -->
                <td class="govuk-table__cell">0 years 2 months<br>0 weeks 0 days<br>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Adjustments -->
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-l govuk-!-margin-top-6">Adjustments</h2>
            <div class="govuk-tabs govuk-!-margin-top-8" data-module="govuk-tabs">
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#summary">
                            Summary
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#detailed">
                            Detailed
                        </a>
                    </li>
                </ul>
                <!-- Summary tab -->
                <div class="govuk-tabs__panel" id="summary">
                    <h3 class="govuk-heading-m govuk-!-margin-bottom-4">Deductions</h3>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col">Adjustment</th>
                                <th class="govuk-table__header" scope="col">Days</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <!-- Adjustment -->
                                <td class="govuk-table__cell">Recall sentence remand</td>
                                <!-- Days -->
                                <td class="govuk-table__cell">6</td>
                            </tr>
                        </tbody>
                    </table>
                    <h3 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-8 ">Additions</h3>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col">Adjustment</th>
                                <th class="govuk-table__header" scope="col">Days</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <!-- Adjustment -->
                                <td class="govuk-table__cell">Unlawfully at large
                                    <!-- Days -->
                                <td class="govuk-table__cell">1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Details tab -->
                <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="detailed">
                    <h3 class="govuk-heading-m govuk-!-margin-bottom-6">Deductions</h3>
                    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Recall sentence remand</h4>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col" style="width: 90%">Dates</th>
                                <th class="govuk-table__header" scope="col" style="width: 10%">Days</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <!-- Dates -->
                                <td class="govuk-table__cell">From 28 August 2021 to 2 September 2021</td>
                                <!-- Days -->
                                <td class="govuk-table__cell">6
                                </td>
                            </tr>
                            <!-- Total -->
                            <tr class="govuk-table__row">
                                <!-- Dates -->
                                <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">Total days</td>
                                <!-- Days -->
                                <td class="govuk-table__cell">6
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h3 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-6">Additions</h3>
                    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Unlawfully at large (UAL)</h4>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col" style="width: 90%">Dates</th>
                                <th class="govuk-table__header" scope="col" style="width: 10%">Days</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <!-- Dates -->
                                <td class="govuk-table__cell">26 February 2022 to 26 February 2022</td>
                                <!-- Days -->
                                <td class="govuk-table__cell">1
                                </td>
                            </tr>
                            <!-- Total -->
                            <tr class="govuk-table__row">
                                <!-- Dates -->
                                <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">Total days</td>
                                <!-- Days -->
                                <td class="govuk-table__cell">1
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Call to action -->
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m govuk-!-margin-top-7">Now calculate release dates for Joe Bloggs</h2>
            <p class="govuk-body">The release dates will not be saved in NOMIS until you have reviewed the calculation.</p>
            <a href="calculation-summary.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                Calculate release dates
            </a>
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Some information is wrong
                    </span>
                </summary>
                <div class="govuk-details__text">
                    You can edit this information in NOMIS and <a onclick="correctMistake()" href="javascript:void(0);">reload this page</a>.
                    If you think the service isn’t working properly, email <a href="mailto:calculatereleasedates@digital.justice.gov.uk">calculatereleasedates@digital.justice.gov.uk</a> for support.
                </div>
            </details>
        </div>
    </div>
</div>
{% endblock %}