{% extends "../../../../includes/layouts/template-linear.html" %}
{% block content %} 
<!-- Back link -->
<div class="moj-width-container">
  <a href="reason-for-override" class="govuk-back-link">Back</a>
</div>  

<div class="moj-width-container govuk-!-margin-top-6">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Calculate release dates</span>
        Provide additional information before recording release dates 
      </h1> 
        
        <p>In order to override release dates calculated by the Calculate release dates service, you should provide some additional information.</p>  
        <h2 class="govuk-heading-m">You will need to provide</h2> 
        <ol class="govuk-list govuk-list--number">
          <!-- <li>Information about who has supported this override</li> -->
          <li>Court documents to support calculation</li>
          <li>Any other documents such as emails for the Specialist Support Team (SST) if applicable</li>
          <li>The release dates from your paper calculation</li>
        </ol>  
         
    <div class="govuk-button-group govuk-!-margin-top-4">
      <form method="post" action="upload-a-warrant-question">
          <button type="submit" data-prevent-double-click="true" class="govuk-button " data-module="govuk-button" data-qa="submitReason">
              Continue 
          </button>
      </form>

      <form method="post" action="cancel">
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Cancel
          </button>
      </form> 
   
    </div> 
    </div>
    </div>


  
{% endblock %}