{% extends "../dps/includes/template.html" %}
{% block content %}
<!-- Prisoner identity bar -->
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Colin Ball</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">15 May 2000</span><strong>Prison number: </strong>G2883VE</span>
            </div>
        </div>
    </div>
</div>
<!-- Back link -->
<div class="moj-width-container">
    <a href="search-for-prisoner-results" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-7">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Check sentence and offence information for Colin Ball
            </h1>
            <p class="govuk-body">This calculation will include 3 sentences from NOMIS.</p>
            <h2 class="govuk-heading-l govuk-!-margin-top-6">Court cases</h2>
        </div>
    </div>
</div>
<!-- Court case 1 -->
<div class="moj-width-container">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Court case 1</h3>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <dl class="govuk-summary-list govuk-summary-list--no-border">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Court case number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        T20221234
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Court name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Aberdare County Court
                    </dd>
                </div>
            </dl>
        </div>
    </div>
    <div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
        <div class="govuk-grid-column-full govuk-!-margin-top-4">
            <h3 class="govuk-body govuk-!-margin-bottom-0">Count 1</h3>
            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
                Robbery
            </h4>
            <p class="govuk-body">Committed on 10 October 2012</p>
            <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header" style="width: 20%;">Sentence type</th>
                        <td class="govuk-table__cell">Licence Recall</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Sentence date</th>
                        <td class="govuk-table__cell">22 February 2013</td>
                    </tr>
                                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Recall date</th>
                        <td class="govuk-table__cell">22 February 2014</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Sentence length</th>
                        <td class="govuk-table__cell">9 years 0 months 0 weeks 0 days
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Court case 2 -->
<div class="moj-width-container">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Court case 2</h3>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <dl class="govuk-summary-list govuk-summary-list--no-border">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Court case number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        T202171234
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Court name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Birmingham Youth Court
                    </dd>
                </div>
            </dl>
        </div>
    </div>
  <div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
        <div class="govuk-grid-column-full govuk-!-margin-top-4">
            <h3 class="govuk-body govuk-!-margin-bottom-0">Count 1</h3>
            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
                Possess a firearm with intent to endanger life / enable an other to do so
            </h4>
            <p class="govuk-body">Committed on 10 August 2019</p>
            <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header" style="width: 20%;">Sentence type</th>
                        <td class="govuk-table__cell">ORA CJA03 Standard Determinate Sentence</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Sentence date</th>
                        <td class="govuk-table__cell">11 February 2021</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Sentence length</th>
                        <td class="govuk-table__cell"><div class="govuk-!-margin-bottom-2"><span class="govuk-body govuk-!-font-weight-bold">Custodial</span> 0 years 18 months
                            0 weeks 0 days</div>
                            <div><span class="govuk-body govuk-!-font-weight-bold">Licence</span> 0 years 18 months
                            0 weeks 0 days</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
      <div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
        <div class="govuk-grid-column-full govuk-!-margin-top-4">
            <h3 class="govuk-body govuk-!-margin-bottom-0">Count 2</h3>
            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
                Sell / transfer prohibited weapon (pistol)
            </h4>
            <p class="govuk-body">Committed on 14 August 2019</p>
            <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header" style="width: 20%;">Sentence type</th>
                        <td class="govuk-table__cell">CJA03 Standard Determinate Sentence</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Sentence date</th>
                        <td class="govuk-table__cell">11 February 2021</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Sentence length</th>
                        <td class="govuk-table__cell">8 years 0 months 0 weeks 0 days <br> <p class="govuk-hint">Concurrent</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Adjustments -->
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-l govuk-!-margin-top-6">Adjustments</h2>
            <div class="govuk-tabs govuk-!-margin-top-8" data-module="govuk-tabs">
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#summary">
                            Summary
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#detailed">
                            Detailed
                        </a>
                    </li>
                </ul>
                <!-- Summary tab -->
                <div class="govuk-tabs__panel" id="summary">
                    <h3 class="govuk-heading-m govuk-!-margin-bottom-4">Deductions</h3>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col">Adjustment</th>
                                <th class="govuk-table__header" scope="col">Days</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <!-- Adjustment -->
                                <td class="govuk-table__cell">Recall remand</td>
                                <!-- Days -->
                                <td class="govuk-table__cell">0</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <!-- Adjustment -->
                                <td class="govuk-table__cell">Remand</td>
                                <!-- Days -->
                                <td class="govuk-table__cell">6</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <!-- Adjustment -->
                                <td class="govuk-table__cell">Recall tagged bail</td>
                                <!-- Days -->
                                <td class="govuk-table__cell">6</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <!-- Adjustment -->
                                <td class="govuk-table__cell">Tagged bail</td>
                                <!-- Days -->
                                <td class="govuk-table__cell">1</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <!-- Adjustment -->
                                <td class="govuk-table__cell">Restore additional days awarded (RADA)</td>
                                <!-- Days -->
                                <td class="govuk-table__cell">0</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <!-- Adjustment -->
                                <td class="govuk-table__cell">Unused remand</td>
                                <!-- Days -->
                                <td class="govuk-table__cell">0</td>
                            </tr>
                        </tbody>
                    </table>
                    <h3 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-8 ">Additions</h3>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col">Adjustment</th>
                                <th class="govuk-table__header" scope="col">Days</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <!-- Adjustment -->
                                <td class="govuk-table__cell">Additional days awarded (ADA)
                                    <!-- Days -->
                                <td class="govuk-table__cell">6</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <!-- Adjustment -->
                                <td class="govuk-table__cell">Unlawfully at large
                                    <!-- Days -->
                                <td class="govuk-table__cell">0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Details tab -->
                <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="detailed">
                    <h3 class="govuk-heading-m govuk-!-margin-bottom-6">Deductions</h3>
                    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Remand</h4>
                    <table class="govuk-table govuk-!-margin-bottom-8">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col" style="width: 90%">Dates</th>
                                <th class="govuk-table__header" scope="col" style="width: 10%">Days</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <!-- Dates -->
                                <td class="govuk-table__cell">From 10 December 2021 to 15 December 2021</td>
                                <!-- Days -->
                                <td class="govuk-table__cell">6</td>
                            </tr>
                            <!-- Total -->
                            <tr class="govuk-table__row">
                                <!-- Dates -->
                                <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">Total days</td>
                                <!-- Days -->
                                <td class="govuk-table__cell">6
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Tagged bail</h4>
                    <!-- Dates -->
                    <table class="govuk-table govuk-!-margin-bottom-8">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col" style="width: 90%"></th>
                                <th class="govuk-table__header" scope="col" style="width: 10%"></th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <!-- Dates -->
                                <td class="govuk-table__cell">Court case 1, count 1</td>
                                <!-- Days -->
                                <td class="govuk-table__cell">1
                                </td>
                            </tr>
                            <!-- Total -->
                            <tr class="govuk-table__row">
                                <!-- Dates -->
                                <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">Total days</td>
                                <!-- Days -->
                                <td class="govuk-table__cell">1
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h3 class="govuk-heading-m govuk-!-margin-bottom-6">Additions</h3>
                    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Additional days awarded (ADA)</h4>
                    <table class="govuk-table govuk-!-margin-bottom-8">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col" style="width: 90%">Dates</th>
                                <th class="govuk-table__header" scope="col" style="width: 10%">Days</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <!-- Dates -->
                                <td class="govuk-table__cell">Awarded 02 February 2022</td>
                                <!-- Days -->
                                <td class="govuk-table__cell">6
                                </td>
                            </tr>
                            <!-- Total -->
                            <tr class="govuk-table__row">
                                <!-- Dates -->
                                <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">Total days</td>
                                <!-- Days -->
                                <td class="govuk-table__cell">6
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Call to action -->
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m govuk-!-margin-top-7">Now calculate release dates for Colin Ball</h2>
            <p class="govuk-body">The release dates will not be saved in NOMIS until you have reviewed the calculation.</p>
            <a href="calculation-summary.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                Calculate release dates
            </a>
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Some information is wrong
                    </span>
                </summary>
                <div class="govuk-details__text">
                    You can edit this information in NOMIS and <a onclick="correctMistake()" href="javascript:void(0);">reload this page</a>.
                    If you think the service isn’t working properly, email <a href="mailto:calculatereleasedates@digital.justice.gov.uk">calculatereleasedates@digital.justice.gov.uk</a> for support.
                </div>
            </details>
        </div>
    </div>
</div>
{% endblock %}