{% extends "layout.html" %}
{% block pageTitle %}
Calculation complete
{% endblock %}
{% block header %}
{{ mojHeader({
organisationLabel: {
text: 'HMPPS',
href: '#'
},
serviceLabel: {
text: 'Calculate release dates',
href: 'start'
},
navigation: {
label: 'Account navigation',
items: [{
text: 'Prototype user',
href: '#',
active: true
}, {
text: 'Sign out',
href: '#'
}]
}
}) }}
{% endblock %}
{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "alpha"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<div class="moj-identity-bar">
    <div class="moj-identity-bar__container">
        <div class="moj-identity-bar__details">
            <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Offender name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">1 February 1990</span><strong>Prison number: </strong>B4166LG
        </div>
    </div>
</div>
<a class="govuk-back-link" href="javascript:history.back();">Back</a>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Review calculation before submitting</h1>
        <div class="govuk-inset-text">
            Some dates and details are not included as according to <a href="http://www.justice.gov.uk/downloads/offenders/psipso/psi-2015/psi-03-2015-sentence-calculation-determiante-sentenced-prisoners.pdf" target="_blank">PSI 03/2015 (opens in new tab)</a> they are not relevant to this person's circumstances.
        </div>
        <!-- Final release dates -->
        <h2 class="govuk-heading-l govuk-!-margin-top-9">Final release dates</h2>
        <div class="govuk-inset-text">
            Some calculations are made up of different sentences and terms, such as overlapping or concurrent sentences. The effective release date comes from the sentence or term with the latest release date.
        </div>
        <div class="custom-card" style="background-color: #f3f2f1;">
            <div class="custom-card-main">
                <!-- SLED -->
                <h3 class="govuk-heading-s">Effective sentence and licence expiry date (SLED)</h3>
                <p class="govuk-body">Friday, 14 January 2022</p>
                <!-- CRD -->
                <h3 class="govuk-heading-s">Effective conditional release date (CRD)</h3>
                <p class="govuk-body ">Tuesday, 6 September 2022</p>
                <!-- TUSED -->
                <h3 class="govuk-heading-s">Top up supervision end date (TUSED)</h3>
                <p class="govuk-body ">Friday, 13 January 2023</p>
                <p class="govuk-hint govuk-!-font-size-16">Saturday, 14 January 2023 adjusted for weekend</p>
                <!-- HDC -->
                <h3 class="govuk-heading-s">Home detention curfew eligibility date (HDCED)</h3>
                <p class="govuk-body ">Monday, 26 July 2021</p>
                <p class="govuk-hint govuk-!-font-size-16">Sunday, 25 July 2021 adjusted for weekend</p>
            </div>
        </div>
        <!-- Breakdown -->
        <h2 class="govuk-heading-l govuk-!-margin-top-9">Calculation breakdown</h2>
        <!-- Sentence 1 -->
        <h3 class="govuk-heading-m">Sentence 1</h3>
        <div class="custom-card">
            <div class="custom-card-main">
                <table class="govuk-table govuk-!-margin-bottom-4" style="table-layout:fixed; width: 100%;">
                    <tbody class="govuk-table__body">
                        <!--                         <tr class="govuk-table__row">
                            <td class="govuk-table__cell" style="width: 65%">Concurrent sentences</td>
                            <td class="govuk-table__cell" style="width: 35%">546 days</td>
                        </tr> -->
                        <!--                         <tr class="govuk-table__row">
                            <td class="govuk-table__cell"></td>
                            <td class="govuk-table__cell">+</td>
                        </tr> -->
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Consecutive sentences</td>
                            <td class="govuk-table__cell">730 days</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">SLED before adjustments</td>
                            <td class="govuk-table__cell">730 days<span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">17 May 2020 to 17 May 2022</span></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">CRD before adjustments</td>
                            <td class="govuk-table__cell">365 days<span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">730 days ÷ 2<br><span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">17 May 2020 to 17 May 2021</span></span></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" style="border-top: solid 2px #000; padding-top: 20px;">SLED with total deductions</td>
                            <td class="govuk-table__cell" style="border-top: solid 2px #000; padding-top: 20px;">710 days<span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">730 days &ndash; 20 days</span></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" style="border-bottom:none;">CRD with total adjustments</td>
                            <td class="govuk-table__cell" style="border-bottom:none;">345 days<span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">365 days &ndash; 20 days</span></td>
                        </tr>
                        <tr class="govuk-table__row govuk-!-margin-top-2">
                            <td class="govuk-table__header" style="border-bottom:none; padding-top: 20px;">Effective release dates</td>
                            <td class="govuk-table__header" style="border-bottom: none;"></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header">CRD</td>
                            <td class="govuk-table__cell">26 April 2021</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header">SLED</td>
                            <td class="govuk-table__cell">26 April 2022</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header" style="border-bottom:none;">HDCED</td>
                            <td class="govuk-table__cell" style="border-bottom:none;">13 December 2020</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Sentence 2 -->
        <h3 class="govuk-heading-m govuk-!-margin-top-8">Sentence 2</h3>
        <div class="custom-card">
            <div class="custom-card-main">
                <table class="govuk-table govuk-!-margin-bottom-4" style="table-layout:fixed; width: 100%;">
                    <tbody class="govuk-table__body">
                        <!--                         <tr class="govuk-table__row">
                            <td class="govuk-table__cell" style="width: 65%">Concurrent sentences</td>
                            <td class="govuk-table__cell" style="width: 35%">546 days</td>
                        </tr> -->
                        <!--                         <tr class="govuk-table__row">
                            <td class="govuk-table__cell"></td>
                            <td class="govuk-table__cell">+</td>
                        </tr> -->
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Consecutive sentences</td>
                            <td class="govuk-table__cell">549 days</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">SLED before adjustments</td>
                            <td class="govuk-table__cell">549 days<span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">27 March 2021 to 27 September 2022</span></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">CRD before adjustments</td>
                            <td class="govuk-table__cell">275 days<span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">549 days ÷ 2<br><span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">27 March 2021 to 6 April 2022</span></span></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" style="border-top: solid 2px #000; padding-top: 20px;">SLED with total deductions</td>
                            <td class="govuk-table__cell" style="border-top: solid 2px #000; padding-top: 20px;">529 days<span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">549 days &ndash; 20 days</span></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" style="border-bottom:none;">CRD with total adjustments</td>
                            <td class="govuk-table__cell" style="border-bottom:none;">255 days<span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">275 days &ndash; 20 days</span></td>
                        </tr>
                        <tr class="govuk-table__row govuk-!-margin-top-2">
                            <td class="govuk-table__header" style="border-bottom:none; padding-top: 20px;">Effective release dates</td>
                            <td class="govuk-table__header" style="border-bottom: none;"></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header">CRD</td>
                            <td class="govuk-table__cell">7 December 2021</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header">SLED</td>
                            <td class="govuk-table__cell">6 September 2022</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header">TUSED</td>
                            <td class="govuk-table__cell">6 December 2022</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header" style="border-bottom:none;">HDCED</td>
                            <td class="govuk-table__cell" style="border-bottom:none;">25 July 2021</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Sentence 3 -->
        <h3 class="govuk-heading-m govuk-!-margin-top-8">Sentence 3</h3>
        <div class="custom-card">
            <div class="custom-card-main">
                <table class="govuk-table govuk-!-margin-bottom-4" style="table-layout:fixed; width: 100%;">
                    <tbody class="govuk-table__body">
                        <!--                         <tr class="govuk-table__row">
                            <td class="govuk-table__cell" style="width: 65%">Concurrent sentences</td>
                            <td class="govuk-table__cell" style="width: 35%">546 days</td>
                        </tr> -->
                        <!--                         <tr class="govuk-table__row">
                            <td class="govuk-table__cell"></td>
                            <td class="govuk-table__cell">+</td>
                        </tr> -->
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Consecutive sentences</td>
                            <td class="govuk-table__cell">365 days</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">SLED before adjustments</td>
                            <td class="govuk-table__cell">365 days<span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">5 August 2021 to 5 August 2022</span></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">CRD before adjustments</td>
                            <td class="govuk-table__cell">183 days<span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">365 days ÷ 2<br><span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">5 August 2021 to 4 February 2022</span></span></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" style="border-top: solid 2px #000; padding-top: 20px;">SLED with total deductions</td>
                            <td class="govuk-table__cell" style="border-top: solid 2px #000; padding-top: 20px;">345 days<span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">365 days &ndash; 20 days</span></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" style="border-bottom:none;">CRD with total adjustments</td>
                            <td class="govuk-table__cell" style="border-bottom:none;">163 days<span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">183 days &ndash; 20 days</span></td>
                        </tr>
                        <tr class="govuk-table__row govuk-!-margin-top-2">
                            <td class="govuk-table__header" style="border-bottom:none; padding-top: 20px;">Effective release dates</td>
                            <td class="govuk-table__header" style="border-bottom: none;"></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header">CRD</td>
                            <td class="govuk-table__cell">14 January 2022</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header">SLED</td>
                            <td class="govuk-table__cell">15 July 2022</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header">TUSED</td>
                            <td class="govuk-table__cell">14 January 2023</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header" style="border-bottom:none;">HDCED</td>
                            <td class="govuk-table__cell" style="border-bottom:none;">25 May 2021</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p class="govuk-body"><a href="calculation-feedback.html">Report a problem with this calculation</a></p>
        <h3 class="govuk-heading-m govuk-!-margin-top-9">Confirm and submit to NOMIS</h3>
        <p class="govuk-body">By submitting this calculation you are confirming that, to the best of your knowledge, it is correct. The calculation will be saved in NOMIS.</p>
        <a href="calculation-complete.html">
            <button class="govuk-button" data-module="govuk-button">Confirm and submit</button>
        </a>
        <p class="govuk-body govuk-!-font-size-16"><a href="calculation-cancelled.html" class="govuk-link">Cancel calculation</a></p>
    </div>
</div>
{% endblock %}