.date-picker-container {
  width: 150px;
  margin-bottom: 32px;
}

.time-picker-container {
  display: flex;
  flex-direction: row
}

.time-picker-container .time-picker-hours,.time-picker-container .time-picker-minutes {
  width: 70px
}

.time-picker-container .time-picker-hours {
  margin-right: 16px
}

.time-picker-container .govuk-form-group {
  margin-bottom: 0
}

.horizontal-form * {
  width: 100%
}

@media(min-width: 48.0625em) {
  .horizontal-form {
    display:flex;
    flex-flow: row wrap
  }

  .horizontal-form * {
    width: auto;
    margin-bottom: 0
  }

  .horizontal-form>div {
    margin-right: 15px
  }

  .horizontal-form .date-picker-container input {
    width: auto
  }

  .horizontal-form label {
    margin-bottom: 5px
  }

  .horizontal-form button {
    margin-right: 15px
  }

  .horizontal-form a {
    margin-top: 15px
  }

  .horizontal-form button,.horizontal-form a {
    align-self: flex-end;
    margin-bottom: 2px
  }
}

.horizontal-links>a {
  margin-right: 10px
}

@media(min-width: 48.0625em) {
  .horizontal-links {
    display:flex
  }

  .horizontal-links * {
    width: auto;
    margin-bottom: 0
  }

  .horizontal-links>a {
    margin-right: 15px
  }
}

* {
  box-sizing: border-box
}