.dps-homepage-help h3 {
    font-size: 19px;
    margin: 30px 0 15px 0
}

.dps-homepage-help h3:first-of-type {
    margin-top: 25px
}

.dps-homepage-help p+p {
    margin-top: 30px
}

.dps-homepage-container {
    max-width: unset;
    margin-left: auto;
    margin-right: auto
}

.dps-homepage-container.govuk-width-container {
    max-width: unset;
    margin-left: auto;
    margin-right: auto
}

.dps-homepage-container .dps-outage-banner {
    min-height: 70px;
    background-color: rgba(212,53,28,.2)
}

.dps-homepage-container .dps-outage-banner div {
    padding: 22px 0
}

.dps-homepage-container .dps-outage-banner p {
    font-weight: 300;
    margin: 0
}

.dps-homepage-container .dps-outage-banner p a:link,.dps-homepage-container .dps-outage-banner p a:visited {
    color: #0b0c0c
}

.dps-homepage-container header.dps-header {
    background-color: rgba(86,148,202,.2);
    padding: 25px 0
}

.dps-homepage-container header.dps-header div {
    position: relative
}



.dps-homepage-container header.dps-header h1 {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 8px 0
}

.dps-homepage-container header.dps-header p {
    font-weight: 700;
    margin: 0 0 5px 0
}

.dps-homepage-container header.dps-header a {
    font-weight: 300
}

.dps-homepage-container .dps-homepage-search {
    background-color: #f3f2f1;
    padding: 25px 0
}

.dps-homepage-container .dps-homepage-search h2 {
    font-size: 24px;
    margin: 0 0 10px 0
}

.dps-homepage-container .dps-homepage-search .govuk-form-group {
    margin-bottom: 5px
}

.dps-homepage-container .dps-homepage-search .govuk-form-group.govuk-form-group__item {
    margin-bottom: 0
}

.dps-homepage-container .dps-homepage-search .govuk-form-group--inline {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 30px;
    align-items: end
}

.dps-homepage-container .dps-homepage-search .govuk-form-group__button {
    display: flex;
    align-items: end;
    padding-bottom: 2px
}

.dps-homepage-container .dps-homepage-search .govuk-form-group__button .govuk-button {
    margin-bottom: 0
}

.dps-homepage-container .dps-homepage-search .govuk-form-group .govuk-error-message {
    margin-bottom: 10px
}

.dps-homepage-container .dps-homepage-search .govuk-radios__label:before {
    background-color: #fff
}

.dps-homepage-container .hmpps-services {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 40px;
    row-gap: 20px
}

.dps-homepage-container .hmpps-services .hmpps-service-item {
    position: relative
}

.dps-homepage-container .hmpps-services .hmpps-service-item__header {
    width: calc(100% - 15px)
}

.dps-homepage-container .hmpps-services .hmpps-service-item a:before {
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    right: 3px;
    top: 29px;
    transform: translateY(0px) rotate(45deg) scale(1);
    width: 8px;
    border-right: 2px solid #0b0c0c;
    border-top: 2px solid #0b0c0c
}

.dps-homepage-container .hmpps-services .hmpps-service-item a:after {
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

@media(max-width: 768px) {
    .dps-homepage-container .hmpps-services {
        grid-template-columns:auto
    }
}

@media(min-width: 769px)and (max-width: 1019px) {
    .dps-homepage-container .hmpps-services {
        grid-template-columns:auto auto
    }
}

.dps-homepage-container .hmpps-services .hmpps-service-item {
    min-height: 120px
}

.dps-homepage-container .hmpps-services .hmpps-service-item  {
    color: #1d70b8
}

.dps-homepage-container .hmpps-services h2 {
    font-size: 24px;
    margin-bottom: 5px
}

.dps-homepage-container .dps-homepage-today h2 {
    font-size: 24px;
    margin-bottom: 5px
}

.dps-homepage-container .dps-homepage-today .today-last-updated {
    font-size: 16px;
    color: #505a5f
}

.dps-homepage-container .dps-homepage-today .today-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px
}

.dps-homepage-container .dps-homepage-today .today-card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 198px;
    width: 270px;
    padding: 15px 15px 20px 15px;
    border: 1px solid #0b0c0c;
    box-shadow: 0 4px #b1b4b6
}

.dps-homepage-container .dps-homepage-today .today-card h3 {
    font-size: 19px;
    margin: 0
}

.dps-homepage-container .dps-homepage-today .today-card__count {
    font-size: 48px;
    font-weight: 700
}

.dps-homepage-container .dps-homepage-today .today-card__link {
    padding-top: 15px;
    border-top: 1px solid #b1b4b6;
    margin-top: auto
}

.dps-homepage-container .today-section-break {
    height: 2px;
    background-color: #b1b4b6;
    border: none;
    margin-top: 30px;
    margin-bottom: 25px
}

.dps-homepage-container .today-section-break--blue {
    height: 3px;
    background-color: #1d70b8;
    border: none;
    margin-top: 35px;
    margin-bottom: 30px
}

.dps-homepage-container .dps-homepage-flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 130px
}

.dps-homepage-container .dps-homepage-flex-container .dps-homepage-whats-new {
    width: 570px
}

.dps-homepage-container .dps-homepage-flex-container .dps-homepage-whats-new h2 {
    font-size: 24px;
    margin: 0 0 20px 0
}

.dps-homepage-container .dps-homepage-flex-container .dps-homepage-whats-new .whats-new-post {
    border-bottom: 1px solid #b1b4b6;
    margin-bottom: 20px
}

.dps-homepage-container .dps-homepage-flex-container .dps-homepage-whats-new .whats-new-post .whats-new-post__date {
    font-size: 16px;
    color: #505a5f;
    margin-bottom: 5px
}

.dps-homepage-container .dps-homepage-flex-container .dps-homepage-whats-new .whats-new-post .whats-new-post__summary {
    margin-top: 15px;
    margin-bottom: 20px
}

.dps-homepage-container .dps-homepage-flex-container .dps-homepage-help {
    width: 460px
}

.dps-homepage-container .dps-homepage-flex-container .dps-homepage-help h2 {
    font-size: 24px;
    margin: 0 0 20px 0
}

.hmpps-managed-page h1 {
    font-size: 36px;
    line-height: 40px;
    margin-top: 25px;
    margin-bottom: 15px
}

.hmpps-managed-page__body {
    white-space: pre-wrap;
    word-wrap: break-word
}

.dps-whats-new {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px 30px;
    margin-top: 40px
}

.dps-whats-new .whats-new-post {
    border-bottom: 1px solid #b1b4b6;
    margin-bottom: 20px
}

.dps-whats-new .whats-new-post .whats-new-post__date {
    font-size: 16px;
    color: #505a5f;
    margin-bottom: 5px
}

.dps-whats-new .whats-new-post .whats-new-post__summary {
    margin-top: 15px;
    margin-bottom: 20px
}

.dps-whats-new .whats-new-list {
    max-width: 770px
}

.dps-whats-new .whats-new-list .moj-pagination:first-of-type {
    margin-bottom: 30px
}

.dps-whats-new .whats-new-list .moj-pagination:last-of-type {
    margin-top: 30px
}

.dps-whats-new .whats-new-related-content {
    border-top: 4px solid #1d70b8;
    width: 270px
}

.dps-whats-new .whats-new-related-content h2 {
    font-size: 19px
}

.dps-whats-new .whats-new-related-content a {
    display: inline-block;
    margin-bottom: 8px
}

.whats-new-post--full {
    margin-bottom: 20px
}

.whats-new-post--full .whats-new-post__caption {
    margin-top: 25px;
    margin-bottom: 5px
}

.whats-new-post--full h1 {
    font-size: 36px;
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 15px
}

.whats-new-post--full .whats-new-post__date {
    margin-bottom: 30px
}

.whats-new-post--full .whats-new-post__summary {
    margin-top: 15px;
    margin-bottom: 20px
}

.whats-new-post--full pre.whats-new-post__body {
    white-space: pre-wrap;
    word-wrap: break-word
}

.govuk-main-wrapper {
    min-height: 600px;
    padding-top: 0
}

.hmpps-width-1 {
    width: 1em
}

.hmpps-width-2 {
    width: 2em
}

.hmpps-width-3 {
    width: 3em
}

.hmpps-width-4 {
    width: 4em
}

.hmpps-width-5 {
    width: 5em
}

.hmpps-width-6 {
    width: 6em
}

.hmpps-width-7 {
    width: 7em
}

.hmpps-width-8 {
    width: 8em
}

.hmpps-width-9 {
    width: 9em
}

.hmpps-width-10 {
    width: 10em
}

.hmpps-width-11 {
    width: 11em
}

.hmpps-width-12 {
    width: 12em
}

.hmpps-width-13 {
    width: 13em
}

.hmpps-width-14 {
    width: 14em
}

.hmpps-width-15 {
    width: 15em
}

.hmpps-width-16 {
    width: 16em
}

.hmpps-width-17 {
    width: 17em
}

.hmpps-width-18 {
    width: 18em
}

.hmpps-width-19 {
    width: 19em
}

.hmpps-width-20 {
    width: 20em
}

.hmpps-width-21 {
    width: 21em
}

.hmpps-width-22 {
    width: 22em
}

.hmpps-width-23 {
    width: 23em
}

.hmpps-width-24 {
    width: 24em
}

.hmpps-width-25 {
    width: 25em
}

.hmpps-width-26 {
    width: 26em
}

.hmpps-width-27 {
    width: 27em
}

.hmpps-width-28 {
    width: 28em
}

.hmpps-width-29 {
    width: 29em
}

.hmpps-width-30 {
    width: 30em
}

.hmpps-width-31 {
    width: 31em
}

.hmpps-width-32 {
    width: 32em
}

.hmpps-width-33 {
    width: 33em
}

.hmpps-width-34 {
    width: 34em
}

.hmpps-width-35 {
    width: 35em
}

.hmpps-width-36 {
    width: 36em
}

.hmpps-width-37 {
    width: 37em
}

.hmpps-width-38 {
    width: 38em
}

.hmpps-width-39 {
    width: 39em
}

.hmpps-width-40 {
    width: 40em
}

.govuk-link {
    text-underline-offset: .1em
}

@media print {
    .govuk-template {
        background-color: #fff
    }
}


.prisoner-profile-breadcrumbs {
    margin-top: 15px;
    margin-bottom: 15px
}

.prisoner-profile-breadcrumbs:after {
    content: "";
    display: block;
    clear: both
}

.prisoner-profile-breadcrumbs__back {
    float: left
}

.prisoner-profile-breadcrumbs__back a::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2px;
    width: .4375em;
    height: .4375em;
    margin: auto 0;
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
    border: solid;
    border-width: 1px 1px 0 0;
    border-color: #0b0c0c
}

.prisoner-profile-breadcrumbs__back a:link,.prisoner-profile-breadcrumbs__back a:visited {
    display: inline-block;
    position: relative;
    padding-left: 12px;
    color: #0b0c0c
}

.prisoner-profile-breadcrumbs__search {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.1428571429;
    float: left
}

@media print {
    .prisoner-profile-breadcrumbs__search {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .prisoner-profile-breadcrumbs__search {
        font-size:16px;
        font-size: 1rem;
        line-height: 1.25
    }
}

@media print {
    .prisoner-profile-breadcrumbs__search {
        font-size: 14pt;
        line-height: 1.2
    }
}

.prisoner-profile-breadcrumbs__search:has(+.prisoner-profile-breadcrumbs__breadcrumbs ol>li>a) {
    border-right: 1px solid #505a5f;
    padding-right: 15px;
    margin-right: 15px
}

.prisoner-profile-breadcrumbs__breadcrumbs {
    float: left
}

.prisoner-profile-breadcrumbs .govuk-breadcrumbs {
    margin-top: 0;
    margin-bottom: 0
}

@media print,(min-width: 641px) {
    .horizontal-information {
        padding-bottom:0;
        display: flex
    }
}

.horizontal-information--with-border {
    padding: 15px 0;
    border-top: 1px solid #b1b4b6;
    border-bottom: 1px solid #b1b4b6
}

@media print,(min-width: 641px) {
    .horizontal-information__item {
        flex:1 1 0;
        padding-right: 15px
    }

    .horizontal-information__item--tenth {
        flex-basis: 10%
    }

    .horizontal-information__item:last-child {
        padding-right: 0
    }

    .horizontal-information__item:last-child {
        margin-bottom: 0
    }
}
