
.location-bar {
  max-width: 1170px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #b1b4b6
}

@supports(margin: unquote('max(calc(0px)))')) {
  .location-bar {
    margin-right:unquote('max(15px, calc(15px + env(safe-area-inset-right)))');
    margin-left: unquote('max(15px, calc(15px + env(safe-area-inset-left)))')
  }
}

@media(min-width: 40.0625em) {
  .location-bar {
    margin-right:30px;
    margin-left: 30px
  }

  @supports(margin: unquote('max(calc(0px)))')) {
    .location-bar {
      margin-right:unquote('max(30px, calc(15px + env(safe-area-inset-right)))');
      margin-left: unquote('max(30px, calc(15px + env(safe-area-inset-left)))')
    }
  }
}

@media(min-width: 1230px) {
  .location-bar {
    margin-right:auto;
    margin-left: auto
  }

  @supports(margin: unquote('max(calc(0px)))')) {
    .location-bar {
      margin-right:auto;
      margin-left: auto
    }
  }
}

@media(min-width: 40.0625em) {
  .location-bar {
    margin-bottom:15px
  }
}

@media(min-width: 40.0625em) {
  .location-bar {
    padding-top:15px
  }
}

@media(min-width: 40.0625em) {
  .location-bar {
    padding-bottom:15px
  }
}

.location-bar__location {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-right: 15px
}

@media print {
  .location-bar__location {
    font-family: sans-serif
  }
}

@media(min-width: 40.0625em) {
  .location-bar__location {
    font-size:19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737
  }
}

@media print {
  .location-bar__location {
    font-size: 14pt;
    line-height: 1.15
  }
}

@media(min-width: 40.0625em) {
  .location-bar__location {
    margin-right:15px
  }
}

.location-bar__link {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25
}

@media print {
  .location-bar__link {
    font-family: sans-serif
  }
}

.location-bar__link:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #fd0;
  box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
  text-decoration: none
}

.location-bar__link:link {
  color: #1d70b8
}

.location-bar__link:visited {
  color: #4c2c92
}

.location-bar__link:hover {
  color: #003078
}

.location-bar__link:active {
  color: #0b0c0c
}

.location-bar__link:focus {
  color: #0b0c0c
}

@media print {
  .location-bar__link {
    font-family: sans-serif
  }
}

@media(min-width: 40.0625em) {
  .location-bar__link {
    font-size:19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737
  }
}

@media print {
  .location-bar__link {
    font-size: 14pt;
    line-height: 1.15
  }
}

@media print {
  .location-bar {
    display: none
  }
}
