{% extends "../template.html" %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="upload-document" method="post">
            <div class="govuk-form-group"> 
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Upload court documents</span>
                            Select a document type

                        </h1>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="document-type" name="appearance[document-type]" type="radio" value="Custodial warrant">
                            <label class="govuk-label govuk-radios__label" for="document-type">
                                Custodial warrant
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="document-type-2" name="appearance[document-type]" type="radio" value="Indictment">
                            <label class="govuk-label govuk-radios__label" for="document-type-2">
                                Indictment
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="document-type-3" name="appearance[document-type]" type="radio" value="Trial record sheet">
                            <label class="govuk-label govuk-radios__label" for="document-type-3">
                                Trial record sheet
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="document-type-4" name="appearance[document-type-4t]" type="radio" value="Other">
                            <label class="govuk-label govuk-radios__label" for="document-type-4">
                                Other
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Save and continue
                </button>
                <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="/{{data.prototypeVersion}}/save-court-case">
                    Save as draft
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}