{% extends "../template.html" %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="outcome-apply-all">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Add a court case</span>
                            Look up an outcome
                        </h1>
                    </legend>
                    <div id="search-hint" class="govuk-hint">
                        Start by typing the outcome.
                    </div>
                    <div>
                        <select id="lookup-outcome-select" class="enhance-autcomplete" name="appearance[overall-case-outcome]" type="text" aria-describedby="search-hint">
                            <option></option>
                            
<option value="Imprisonment">Imprisonment</option>
<option value="Remand in Custody (Bail Refused)">Remand in Custody (Bail Refused)</option>
<option value="Commit/Transfer/Send to Crown Court for Trial in Custody">Commit/Transfer/Send to Crown Court for Trial in Custody</option>
<option value="Commit to Crown Court for Trial (Summary / Either Way Offences)">Commit to Crown Court for Trial (Summary / Either Way Offences)</option>
<option value="Recall to Prison">Recall to Prison</option>
<option value="Sentence Postponed">Sentence Postponed</option>
<option value="Commit to Crown Court for Sentence in Custody">Commit to Crown Court for Sentence in Custody</option>
<option value="Guilty">Guilty</option>
<option value="Remittal for Sentence in Custody">Remittal for Sentence in Custody</option>
<option value="Committed to Crown Court for Sentence">Committed to Crown Court for Sentence</option>
<option value="Remand on Conditional Bail">Remand on Conditional Bail</option>
<option value="Immigration Detainee">Immigration Detainee</option>
<option value="Suspended Imprisonment">Suspended Imprisonment</option>
<option value="Adjournment">Adjournment</option>
<option value="Imprisonment in default">Imprisonment in default</option>
<option value="Community Order">Community Order</option>
<option value="Discontinuance">Discontinuance</option>
<option value="Remittal for Trial - In Custody">Remittal for Trial - In Custody</option>
<option value="Not Guilty">Not Guilty</option>
<option value="Dismissed">Dismissed</option>
<option value="Young Offenders Institution">Young Offenders Institution</option>
<option value="Acquitted">Acquitted</option>
<option value="Bail Review Impose/Vary Conditions">Bail Review Impose/Vary Conditions</option>
<option value="Detention">Detention</option>
<option value="Commit/Transfer/Send to Crown Court for Trial in Custody With Direction to Bail">Commit/Transfer/Send to Crown Court for Trial in Custody With Direction to Bail</option>
<option value="Extradited">Extradited</option>
<option value="Varied on Appeal">Varied on Appeal</option>
<option value="Remand on Unconditional Bail">Remand on Unconditional Bail</option>
<option value="Fine">Fine</option>
<option value="No Evidence Offered - Dismissed">No Evidence Offered - Dismissed</option>
<option value="Detention and Training Order">Detention and Training Order</option>
<option value="Commit/Transfer/Send to Crown Court for Trial on Conditional Bail">Commit/Transfer/Send to Crown Court for Trial on Conditional Bail</option>
<option value="Immigration Decision to Deport">Immigration Decision to Deport</option>
<option value="Suspended Sentence Implemented">Suspended Sentence Implemented</option>
<option value="No Separate Penalty">No Separate Penalty</option>
<option value="Conditional Discharge">Conditional Discharge</option>
<option value="Fine or YOI">Fine or YOI</option>
<option value="Immigration Bail">Immigration Bail</option>
<option value="civil Term Imposed">civil Term Imposed</option>
<option value="Appeal Dismissed">Appeal Dismissed</option>
<option value="Warrant for Offence Backed for Bail (Dated)">Warrant for Offence Backed for Bail (Dated)</option>
<option value="Remand in Custody after Bail Appeal by Prosecutor">Remand in Custody after Bail Appeal by Prosecutor</option>
<option value="Remand on Conditional Bail (Defendant Absent)">Remand on Conditional Bail (Defendant Absent)</option>
<option value="Warrant for Offence Backed for Bail (Undated)">Warrant for Offence Backed for Bail (Undated)</option>
<option value="Fine or Imprisonment">Fine or Imprisonment</option>
<option value="Sentence Deferred">Sentence Deferred</option>
<option value="Commit to Crown Court for Sentence Conditional Bail">Commit to Crown Court for Sentence Conditional Bail</option>
<option value="Withdrawn - Final">Withdrawn - Final</option>
<option value="Hospital Order">Hospital Order</option>
<option value="Withdrawn">Withdrawn</option>
<option value="Discharged">Discharged</option>
<option value="Bail Review - Order to Surrender">Bail Review - Order to Surrender</option>
<option value="Detention in Default">Detention in Default</option>
<option value="Lie on File">Lie on File</option>
<option value="civil Remand">civil Remand</option>
<option value="Youth Custody">Youth Custody</option>
<option value="Remand in Custody with Direction to Release on Bail">Remand in Custody with Direction to Release on Bail</option>
<option value="Adjourned sine die">Adjourned sine die</option>
<option value="Appeal Pending">Appeal Pending</option>
<option value="Extended Period of Licence">Extended Period of Licence</option>
<option value="Suspended Sentence Supervision Order">Suspended Sentence Supervision Order</option>
<option value="Restraining Order Protection from Harassment">Restraining Order Protection from Harassment</option>
<option value="Conviction Quashed">Conviction Quashed</option>
<option value="Commit to Crown Court for Sentence Unconditional Bail">Commit to Crown Court for Sentence Unconditional Bail</option>
<option value="Compensation">Compensation</option>
<option value="Remand in Custody to Customs Detention">Remand in Custody to Customs Detention</option>
<option value="Absolute Discharge">Absolute Discharge</option>
<option value="Remand on Unconditional Bail (Defendant Absent)">Remand on Unconditional Bail (Defendant Absent)</option>
<option value="R Period Extended">R Period Extended</option>
<option value="Confiscation">Confiscation</option>
<option value="Return to Detention">Return to Detention</option>
<option value="Interim Hospital Order">Interim Hospital Order</option>
<option value="Return to Prison">Return to Prison</option>
<option value="Supervision Order">Supervision Order</option>
<option value="Deportation Recommended">Deportation Recommended</option>
<option value="Remittal for Sentence on Conditional Bail">Remittal for Sentence on Conditional Bail</option>
<option value="Commit/Transfer/Send to Crown Court for Trial on Unconditional Bail">Commit/Transfer/Send to Crown Court for Trial on Unconditional Bail</option>
<option value="Detained during HM Pleasure">Detained during HM Pleasure</option>
<option value="Commit/Transfer/Send to Crown Court for Trial in Custody (Transfer Direction)">Commit/Transfer/Send to Crown Court for Trial in Custody (Transfer Direction)</option>
<option value="Community punishment and rehabilitation order">Community punishment and rehabilitation order</option>
<option value="Remand in Custody to Hospital (Mental Health Act)">Remand in Custody to Hospital (Mental Health Act)</option>
<option value="Suspended Sentence Varied">Suspended Sentence Varied</option>
<option value="Commit to Crown Court for Sentence in Custody with Direction to Release on Bail">Commit to Crown Court for Sentence in Custody with Direction to Release on Bail</option>
<option value="Order Revoked">Order Revoked</option>
<option value="Discharged - Final">Discharged - Final</option>
<option value="No Action on Breach">No Action on Breach</option>
<option value="Proceedings Stayed">Proceedings Stayed</option>
<option value="Curfew Requirement">Curfew Requirement</option>
<option value="Remittal for Trial - Conditional Bail">Remittal for Trial - Conditional Bail</option>
<option value="Remand in Secure Local Authority Accommodation">Remand in Secure Local Authority Accommodation</option>
<option value="Bail Appeal Withdrawn">Bail Appeal Withdrawn</option>
<option value="Remittal for Sentence Unconditional Bail">Remittal for Sentence Unconditional Bail</option>
<option value="No Order Made">No Order Made</option>
<option value="Disqualified from Driving">Disqualified from Driving</option>
<option value="Commit/Transfer/Send to Crown Court for Trial in Local Authority Accommodation">Commit/Transfer/Send to Crown Court for Trial in Local Authority Accommodation</option>
<option value="Case Rescheduled - Defendant on Bail">Case Rescheduled - Defendant on Bail</option>
<option value="Commit/Transfer/Send to Crown Court for Trial in Secure Local Authority Accommodation">Commit/Transfer/Send to Crown Court for Trial in Secure Local Authority Accommodation</option>
<option value="Subsequently Varied">Subsequently Varied</option>
<option value="Discharged - Other">Discharged - Other</option>
<option value="Remand in Local Authority Accommodation (Bail Refused)">Remand in Local Authority Accommodation (Bail Refused)</option>
<option value="Not Proceeded with (Scotland)">Not Proceeded with (Scotland)</option>
<option value="Referral Order">Referral Order</option>
<option value="Case Rescheduled - Not bailed">Case Rescheduled - Not bailed</option>
<option value="Commit to Crown Court for Sentence - Remand to Local Authority Secure Accommodation">Commit to Crown Court for Sentence - Remand to Local Authority Secure Accommodation</option>
<option value="Civil Contempt Purged">Civil Contempt Purged</option>
<option value="Replaced With Another Offence">Replaced With Another Offence</option>
<option value="Judge Rules No Case to Answer">Judge Rules No Case to Answer</option>
<option value="Remand in Custody Ancillary Results">Remand in Custody Ancillary Results</option>
<option value="Mental Health Commit to Crown Court for Restriction (Remand to Hospital)">Mental Health Commit to Crown Court for Restriction (Remand to Hospital)</option>
<option value="Mental Health Commit to Crown Court for Restriction (Remand to Prison)">Mental Health Commit to Crown Court for Restriction (Remand to Prison)</option>
<option value="Remittal for Trial - Unconditional Bail">Remittal for Trial - Unconditional Bail</option>
<option value="Community Service Order discharged">Community Service Order discharged</option>
<option value="Warrant for Offence Not Backed for Bail (Undated)">Warrant for Offence Not Backed for Bail (Undated)</option>
<option value="Community Service">Community Service</option>
<option value="Unpaid Work Requirement">Unpaid Work Requirement</option>
<option value="Drug Rehabilitation Requirement">Drug Rehabilitation Requirement</option>
<option value="Financial circumstances order">Financial circumstances order</option>
<option value="Withdrawn (Other)">Withdrawn (Other)</option>
<option value="Dealt with for Original Offence">Dealt with for Original Offence</option>
<option value="Mental Health Treatment Requirement">Mental Health Treatment Requirement</option>
<option value="Order to Continue">Order to Continue</option>
<option value="Anti-Social Behaviour Order">Anti-Social Behaviour Order</option>
<option value="Forfeiture">Forfeiture</option>
<option value="Commit to Crown Court for Sentence - Remand to Local Authority Accommodation">Commit to Crown Court for Sentence - Remand to Local Authority Accommodation</option>
<option value="Dealt with for breach">Dealt with for breach</option>
<option value="Remand in Local Authority Accommodation with Bail Direction">Remand in Local Authority Accommodation with Bail Direction</option>
<option value="Remand in Police Custody">Remand in Police Custody</option>
<option value="Sentence Deferred From">Sentence Deferred From</option>
<option value="Warrant for Arrest of Witness">Warrant for Arrest of Witness</option>
<option value="Hearing Removed">Hearing Removed</option>
<option value="Costs">Costs</option>
<option value="Restriction Order">Restriction Order</option>
<option value="NFA - No Court Appearance">NFA - No Court Appearance</option>
<option value="Disposal Unknown">Disposal Unknown</option>
<option value="Jury Discharged, unable to reach a Verdict">Jury Discharged, unable to reach a Verdict</option>
<option value="Remittal to Youth Court in Custody">Remittal to Youth Court in Custody</option>
<option value="Defendant Deceased">Defendant Deceased</option>
<option value="No Conviction">No Conviction</option>
<option value="Driving Licence Endorsed">Driving Licence Endorsed</option>
<option value="Reinstated Adjourned Sine Die">Reinstated Adjourned Sine Die</option>
<option value="Substituted">Substituted</option>
<option value="Sexual offences prevention order">Sexual offences prevention order</option>
<option value="Probation Order">Probation Order</option>
<option value="Unfit to Plead">Unfit to Plead</option>
<option value="Restraining order Sexual offence">Restraining order Sexual offence</option>
<option value="Remittal to Youth Court in Local Authority Accommodation">Remittal to Youth Court in Local Authority Accommodation</option>
<option value="Prison Sentence - less than 12 months">Prison Sentence - less than 12 months</option>
<option value="Power of Arrest">Power of Arrest</option>
<option value="Reopen Case">Reopen Case</option>
<option value="Risk of sexual harm order">Risk of sexual harm order</option>
<option value="No Verdict">No Verdict</option>
<option value="Disqualified from Driving - Obligatory">Disqualified from Driving - Obligatory</option>
<option value="Acceptance of Surety">Acceptance of Surety</option>
<option value="Hospital & Limitation Directions">Hospital & Limitation Directions</option>
<option value="Taken into consideration (TIC)">Taken into consideration (TIC)</option>
<option value="Variation of Bail Conditions - Application by defendant">Variation of Bail Conditions - Application by defendant</option>
<option value="Jury Discharged from Giving a Verdict, having reached a Verdict on another count">Jury Discharged from Giving a Verdict, having reached a Verdict on another count</option>
<option value="Not Proven">Not Proven</option>
<option value="Interim Disqualification from Driving">Interim Disqualification from Driving</option>
<option value="Disqualified from Driving - Points (Totting)">Disqualified from Driving - Points (Totting)</option>
<option value="Penalty Notice">Penalty Notice</option>
<option value="Remitted to Children's Hearing">Remitted to Children's Hearing</option>
<option value="Activity Requirement">Activity Requirement</option>
<option value="Rescheduling of Case to Reopen under s142 MCA">Rescheduling of Case to Reopen under s142 MCA</option>
<option value="Unserved from Original Sentence">Unserved from Original Sentence</option>
<option value="Order Amended (Scotland)">Order Amended (Scotland)</option>
<option value="Residence Requirement">Residence Requirement</option>
<option value="Bound Over">Bound Over</option>
<option value="Disposal Order (NI)">Disposal Order (NI)</option>
<option value="Case Rescheduled - Not bailed (Personal Service)">Case Rescheduled - Not bailed (Personal Service)</option>
<option value="Detained without Limit of Time">Detained without Limit of Time</option>
<option value="Detention Centre">Detention Centre</option>
<option value="Civil Diligence">Civil Diligence</option>
<option value="Alcohol Treatment Requirement">Alcohol Treatment Requirement</option>
<option value="Warrant for Further Detention">Warrant for Further Detention</option>
<option value="Adjourned for Consideration of an ASBO">Adjourned for Consideration of an ASBO</option>
<option value="Indeterminate Sentence Minimum">Indeterminate Sentence Minimum</option>
<option value="Warrant Not Executed">Warrant Not Executed</option>
<option value="Remitted to High Court">Remitted to High Court</option>
<option value="Driving Licence Revoked">Driving Licence Revoked</option>
<option value="Transferred to High Court">Transferred to High Court</option>
<option value="Remittal to Youth Court Conditional Bail">Remittal to Youth Court Conditional Bail</option>
<option value="Carried Forward to Court Case">Carried Forward to Court Case</option>
<option value="Remitted to Sheriff Court">Remitted to Sheriff Court</option>
<option value="Proved (Magistrates' Court Only)">Proved (Magistrates' Court Only)</option>
<option value="Football Banning Order">Football Banning Order</option>
<option value="Resulting from Original Conviction of">Resulting from Original Conviction of</option>
<option value="Reparation Order">Reparation Order</option>
<option value="Secure Accommodation Order">Secure Accommodation Order</option>
<option value="Deprivation">Deprivation</option>
<option value="Interim Secure Accommodation Order">Interim Secure Accommodation Order</option>
<option value="Notification order - sex offender">Notification order - sex offender</option>
<option value="Youth Reporting Restrictions Dispensed With">Youth Reporting Restrictions Dispensed With</option>
<option value="Financial Reporting Order">Financial Reporting Order</option>
<option value="Non-molestation Order (NI)">Non-molestation Order (NI)</option>
<option value="Order for Destruction of Dog">Order for Destruction of Dog</option>
<option value="Remittal to Youth Court Unconditional Bail">Remittal to Youth Court Unconditional Bail</option>
<option value="Hearing Notice Criminal Case">Hearing Notice Criminal Case</option>
<option value="Individual support order">Individual support order</option>
<option value="Young Offenders Centre (NI)">Young Offenders Centre (NI)</option>
<option value="Interim Anti-social Behaviour Order">Interim Anti-social Behaviour Order</option>
<option value="Summons Issued">Summons Issued</option>
<option value="Care Order">Care Order</option>
<option value="Interim Risk of sexual harm order">Interim Risk of sexual harm order</option>
<option value="Reinstated Lie on File">Reinstated Lie on File</option>
<option value="Not Proved (Magistrates' Court Only)">Not Proved (Magistrates' Court Only)</option>
<option value="Sentence Accumulated">Sentence Accumulated</option>
<option value="Disqualified from Driving until Extended Test Passed">Disqualified from Driving until Extended Test Passed</option>
<option value="Disqualified from Driving - Discretionary">Disqualified from Driving - Discretionary</option>
<option value="Committed to Military Escort">Committed to Military Escort</option>
<option value="Not Guilty By Reason of Insanity">Not Guilty By Reason of Insanity</option>
<option value="No Compensation Reasons">No Compensation Reasons</option>
<option value="Supplementary Information to Charge">Supplementary Information to Charge</option>
<option value="Disqualified from Driving non-motoring offence">Disqualified from Driving non-motoring offence</option>
<option value="Disqualified from Driving - Vehicle Used In Crime">Disqualified from Driving - Vehicle Used In Crime</option>
<option value="Exclusion Requirement">Exclusion Requirement</option>
<option value="Contingent Destruction Order">Contingent Destruction Order</option>
<option value="Detained in Place approved by Sec. Of State">Detained in Place approved by Sec. Of State</option>
<option value="Case Rescheduled - Defendant on Bail (Personal Service)">Case Rescheduled - Defendant on Bail (Personal Service)</option>
<option value="No Disqualification (Special Reasons or Mitigating Circumstances)">No Disqualification (Special Reasons or Mitigating Circumstances)</option>
<option value="Referral Discharge">Referral Discharge</option>
<option value="Summons Not Served">Summons Not Served</option>
<option value="Reduced Disqualification from Driving after Completing Course">Reduced Disqualification from Driving after Completing Course</option>
<option value="Disqualification Suspended Pending Appeal Subsequent to Imposition">Disqualification Suspended Pending Appeal Subsequent to Imposition</option>
<option value="Severe Reprimand">Severe Reprimand</option>
<option value="Criminal Procedure (Scotland) Act 1975">Criminal Procedure (Scotland) Act 1975</option>
<option value="Disqualification From Keeping">Disqualification From Keeping</option>
<option value="No Endorsement (Special Reasons)">No Endorsement (Special Reasons)</option>
<option value="Fine or Supervised Attendance Order">Fine or Supervised Attendance Order</option>
<option value="Disqualified from working with children">Disqualified from working with children</option>
<option value="Disqualification from Possessing Dog">Disqualification from Possessing Dog</option>
<option value="Disqualified from Driving until Ordinary Test Passed">Disqualified from Driving until Ordinary Test Passed</option>
<option value="Proceeding Invalidated by Statutory Declaration">Proceeding Invalidated by Statutory Declaration</option>
<option value="Certificate of Tainted Acquittal">Certificate of Tainted Acquittal</option>
<option value="Defendant Committed Suicide">Defendant Committed Suicide</option>
<option value="Excise Penalty">Excise Penalty</option>
<option value="Guardianship Order">Guardianship Order</option>
<option value="Order for Dog to be Neutered">Order for Dog to be Neutered</option>
<option value="Parenting Order">Parenting Order</option>
<option value="Aggravation by committing offence while on Bail (Scotland)">Aggravation by committing offence while on Bail (Scotland)</option>
<option value="Allowed to drive pending appeal (NI)">Allowed to drive pending appeal (NI)</option>
<option value="Attachment of Earnings Order">Attachment of Earnings Order</option>
<option value="Attendance Centre Requirement">Attendance Centre Requirement</option>
<option value="Autrefois Acquit">Autrefois Acquit</option>
<option value="Autrefois Convict">Autrefois Convict</option>
<option value="Back Duty">Back Duty</option>
<option value="Benefits Deduction Order">Benefits Deduction Order</option>
<option value="Borstal Training">Borstal Training</option>
<option value="Bound Over to Leave the Island within 3 days">Bound Over to Leave the Island within 3 days</option>
<option value="Caution Imposed (Scotland)">Caution Imposed (Scotland)</option>
<option value="Certificate of Realisation (NI)">Certificate of Realisation (NI)</option>
<option value="Clamping Order">Clamping Order</option>
<option value="Compulsory Work Order">Compulsory Work Order</option>
<option value="Conditional Caution Completed">Conditional Caution Completed</option>
<option value="Conditional Caution Withdrawn">Conditional Caution Withdrawn</option>
<option value="Custody Probation Order (NI)">Custody Probation Order (NI)</option>
<option value="Deserted Pro Loco">Deserted Pro Loco</option>
<option value="Deserted Simpliciter">Deserted Simpliciter</option>
<option value="DestNItion Order (NI)">DestNItion Order (NI)</option>
<option value="Detained during Secretary of State's pleasure (NI)">Detained during Secretary of State's pleasure (NI)</option>
<option value="Dismissed from HM Forces">Dismissed from HM Forces</option>
<option value="Dismissed with Disgrace from HM Forces">Dismissed with Disgrace from HM Forces</option>
<option value="Disqualification Limited to">Disqualification Limited to</option>
<option value="Disqualification Suspended Pending Appeal on Imposition">Disqualification Suspended Pending Appeal on Imposition</option>
<option value="Disqualified from being Company Director">Disqualified from being Company Director</option>
<option value="Dog to be Muzzled at all Times">Dog to be Muzzled at all Times</option>
<option value="Dog to be kept on lead at all times">Dog to be kept on lead at all times</option>
<option value="Driving Licence Restored with effect from">Driving Licence Restored with effect from</option>
<option value="Drug Abstinence order">Drug Abstinence order</option>
<option value="Enhanced Probation Order (Drugs)">Enhanced Probation Order (Drugs)</option>
<option value="Estreat">Estreat</option>
<option value="Fine (Jersey)">Fine (Jersey)</option>
<option value="Firearm Certificate Revoked or cancelled">Firearm Certificate Revoked or cancelled</option>
<option value="Football Incident">Football Incident</option>
<option value="For Pre-Sentence Reports">For Pre-Sentence Reports</option>
<option value="Foreign travel order">Foreign travel order</option>
<option value="Forfeiture of Recognisance">Forfeiture of Recognisance</option>
<option value="Forfeiture of Seniority">Forfeiture of Seniority</option>
<option value="Insane">Insane</option>
<option value="Interim ASBO">Interim ASBO</option>
<option value="Interim notification order">Interim notification order</option>
<option value="Interim sexual offences prevention order">Interim sexual offences prevention order</option>
<option value="Intermittent Custody Order">Intermittent Custody Order</option>
<option value="Intervention Order (Scotland)">Intervention Order (Scotland)</option>
<option value="Jersey Parish Hall Voluntary Supervision">Jersey Parish Hall Voluntary Supervision</option>
<option value="Juvenile Justice Centre (NI)">Juvenile Justice Centre (NI)</option>
<option value="Legal Aid Contribution">Legal Aid Contribution</option>
<option value="Licensed Premises Exclusion Order">Licensed Premises Exclusion Order</option>
<option value="Loss of Privilege">Loss of Privilege</option>
<option value="Nolle Pros">Nolle Pros</option>
<option value="Non Standard BRC Disposal">Non Standard BRC Disposal</option>
<option value="Non Standard Foreign Disposal">Non Standard Foreign Disposal</option>
<option value="Official Caution (Verbal)(Guernsey)">Official Caution (Verbal)(Guernsey)</option>
<option value="Official Caution (Written)(Guernsey)">Official Caution (Written)(Guernsey)</option>
<option value="Order Extended (Scotland)">Order Extended (Scotland)</option>
<option value="Order Varied (Scotland)">Order Varied (Scotland)</option>
<option value="Order to Produce Driving Licence">Order to Produce Driving Licence</option>
<option value="Order to give Personal Details e.g. Date of Birth and/or Sex">Order to give Personal Details e.g. Date of Birth and/or Sex</option>
<option value="Order to keep Dog under Control">Order to keep Dog under Control</option>
<option value="Order under Prisoner & Criminal Proceedings (Scotland) Act 1993 s.16">Order under Prisoner & Criminal Proceedings (Scotland) Act 1993 s.16</option>
<option value="Pardoned">Pardoned</option>
<option value="Placed on the Black List (Guernsey)">Placed on the Black List (Guernsey)</option>
<option value="Programme Requirement">Programme Requirement</option>
<option value="Prohibited Activity Requirement">Prohibited Activity Requirement</option>
<option value="Prohibition on Reporting (Juvenile in Proceedings)">Prohibition on Reporting (Juvenile in Proceedings)</option>
<option value="Recognizance Estreated">Recognizance Estreated</option>
<option value="Recognizance Paid (Guernsey)">Recognizance Paid (Guernsey)</option>
<option value="Reduced Disqualification from Driving - special reasons or mitigating circumstances">Reduced Disqualification from Driving - special reasons or mitigating circumstances</option>
<option value="Reduced to the Ranks">Reduced to the Ranks</option>
<option value="Referral to Scottish Ministry (Scotland)">Referral to Scottish Ministry (Scotland)</option>
<option value="Referred Voluntary Measures">Referred Voluntary Measures</option>
<option value="Registration of Fixed Penalty">Registration of Fixed Penalty</option>
<option value="Remittal to Youth Court in Secure Local Authority Accommodation">Remittal to Youth Court in Secure Local Authority Accommodation</option>
<option value="Reprimand">Reprimand</option>
<option value="Restitution">Restitution</option>
<option value="Restriction of Liberty Order">Restriction of Liberty Order</option>
<option value="Secure Training Order">Secure Training Order</option>
<option value="Sex Offenders Notice">Sex Offenders Notice</option>
<option value="Supervised Attendance Order">Supervised Attendance Order</option>
<option value="Supervised Release Order (Scotland)">Supervised Release Order (Scotland)</option>
<option value="Supervision and Treatment Order">Supervision and Treatment Order</option>
<option value="Training School Order (NI)">Training School Order (NI)</option>
<option value="Warning (Scotland)">Warning (Scotland)</option>
<option value="Warrant of Arrest for Parent/Guardian">Warrant of Arrest for Parent/Guardian</option>
<option value="Wasted Costs Order Against">Wasted Costs Order Against</option>
<option value="Youth Custody (Guernsey)">Youth Custody (Guernsey)</option>

                        </select>
                    </div>
                    </fieldset>
            </div>
            <!-- <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">Court address</h3>
            <ul class="govuk-list govuk-!-margin-bottom-6">
                <li>Victoria Law Courts</li>
                <li>1 Newton Street</li>
                <li>Birmingham</li>
                <li>B4 7NA</li>
            </ul> -->
    <button class="govuk-button" data-module="govuk-button">
        Continue
    </button>
    </form>
</div>
</div>
{% endblock %}

