{% extends "../../../../../includes/layouts/template-linear.html" %}
{% block content %}
<!-- Back link -->
<div class="moj-width-container">
    <a href="requested-dates" class="govuk-back-link">Back</a>
</div>
<!-- Page intro --> 
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"> 
   
      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset" aria-describedby="calculationReasonId-hint">
        
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">

                  <span class="govuk-caption-l"> Record outcomes for a release dates override request</span>
                  Explain why the requested dates are incorrect
                </h1>
              
                <div id="more-detail-hint" class="govuk-hint">
                  Provide guidance to the requestor about how they should approach correcting the dates.
                </div>

            </legend>
            <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>

        </fieldset> 
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Were the release dates from CRDS correct?
              </h1>
            </legend>
          
            <div class="govuk-radios" data-module="govuk-radios">

              <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="requestedDatesQuestion" name="requestedDatesQuestion" type="radio" value="
                  Yes, I agree">
                  <label class="govuk-label govuk-radios__label" for="requestedDatesQuestion-2">
                    Yes
                  </label>
               
                </div> 
                  <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="requestedDatesQuestion-2" name="requestedDatesQuestion" type="radio" value="No, I disagree with the requested dates">
                  <label class="govuk-label govuk-radios__label" for="requestedDatesQuestion">
                      No
                  </label>
                
                  </div>

              <!-- <div class="govuk-radios__divider">or</div> -->

            </div>
          </fieldset>
        </div>

 
    <div class="govuk-button-group govuk-!-margin-top-4">
      <form method="post" action="check-answers">
          <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-qa="submitReason">
              Continue
          </button>
      </form>

      <form method="post" action="cancel">
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Cancel
          </button>
      </form>

    </div>
  </div>
    </div>
</div>
{% endblock %}