{% extends "./dps/includes/template.html" %}
{% block content %}
<!-- Prisoner identity bar -->
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">1 February 1990</span><strong>Prison number: </strong>B4166LG</span>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs -->
<!-- <div class="moj-width-container">
    <div class="govuk-breadcrumbs govuk-!-display-none-print">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/prisoner/G9126UE">Bloggs, Joe</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">Calculate release dates</li>
        </ol>
    </div>
</div> -->
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-8">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Are any of the offences Schedule 15?
            </h1>
            <p class="govuk-body">One or more of the offences for this person were sentences on or after 1 April 2020, for 7 years or more. For release date purposes, select the offences that fall under section 15 (SDS+).</p>
            <!-- <h2 class="govuk-heading-l govuk-!-margin-top-6">Court cases</h2> -->
        </div>
    </div>
</div>
<!-- Court case 1 -->
<div class="moj-width-container govuk-!-margin-top-8">
    <h3 class="govuk-heading-m">Court case 1</h3>
    <table class="govuk-table" data-module="moj-multi-select" data-multi-select-checkbox="#select-all" style="width: 100%">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col" id="select-all" style="width: 4%"></th>
                <th class="govuk-table__header" scope="col" style="width: 4%">Count</th>
                <th class="govuk-table__header" scope="col" style="width: 35%">Offence</th>
                <th class="govuk-table__header" scope="col" style="width: 18%">Sentence type</th>
                <th class="govuk-table__header" scope="col" style="width: 18%">Sentence date</th>
                <th class="govuk-table__header" scope="col" style="width: 21%">Sentence length</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row govuk-table__row--selected">
                <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                        <input type="checkbox" class="govuk-checkboxes__input" id="count-1" value="count-2">
                        <label class="govuk-label govuk-checkboxes__label" for="count-1">
                            <span class="govuk-visually-hidden">Select count 1</span>
                        </label>
                    </div>
                </td>
                <td class="govuk-table__cell">1.</td>
                <td class="govuk-table__cell">Act of violence on fixed platform<br>
                    <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0;">Committed on 15 November 2020</div>
                </td>
                <td class="govuk-table__cell">ORA CJA03 Standard Determinate Sentence</td>
                <td class="govuk-table__cell">21 September 2021</td>
                <td class="govuk-table__cell">0 years 6 months<br>0 weeks 0 days</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                        <input type="checkbox" class="govuk-checkboxes__input" id="count-2" value="count-2">
                        <label class="govuk-label govuk-checkboxes__label" for="count-2">
                            <span class="govuk-visually-hidden">Select count 2</span>
                        </label>
                    </div>
                </td>
                </td>
                <td class="govuk-table__cell">2.</td>
                <td class="govuk-table__cell">Burglary dwelling - with intent to steal<br>
                    <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">Committed on 15 November 2020</div>
                </td>
                <td class="govuk-table__cell">ORA CJA03 Standard Determinate Sentence</td>
                <td class="govuk-table__cell">21 September 2021</td>
                <td class="govuk-table__cell">0 years 3 months<br>0 weeks 0 days</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Call to action -->
<div class="moj-width-container govuk-!-margin-top-9">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <a href="calculation-summary.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                Continue
            </a>
        </div>
    </div>
</div>
{% endblock %}