{% extends "../dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <a href="javascript:history.back();" class="govuk-back-link">Back</a>
</div>
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-top-6">
                Supported sentences
            </h1>
            <p>The sentences  currently supported by the Calculate release dates service are:</p> 
            <ul class="govuk-list govuk-list--bullet">
                <li>Sentencing Code Standard Determinate Sentence</li>
                <li>CJA03 Standard Determinate Sentence</li>
                <li>ORA Sentencing Code Standard Determinate Sentence</li>
                <li>ORA CJA03 Standard Determinate Sentence</li>
                <li>Serious Offence Sec 250 Sentencing Code (U18)</li>
                <li>ORA Serious Offence Sec 250 Sentencing Code (U18)</li>
                <li>Serious Offence -18 CJA03 POCCA 2000</li>
                <li>ORA Serious Offence -18 CJA03 POCCA 2000</li>
                <li>Young Offender Institution</li>
                <li>ORA Young Offender Institution</li>
                
            </ul>
        </div>
    </div>
</div>
{% endblock %}