{% extends "../../../includes/layouts/template-linear.html" %}
{% set adjustmentsActive = true %}
{% block content %}
<div class="">
    <div class="">
        <a href="../index-1" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper offence-outcome " id="main-content" role="main">
            <h1 class="govuk-heading-l"><span class="govuk-caption-xl">Adjustments</span>
                UAL overview
            </h1>

            <table  id="viewUAL" class="govuk-table govuk-!-margin-bottom-8">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">First day</th>
                    <th class="govuk-table__header" scope="col">Last day</th>
                    <th class="govuk-table__header" scope="col">Entered by</th>
                    <th class="govuk-table__header" scope="col">Type</th>
<!--                    <th class="govuk-table__header" scope="col">Status</th>-->
                    <th class="govuk-table__header govuk-!-text-align-centre" scope="col">Number of days</th>
                    <th class="govuk-table__header " scope="col">Actions</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
<!--                <tr class="govuk-table__row">-->
<!--                    &lt;!&ndash; Dates &ndash;&gt;-->
<!--                    <td class="govuk-table__cell">-->
<!--                        Option 1-->
<!--                    </td>-->
<!--                    <td class="govuk-table__cell">-->
<!--                        10 Oct 2022-->
<!--                    </td>-->
<!--                    <td class="govuk-table__cell">-->
<!--                        20 Oct 2022-->
<!--                    </td>-->

<!--                    <td class="govuk-table__cell">-->
<!--                        WMI-->
<!--                    </td>-->
<!--                    <td class="govuk-table__cell">-->
<!--                        <span class="govuk-tag govuk-tag&#45;&#45;blue">active</span>-->
<!--                    </td>-->
<!--                    &lt;!&ndash; Days &ndash;&gt;-->
<!--                    <td class="govuk-table__cell govuk-!-text-align-centre">10 </td>-->
<!--                    <td class="govuk-table__cell govuk-!-text-align-left">-->
<!--                        <ul class="govuk-list">-->
<!--                            <li><a href="edit-ual.html" class="govuk-link">Edit</a></li>-->
<!--                            <li><a href="remove-ual-1.html" class="govuk-link">Remove</a></li>-->
<!--                        </ul>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr class="govuk-table__row">-->
<!--                    <td class="govuk-table__cell">-->
<!--                        Option 1-->
<!--                    </td>-->
<!--                    &lt;!&ndash; Dates &ndash;&gt;-->
<!--                    <td class="govuk-table__cell">-->
<!--                        15 Dec 2022-->
<!--                    </td>-->
<!--                    <td class="govuk-table__cell">-->
<!--                        25 Dec 2022-->
<!--                    </td>-->
<!--                    <td class="govuk-table__cell">-->
<!--                        WMI-->
<!--                    </td>-->
<!--                    <td class="govuk-table__cell">-->
<!--                        <span class="govuk-tag govuk-tag&#45;&#45;blue">active</span>-->
<!--                    </td>-->
<!--                    <td class="govuk-table__cell govuk-!-text-align-centre">-->
<!--                       10-->
<!--                    </td>-->

<!--                    <td class="govuk-table__cell">-->
<!--                        <ul class="govuk-list">-->
<!--                            <li><a href="edit-ual.html" class="govuk-link">Edit</a></li>-->
<!--                            <li><a href="remove-ual-1.html" class="govuk-link">Remove</a></li>-->
<!--                        </ul>-->
<!--                    </td>-->

<!--                </tr>-->
<!--                <tr class="govuk-table__row">-->
<!--                    <th class="govuk-table__cell">-->
<!--                        Total days-->
<!--                    </th>-->
<!--                    <td class="govuk-table__cell"></td>-->
<!--                    <td class="govuk-table__cell"></td>-->
<!--                    <td class="govuk-table__cell"></td>-->
<!--                    <td class="govuk-table__cell"></td>-->


<!--                    <td class="govuk-table__cell govuk-!-text-align-centre">-->
<!--                        <b>20</b>-->
<!--                    </td>-->
<!--                    <td class="govuk-table__cell"></td>-->
<!--                </tr>-->

                </tbody>

            </table>

            <a href="ual.html" class="govuk-button" data-name="RADA" data-desc="RADA (Restore additional days awarded) ">
                Add new
            </a>
        </main>
    </div>
</div>
<script src="/public/javascripts/adjustments-3-mvp.js"></script>
{% endblock %}