{% extends "../../includes/layouts/template-no-identity-bar.html" %}
{% block content %}
 
<div class="moj-width-container govuk-!-margin-top-7">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
       
 
                <!-- Embed Copilot iframe -->
                <iframe src="https://copilotstudio.microsoft.com/environments/cc3e2b5f-ab42-e9ca-926f-c107455bafa9/bots/cra35_crdsChat20/webchat?__version__=2" width="100%" height="600" frameborder="0"></iframe>

            
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <div class="">
                <h2 class="govuk-heading-m">Help improve this service</h2>
                <div class="govuk-body"><span>This is a new service. Your feedback will help make it better. To give feedback you can:</span>
                <ul class="govuk-list govuk-!-margin-top-2">
                    <li><a href="">Complete a short survey</a></li>
                    <li><a href="">Report a specific problem by email</a></li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}