{% extends "layout.html" %}
{% block pageTitle %}
Enter the remand dates
{% endblock %}
{% block header %}
{{ mojHeader({
organisationLabel: {
text: 'HMPPS',
href: 'offender-details.html'
},
serviceLabel: {
text: 'Calculate release dates',
href: '../index.html'
}
}) }}
{% endblock %}
{% block beforeContent %}
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value">
            <span class="govuk-!-margin-right-5"><strong>Offender name: </strong>{{ data['offender-name'] }}</span> <span><strong>Offender number: </strong>{{ data['offender-number'] }}</span>
        </dt>
    </div>
</dl>
<a class="govuk-back-link" href="javascript:history.back();">Back</a>>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" id="remand-dates" action="check-answers" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="remand-date-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Enter the remand dates
                        </h1>
                    </legend>
                    <label class="govuk-label govuk-!-font-weight-bold" for="offence-end-date">
                        Remand start date
                    </label>
                    <div id="remand-date-hint" class="govuk-hint">
                        For example, 27 3 2007
                    </div>
                    <div class="govuk-date-input" id="sentence-date">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="remand-start-day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="remand-start-day" name="remand-start-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="remand-start-month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="remand-start-month" name="remand-start-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="remand-start-year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="remand-start-year" name="remand-start-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="govuk-fieldset govuk-body govuk-!-margin-top-5" role="group">
                    <div class="govuk-date-input" id="offence-end-date">
                        <label class="govuk-label govuk-!-font-weight-bold" for="offence-end-date">
                            Remand end date
                        </label>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="remand-end-day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="remand-end-day" name="remand-end-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="remand-end-month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="remand-end-month" name="remand-end-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="remand-end-year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="offence-end-date-year" name="remand-end-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
    </div>
</div>
{% endblock %}