{% extends "layout.html" %}
{% block pageTitle %}
Which adjustments apply?
{% endblock %}
{% block header %}
{{ mojHeader({
  organisationLabel: {
    text: 'HMPPS',
    href: 'offender-details.html'
  },
  serviceLabel: {
    text: 'Calculate release dates',
    href: '../index.html'
  }
}) }}
{% endblock %}
{% block beforeContent %}
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value">
            <span class="govuk-!-margin-right-5"><strong>Offender name: </strong>{{ data['offender-name'] }}</span> <span><strong>Offender number: </strong>{{ data['offender-number'] }}</span>
        </dt>
    </div>
</dl>
<a class="govuk-back-link" href="javascript:history.back();">Back</a>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="what-adjustments-apply" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="documents-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Which adjustments apply?
                        </h1>
                    </legend>
                    <div id="documents-hint" class="govuk-hint">
                        Select all that apply.
                    </div>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="adjustment-1" name="adjustment" type="checkbox" value="remand">
                            <label class="govuk-label govuk-checkboxes__label" for="doc-1">
                                Remand 
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="adjustment-2" name="adjustment" type="checkbox" value="tagged-bail">
                            <label class="govuk-label govuk-checkboxes__label" for="doc-2">
                                Tagged bail
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="adjustment-3" name="adjustment" type="checkbox" value="ual">
                            <label class="govuk-label govuk-checkboxes__label" for="doc-5">
                                Unlawfully at large time (UAL)
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
    </div>
</div>
{% endblock %}