{% extends "../dps/includes/template.html" %}
{% block content %}
<!-- Breadcrumbs -->
<div class="moj-width-container">
    <div class="govuk-breadcrumbs govuk-!-display-none-print">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Manage a person's release dates</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">Look up a person's release dates</li>
        </ol>
    </div>
</div>
<!-- Search -->
<div class="homepage-search">
    <div class="moj-width-container">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Find release dates for a prisoner</h2>
        <p class="govuk-body govuk-hint">You can search by a person's name or prison number</p>
        <form class="horizontal-form" data-test="homepage-search-form" class="form" action="lookup-a-persons-release-dates" method="post">
            <div class="govuk-form-group">
                 <input class="govuk-input lookup-search-input" data-test="homepage-search-keywords" id="prisoner-name" name="prisoner-name" type="text">
            </div>
            <button class="govuk-button" data-module="govuk-button" type="submit" onclick="showAlert()">Search</button>
        </form>
    </div>
</div>
<div class="moj-width-container govuk-!-margin-top-8">
            <p class="govuk-body">Enter a person's name or prison number to see their release dates and calculation information.</p>
</div>


{% endblock %}