{% extends "../dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <a class="govuk-back-link" href="javascript:history.back();">Back</a>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-top-8">
                Who do you want to view release dates for?
            </h1>
            <p class="govuk-body">Enter a Prison Number to look up the person's details.</p>
            <p class="govuk-hint">
                For example, B4166LG
            </p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="moj-width-container">
            <form>
                <div class="govuk-grid-row prisoner-search__form__row">
                    <div class="horizontal-form govuk-!-margin-bottom-7">
                        <div class="govuk-form-group">
                            <input class="govuk-input govuk-!-width-full" id="keywords" name="keywords" type="text" data-test="prisoner-search-keywords">
                        </div>
                    </div>
                </div>
                <a href="search-for-prisoner-results.html" class="govuk-button prisoner-search__button">Search</a>
        </div>
        </form>
    </div>
</div>
</div>
{% endblock %}