{% extends "../dps/includes/template.html" %}
{% block content %}
<!-- Prisoner identity bar -->
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">1 February 1990</span><strong>Prison number: </strong>B4166LG</span>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs -->
<!-- <div class="moj-width-container">
    <div class="govuk-breadcrumbs govuk-!-display-none-print">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/prisoner/G9126UE">Bloggs, Joe</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">Calculate release dates</li>
        </ol>
    </div>
</div> -->
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-8">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Check adjustments for Joe Bloggs
            </h1>
            <p class="govuk-body">Some fancy introductory text by Jo to introduce this page.</p>
        </div>
    </div>
</div>
<!-- Deductions -->
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-l govuk-!-margin-top-6">Deductions</h2>
            <h3 class="govuk-heading-m">Remand</h3>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col" style="width: 90%">Dates</th>
                        <th class="govuk-table__header" scope="col" style="width: 10%">Days</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <!-- Dates -->
                        <td class="govuk-table__cell">3 February 2021 to 8 March 2021</td>
                        <!-- Days -->
                        <td class="govuk-table__cell">34
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <!-- Dates -->
                        <td class="govuk-table__cell">3 January 2021 to 15 January 2021</td>
                        <!-- Days -->
                        <td class="govuk-table__cell">13
                        </td>
                    </tr>
                    <!-- Total -->
                    <tr class="govuk-table__row">
                        <!-- Dates -->
                        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">Total days</td>
                        <!-- Days -->
                        <td class="govuk-table__cell">47
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3 class="govuk-heading-m govuk-!-margin-top-8">Unused remand</h3>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col" style="width: 90%">Dates</th>
                        <th class="govuk-table__header" scope="col" style="width: 10%">Days</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <!-- Dates -->
                        <td class="govuk-table__cell"> 1 February 2021 to 2 March 2021 </td>
                        <!-- Days -->
                        <td class="govuk-table__cell">34
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <!-- Dates -->
                        <td class="govuk-table__cell">16 January 2021 to 18 January 2021</td>
                        <!-- Days -->
                        <td class="govuk-table__cell">3
                        </td>
                    </tr>
                    <!-- Total -->
                    <tr class="govuk-table__row">
                        <!-- Dates -->
                        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">Total days</td>
                        <!-- Days -->
                        <td class="govuk-table__cell">37
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3 class="govuk-heading-m govuk-!-margin-top-8">Restore additional days awarded (RADA)</h3>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col" style="width: 90%">Dates</th>
                        <th class="govuk-table__header" scope="col" style="width: 10%">Days</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <!-- Dates -->
                        <td class="govuk-table__cell">7 March 2021 to 8 March 2021</td>
                        <!-- Days -->
                        <td class="govuk-table__cell">2
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <!-- Dates -->
                        <td class="govuk-table__cell">8 July 2021 to 10 July 2021</td>
                        <!-- Days -->
                        <td class="govuk-table__cell">3
                        </td>
                    </tr>
                    <!-- Total -->
                    <tr class="govuk-table__row">
                        <!-- Dates -->
                        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">Total days</td>
                        <!-- Days -->
                        <td class="govuk-table__cell">5
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3 class="govuk-heading-m govuk-!-margin-top-8">Tagged bail</h3>
            <!-- Dates -->
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col" style="width: 90%"></th>
                        <th class="govuk-table__header" scope="col" style="width: 10%"></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <!-- Total -->
                    <tr class="govuk-table__row">
                        <!-- Dates -->
                        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">Total days</td>
                        <!-- Days -->
                        <td class="govuk-table__cell">2
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Additions -->
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-l govuk-!-margin-top-6">Additions</h2>
            <h3 class="govuk-heading-m">Additional days awarded (ADA)</h3>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col" style="width: 90%">Dates</th>
                        <th class="govuk-table__header" scope="col" style="width: 10%">Days</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <!-- Dates -->
                        <td class="govuk-table__cell">5 March 2021 to 8 March 2021</td>
                        <!-- Days -->
                        <td class="govuk-table__cell">4
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <!-- Dates -->
                        <td class="govuk-table__cell">6 July 2021 to 10 July 2021</td>
                        <!-- Days -->
                        <td class="govuk-table__cell">6
                        </td>
                    </tr>
                    <!-- Total -->
                    <tr class="govuk-table__row">
                        <!-- Dates -->
                        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">Total days</td>
                        <!-- Days -->
                        <td class="govuk-table__cell">9
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3 class="govuk-heading-m govuk-!-margin-top-8">Unlawfully at large (UAL)</h3>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col" style="width: 90%">Dates</th>
                        <th class="govuk-table__header" scope="col" style="width: 10%">Days</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <!-- Dates -->
                        <td class="govuk-table__cell">1 June 2021 to 10 June 2021</td>
                        <!-- Days -->
                        <td class="govuk-table__cell">10
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <!-- Dates -->
                        <td class="govuk-table__cell">1 August 2021 to 10 August 2021</td>
                        <!-- Days -->
                        <td class="govuk-table__cell">10
                        </td>
                    </tr>
                    <!-- Total -->
                    <tr class="govuk-table__row">
                        <!-- Dates -->
                        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">Total days</td>
                        <!-- Days -->
                        <td class="govuk-table__cell">20
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Call to action -->
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m govuk-!-margin-top-8">Now calculate release dates for Joe Bloggs</h2>
            <p class="govuk-body">The release dates will not be saved in NOMIS until you have reviewed the calculation.</p>
            <a href="calculation-summary.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                Calculate release dates
            </a>
            <details class="govuk-details" >
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Some information is wrong
                    </span>
                </summary>
                <div class="govuk-details__text">
                    You can edit this information in NOMIS and <a onclick="correctMistake()" href="javascript:void(0);">reload this page</a>.
                    If you think the service isn’t working properly, email <a href="mailto:calculatereleasedates@digital.justice.gov.uk">calculatereleasedates@digital.justice.gov.uk</a> for support.
                </div>
            </details>
        </div>
    </div>
</div>
{% endblock %}