{% extends "../template.html" %}
{% block content %}
<!-- What is the confirmed date -->
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        {% if data['sentence']['terror-related'] == "Yes" %}
        <form class="form" action="sentence-type" method="post">
            {% else %}
            <form class="form" action="terror-related" method="post">
                {% endif %}
                <div class="govuk-form-group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Add offences</span>
                            Confirm the offence
                        </h1>
                    </legend>
                    <dl class="govuk-summary-list govuk-summary-list--no-border">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key dwf-confirm-offence-key">
                                Offence code
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['sentence']['offence-code'] }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key dwf-confirm-offence-key">
                                Description
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['sentence']['offence-name'] }}
                                {% if data['sentence']['terror-related'] == 'Yes' %}
                                <br><strong class="govuk-tag govuk-!-margin-top-2">
                                    Terror-related
                                </strong>
                                {% endif %}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key dwf-confirm-offence-key">
                                Home office code (CJA)
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['sentence']['cja-code'] }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key dwf-confirm-offence-key">
                                Legislation
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['sentence']['legislation'] }}
                            </dd>
                        </div>
                    </dl>
                </div>
                <input type="hidden" name="sentence[offence-name]" value="{{ data.sentence['offence-name']}}" />
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button"
                        formaction="/{{data.prototypeVersion}}/save-court-case" method="post">
                        Save as a draft
                    </button>
                </div>
                <p class="govuk-body"><a href="offence-code">Enter a different offence code</a></p>
                <p class="govuk-body"><a href="offence-code">Look up an offence by name</a></p>
            </form>
    </div>
    <div class="govuk-grid-column-one-third">
        {% set showOffences = true %}
        {% include "includes/templates/appearance-info.njk" %}
    </div>
</div>
{% endblock %}