{% extends "../template.html" %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/{{data.prototypeVersion}}/persist-sentence" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Add sentence information for offence {{
                                data['sentence']['count-number'] }}</span>
                            Is this sentence forthwith?
                        </h1>
                    </legend>
                    <div id="forthwith-hint" class="govuk-hint">
                        Only one forthwith sentence can be selected.
                    </div>
                    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="forthwith-1" name="sentence[forthwith]" type="radio"
                                value="Yes">
                            <label class="govuk-label govuk-radios__label" for="forthwith-1">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="forthwith-2" name="sentence[forthwith]" type="radio"
                                value="No">
                            <label class="govuk-label govuk-radios__label" for="forthwith-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button"
                    formaction="/{{data.prototypeVersion}}/save-court-case" method="post">
                    Save as a draft
                </button>
            </div>
        </form>
    </div>
    <div class="govuk-grid-column-one-third">
        {% set showOffences = true %}
        {% include "includes/templates/appearance-info.njk" %}
    </div>
</div>
{% endblock %}