{% extends "../template.html" %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            <span class="govuk-caption-l">Add an appearance</span>
            Check your answers
        </h1>
        <form class="form" action="/{{data.prototypeVersion}}/next-court-appearance-complete" method="post">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Next hearing type
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['appearance']['next-hearing-type'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="next-hearing-type-select?edit=true">
                            Edit<span class="govuk-visually-hidden"> nexr hearing type</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Next hearing date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['appearance']['next-court-date-day'] }}/{{ data['appearance']['next-court-date-month'] }}/{{ data['appearance']['next-court-date-year'] }} {% if data['appearance']['next-court-time'] is defined %} at {{ data['appearance']['next-court-time'] }}{% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="next-court-date?edit=true">
                            Edit<span class="govuk-visually-hidden"> next hearing date</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Next hearing location
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['appearance']['next-court-name'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="next-court-name?edit=true">
                            Edit<span class="govuk-visually-hidden"> next hearing location</span>
                        </a>
                    </dd>
                </div>
            </dl>
            <button class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">
                Accept and continue
            </button>
        </form>
    </div>
</div>
{% endblock %}