{% extends "../template.html" %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        {% if data.postSaveEdit == 'true' %}
        <form class="form" action="/{{data.prototypeVersion}}/persist-appearance?" method="post">
            {% else %}
            <form class="form" action="/{{data.prototypeVersion}}/next-court-date-select" method="post">
                {% endif %}
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            {% if data.postSaveEdit == 'true' %}
                            <h1 class="govuk-fieldset__heading">
                                <span class="govuk-caption-l">Appearance {{ data.appearance['court-case-ref'] }} at {{ data.appearance['court-name'] }} on {{ data.appearance['warrant-date-day'] }}/{{ data.appearance['warrant-date-month'] }}/{{ data.appearance['warrant-date-year'] }}</span>
                                Has the next hearing been set?
                            </h1>
                            {% else %}
                            <h1 class="govuk-fieldset__heading">
                                <span class="govuk-caption-l">Add an appearance to a court case</span>
                                Has the next hearing been set?
                            </h1>
                            {% endif %}
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="next-court-date-set-1" name="appearance[next-court-date-set]" type="radio" value="Yes" {% if data.appearance['next-court-date-set']=="Yes" %}checked{% endif %}>
                                <label class="govuk-label govuk-radios__label" for="next-court-date-set-1">
                                    Yes, it has been set
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="next-court-date-set-2" name="appearance[next-court-date-set]" type="radio" value="Date to be fixed" {% if data.appearance['next-court-date-set']=="No" %}checked{% endif %}>
                                <label class="govuk-label govuk-radios__label" for="next-court-date-set-2">
                                    No, date to be fixed
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                    <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="/{{data.prototypeVersion}}/save-court-case">
                        Save as draft
                    </a>
                </div>
            </form>
    </div>
    <div class="govuk-grid-column-one-third">
        {% set showOffences = true %}
        {% include "includes/templates/appearance-info.njk" %}
      </div>
</div>
{% endblock %}