{% extends "../template.html" %}
{% block content %}
<!-- What is the confirmed date -->
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/{{data.prototypeVersion}}/case-outcome-apply?route=repeat-remand" method="post">
            <div class="govuk-form-group"> 
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Add a court case</span>
                            Does this outcome apply to all offences on the warrant?
                        </h1>
                    </legend>
                    <p class="govuk-body-l">{{ data['appearance']['overall-case-outcome'] }}</p>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overall-case-outcome-apply-all" name="appearance[overall-case-outcome-apply-all]" type="radio" value="Yes">
                            <label class="govuk-label govuk-radios__label" for="overall-case-outcome">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overall-case-outcome-apply-all-2" name="appearance[overall-case-outcome-apply-all]" type="radio" value="No">
                            <label class="govuk-label govuk-radios__label" for="overall-case-outcome-apply-all-2">
                                No
                            </label>
                        </div>  
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
{% endblock %}