{% extends "layout.html" %}
{% block pageTitle %}
Calculate release dates prototype
{% endblock %}
{% block header %}
{{ mojHeader({
organisationLabel: {
text: 'HMPPS',
href: '#'
},
serviceLabel: {
text: 'Calculate release dates design notes',
href: '#'
}
}) }}
{% endblock %}
{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back();">Back</a>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Initial prototype</h1>
            <h3 class="govuk-heading-m">What we did</h3>
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>Produced a prototype in Balsamiq (as an interaction designer had not yet joined the team)</li>
                <li>Initial hypotheses were defined and prioritised in various workshops</li>
                <li>A <a href="../version-1/start.html">journey was mapped and defined</a> based on our discovery research</li>
                <li>The prototype reflected this journey and otherwise followed the GOV.UK design system and content design guidelines</li>
                <li>The order of the design approximated the order of the paper calculation sheet</li>
            </ul>
            <h3 class="govuk-heading-m govuk-!-margin-bottom-6">Our core hypotheses</h3>
            <ol class="govuk-list govuk-list--number">
                <li class="govuk-!-margin-bottom-6">
                    <p class="govuk-!-font-weight-bold govuk-!-margin-top-7">WE BELIEVE</p>
                    <p class="govuk-body"><span class="govuk-!-font-weight-bold">IF </span>we show a full sentence calculation breakdown at the end of the journey</p>
                    <p class="govuk-body"><span class="govuk-!-font-weight-bold">FOR </span>all members of staff</p>
                    <p class="govuk-body"><span class="govuk-!-font-weight-bold">THEN </span>this will help them trust the service</p>
                    <p class="govuk-body"><span class="govuk-!-font-weight-bold">We would know this is true when </span>staff accept dates calculated by the service</p>
                </li>
                <li>
                    <p class="govuk-!-font-weight-bold govuk-!-margin-top-7">WE BELIEVE</p>
                    <p class="govuk-body"><span class="govuk-!-font-weight-bold">IF </span>we create a mandatory list of questions</p>
                    <p class="govuk-body"><span class="govuk-!-font-weight-bold">FOR </span>all members of staff</p>
                    <p class="govuk-body"><span class="govuk-!-font-weight-bold">THEN </span>we know they are considering all necessary information</p>
                    <p class="govuk-body"><span class="govuk-!-font-weight-bold">We would know this is true when </span>when experienced members of staff feel everything necessary has been considered</p>
                </li>
            </ol>
            <h2 class="govuk-heading-l govuk-!-margin-top-8">1st prototype in code (never tested)</h2>
            <ul class="govuk-list govuk-list--bullet">
                <li>Remake of initial prototype in code using the prototyping kit</li>
            </ul>
    </div>
</div>
{% endblock %}