{% extends "../dps/includes/template.html" %}
{% block content %}
<!-- Breadcrumbs -->
<div class="moj-width-container">
    <div class="govuk-breadcrumbs govuk-!-display-none-print">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Sentence and offence management</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">View release dates</li>
        </ol>
    </div>
</div>
<!-- Search -->
<div class="homepage-search">
    <div class="moj-width-container">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Find release dates for a prisoner</h2>
        <p class="govuk-body govuk-hint">Enter a Prison Number to look up the person's details</p>
        <form class="horizontal-form" data-test="homepage-search-form" class="form" action="search-results" method="post">
            <div class="govuk-form-group">
                <label class="govuk-label" for="prisoner-name">Prison number</label> <input class="govuk-input" data-test="homepage-search-keywords" id="prisoner-name" name="prisoner-name" type="text">
            </div>
            <button class="govuk-button" data-module="govuk-button" type="submit" onclick="showAlert()">Search</button>
        </form>
    </div>
</div>
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-8">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
                Release dates for Joe Bloggs
            </h1>
            <dl class="govuk-summary-list govuk-summary-list--no-border">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Prison number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        B4166LG
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                        1 February 1990
                    </dd>
                </div>
            </dl>
        </div>
    </div>
    <!-- Final release dates -->
    <div class="moj-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <div class="custom-card" style="background-color: #f3f2f1;">
                    <div class="custom-card-main">
                        <!-- SLED -->
                        <h3 class="govuk-heading-s">Sentence and licence expiry date (SLED)</h3>
                        <p class="govuk-body">Tuesday, 4 November 2025</p>
                        <!-- CRD -->
                        <h3 class="govuk-heading-s">Conditional release date (CRD)</h3>
                        <p class="govuk-body ">Tuesday, 10 January 2023</p>
                        <!-- TUSED -->
                        <!--                     <h3 class="govuk-heading-s">Top up supervision end date (TUSED)</h3>
                    <p class="govuk-body ">Friday, 13 January 2023</p>
                    <p class="govuk-hint govuk-!-font-size-16">Saturday, 14 January 2023 adjusted for weekend</p> -->
                        <!-- HDC -->
                        <!--                     <h3 class="govuk-heading-s">Home detention curfew eligibility date (HDCED)</h3>
                    <p class="govuk-body ">Monday, 26 July 2021</p>
                    <p class="govuk-hint govuk-!-font-size-16">Sunday, 25 July 2021 adjusted for weekend</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tabs -->
<div class="moj-width-container govuk-!-margin-top-9">
    <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
            Contents
        </h2>
        <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#calculation-breakdown">
                    Calculation breakdown
                </a>
            </li>
            <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#sentence-and-offence-information">
                    Sentence and offence information
                </a>
            </li>
            <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#calculation-history">
                    Calculation history
                </a>
            </li>
        </ul>
        <!-- Calculation breakdown tab -->
        <div class="govuk-tabs__panel" id="calculation-breakdown">
            <h2 class="govuk-heading-l">Calculation breakdown</h2>
            <dl class="govuk-summary-list govuk-summary-list--no-border">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Calculation date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        16 December 2021
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Calculation reason
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Initial calculation
                    </dd>
                </div>
            </dl>
            <div class="govuk-inset-text">
                The breakdown is for the most recent calculation.
            </div>
            <!-- Concurrent sentence breakdown -->
            <h3 class="govuk-heading-m govuk-!-margin-bottom-4">Concurrent sentences</h3>
            <table class="govuk-table govuk-!-margin-bottom-4" style="table-layout:fixed; width: 100%; border: none;">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Sentence</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--date">Sentence date</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--date">Sentence length</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--date">SLED</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--date">CRD</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body calculation-breakdown">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Court case 2, count 1</td>
                        <td class="govuk-table__cell">17 July 2020</td>
                        <td class="govuk-table__cell">12 months</td>
                        <td class="govuk-table__cell">16 July 2020<div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">365 days<br></div>
                        </td>
                        <td class="govuk-table__cell">15 January 2021<div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">730 days<br></div>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Court case 4, count 1</td>
                        <td class="govuk-table__cell">13 Decemeber 2020</td>
                        <td class="govuk-table__cell">2 months</td>
                        <td class="govuk-table__cell">12 July 2020<div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">62 days<br></div>
                        </td>
                        <td class="govuk-table__cell">12 January 2021<div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">124 days<br></div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-8">Consecutive sentences</h3>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-2 govuk-!-margin-bottom-4">Consecutive sentences start date: <span class="govuk-body"> 20 March 2020</span></p>
                    <table class="govuk-table govuk-!-margin-bottom-4">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Sentence</th>
                                <th scope="col" class="govuk-table__header govuk-table__header--date">Sentence length</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body calculation-breakdown">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Court case 1, count 1</td>
                                <td class="govuk-table__cell">2 years</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Court case 3, count 1</td>
                                <td class="govuk-table__cell">8 months<div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">consecutive to court case 1, count 1</div>
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Court case 5, count 1</td>
                                <td class="govuk-table__cell">8 months<div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">consecutive to court case 3, count 1</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="govuk-table govuk-!-margin-top-6">
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row" style="border-top: none; margin-top: 25px;">
                                <td class="govuk-table__header" style="width: 43.5%;">Total sentence length</td>
                                <td class="govuk-table__cell">2071 days</td>
                            </tr>
                            <tr class="govuk-table__row" style="border-top: none; margin-top: 25px;">
                                <td class="govuk-table__header" style="width: 43.5%;">SLED</td>
                                <td class="govuk-table__cell">19 November 2025 <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">2071 days<br></div>
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__header" style="border-bottom: none;">CRD</td>
                                <td class="govuk-table__cell" style="border-bottom: none;">19 January 2023 <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">1036 days<br></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h3 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-6">Release dates with adjustments</h3>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <table class="govuk-table govuk-!-margin-bottom-4">
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__header" style="width: 61.5%;">Latest SLED with adjustments</td>
                                <td class="govuk-table__cell">4 November 2025<div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">19 November 2025 &#8211; 15 days</div>
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__header">Latest CRD with adjustments</td>
                                <td class="govuk-table__cell">10 January 2023<div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom:0;">19 January 2023 &#8211; 9 days</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="govuk-grid-row govuk-!-margin-top-6">
                <div class="govuk-grid-column-two-thirds">
                    <details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Why are some details missing?
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            Some dates and details are not included as according to <a href="http://www.justice.gov.uk/downloads/offenders/psipso/psi-2015/psi-03-2015-sentence-calculation-determiante-sentenced-prisoners.pdf" target="_blank">PSI 03/2015 (opens in new tab)</a> they are not relevant to this person's circumstances.
                        </div>
                    </details>
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                How are final release dates calculated?
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            Some calculations are made up of different sentences and terms, such as overlapping or concurrent sentences. The final release date comes from the sentence or term with the latest release date.
                        </div>
                    </details>
                </div>
            </div>
        </div>
        <!-- Sentence and offence infortmation tab -->
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="sentence-and-offence-information">
            <h2 class="govuk-heading-l">Sentence and offence information</h2>
            <!-- Court case 1 -->
            <div class="moj-width-container">
                <h3 class="govuk-heading-m">Court case 1</h3>
                <table class="govuk-table" style="width: 100%;">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col" style="width: 3%">Count</th>
                            <th class="govuk-table__header" scope="col" style="width: 40%">Offence</th>
                            <th class="govuk-table__header" scope="col" style="width: 18%">Sentence type</th>
                            <th class="govuk-table__header" scope="col" style="width: 18%">Sentence date</th>
                            <th class="govuk-table__header" scope="col" style="width: 21%">Sentence length</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <!-- Count -->
                            <td class="govuk-table__cell">1.</td>
                            <!-- Offence -->
                            <td class="govuk-table__cell">Act of violence on fixed platform<br>
                                <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">Committed on 15 November 2020</div>
                            </td>
                            <!-- Sentence type -->
                            <td class="govuk-table__cell">ORA CJA03 Standard Determinate Sentence</td>
                            <!-- Sentence date -->
                            <td class="govuk-table__cell">21 September 2021</td>
                            <!-- Sentence length -->
                            <td class="govuk-table__cell">0 years 18 months<br>0 weeks 0 days<br>
                                <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">546 days</div>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <!-- Count -->
                            <td class="govuk-table__cell">2.</td>
                            <!-- Offence -->
                            <td class="govuk-table__cell">Burglary dwelling - with intent to steal<br>
                                <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">Committed on 15 November 2020</div>
                            </td>
                            <!-- Sentence type -->
                            <td class="govuk-table__cell">ORA CJA03 Standard Determinate Sentence</td>
                            <!-- Sentence date -->
                            <td class="govuk-table__cell">21 September 2021</td>
                            <!-- Sentence length -->
                            <td class="govuk-table__cell">0 years 18 months<br>0 weeks 0 days<br>
                                <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">546 days</div>
                                <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">concurrent</div>
                            </td>
                        </tr>
                        </tr>
                        <tr class="govuk-table__row">
                            <!-- Count -->
                            <td class="govuk-table__cell">9.</td>
                            <!-- Offence -->
                            <td class="govuk-table__cell">Theft from a shop<br>
                                <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">Committed on 15 November 2020</div>
                            </td>
                            <!-- Sentence type -->
                            <td class="govuk-table__cell">ORA CJA03 Standard Determinate Sentence</td>
                            <!-- Sentence date -->
                            <td class="govuk-table__cell">21 September 2021</td>
                            <!-- Sentence length -->
                            <td class="govuk-table__cell">0 years 3 months<br>0 weeks 0 days<br>
                                <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">91 days</div>
                                <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">concurrent</div>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <!-- Count -->
                            <td class="govuk-table__cell">10.</td>
                            <!-- Offence -->
                            <td class="govuk-table__cell">Racially / religiously aggravated common assault / beating<br>
                                <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">Committed between 15 November 2020<br> and 20 November 2020</div>
                            </td>
                            <!-- Sentence type -->
                            <td class="govuk-table__cell">ORA CJA03 Standard Determinate Sentence</td>
                            <!-- Sentence date -->
                            <td class="govuk-table__cell">21 September 2021</td>
                            <!-- Sentence length -->
                            <td class="govuk-table__cell">1 year 0 months<br>0 weeks 0 days<br>
                                <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">365 days</div>
                                <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">concurrent</div>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <!-- Count -->
                            <td class="govuk-table__cell">11.</td>
                            <!-- Offence -->
                            <td class="govuk-table__cell">Burglary dwelling and theft - no violence<br>
                                <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">Committed on 15 November 2020</div>
                            </td>
                            <!-- Sentence type -->
                            <td class="govuk-table__cell">ORA CJA03 Standard Determinate Sentence</td>
                            <!-- Sentence date -->
                            <td class="govuk-table__cell">21 September 2021</td>
                            <!-- Sentence length -->
                            <td class="govuk-table__cell">0 years 18 months<br>0 weeks 0 days<br>
                                <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">546 days</div>
                                <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">concurrent</div>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <!-- Count -->
                            <td class="govuk-table__cell">12.</td>
                            <!-- Offence -->
                            <td class="govuk-table__cell">Assault a traffic officer in the execution of his / her duty<br>
                                <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">Committed on 15 November 2020</div>
                            </td>
                            <!-- Sentence type -->
                            <td class="govuk-table__cell">ORA CJA03 Standard Determinate Sentence</td>
                            <!-- Sentence date -->
                            <td class="govuk-table__cell">21 September 2021</td>
                            <!-- Sentence length -->
                            <td class="govuk-table__cell">0 years 6 months<br>0 weeks 0 days<br>
                                <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">181 days</div>
                                <div class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">concurrent</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Adjustments -->
            <div class="moj-width-container">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <h2 class="govuk-heading-l govuk-!-margin-top-6">Adjustments</h2>
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Deductions</h3>
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col" style="width: 60%"></th>
                                    <th class="govuk-table__header" scope="col" style="width: 5%"></th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Number of days on remand</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">0</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Number of days tagged bail</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">10</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Restore additional days awarded (RADA)</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">2</td>
                                </tr>
                            </tbody>
                        </table>
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Additions</h3>
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col" style="width: 60%"></th>
                                    <th class="govuk-table__header" scope="col" style="width: 5%"></th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Additional days awarded (ADA)</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">7</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Number of days unlawfully at large (UAL)</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="calculation-history">
            <h2 class="govuk-heading-l">Calculation history</h2>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Date</th>
                        <th scope="col" class="govuk-table__header">Calculation reason</th>
                        <th scope="col" class="govuk-table__header">Location</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="">12 February 2021</a></td>
                        <td class="govuk-table__cell">Initial calculation</td>
                        <td class="govuk-table__cell">HMP Cold Mountain Penitentiary</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="">24 February 2021</a></td>
                        <td class="govuk-table__cell">Transfer</td>
                        <td class="govuk-table__cell">HMP Rikers Island</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="">5 October 2021</a></td>
                        <td class="govuk-table__cell">Recall</td>
                        <td class="govuk-table__cell">HMP Cold Mountain Penitentiary</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Calculation breakdown -->
<!-- Breakdown -->
<div class="moj-width-container">
</div>
{% endblock %}