{% extends "../version-6/dps/includes/template.html" %}
{% block content %}
<!-- Prisoner identity bar -->
<!-- <div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Offender name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">1 February 1990</span><strong>Prison number: </strong>B4166LG</span>
            </div>
        </div>
    </div>
</div> -->
<!-- Breadcrumbs -->
<div class="moj-width-container">
    <a href="#" class="govuk-back-link">Back</a>
</div>
<!-- Page content -->
<div class="moj-width-container govuk-!-margin-top-8">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
                There is a problem
            </h1>
            <p class="govuk-body">Error message text will go here.</p>
            <p class="govuk-body govuk-!-margin-top-6"><a href="">Link text goes here</a></p>
        </div>
    </div>
</div>
{% endblock %}