{% extends "../../../dps/includes/template.html" %}
{% block content %}
<!-- Back link -->
<div class="moj-width-container">
<a href="start-standalone" class="govuk-back-link">Back</a>
</div>
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-top-7">
                Search for a person to calculate their release dates
            </h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="moj-width-container">
            <p class="govuk-body govuk-!-margin-bottom-6">You can search using a person’s name or prison number.</p>
            <form>
                <div class="govuk-grid-row prisoner-search__form__row">
                    <div class="horizontal-form govuk-!-margin-bottom-3">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="keywords">
                                Prison number
                            </label>
                            <input class="govuk-input govuk-!-width-full" id="keywords" name="keywords" type="text" data-test="prisoner-search-keywords">
                        </div>
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="keywords">
                                First name
                            </label>
                            <input class="govuk-input govuk-!-width-full" id="keywords" name="keywords" type="text" data-test="prisoner-search-keywords">
                        </div>
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="keywords">
                                Last name
                            </label>
                            <input class="govuk-input govuk-!-width-full" id="keywords" name="keywords" type="text" data-test="prisoner-search-keywords">
                        </div>
                    </div>
                </div>
                <a href="search-for-prisoner-results.html" class="govuk-button prisoner-search__button">Search</a>
        </div>
        </form>
    </div>
</div>
{% endblock %}