{% extends "./template.html" %}
{% block content %}
<!-- Prisoner identity bar -->
<!-- <div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Colin Ball</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">15 May 2000</span><strong>Prison number: </strong>G2883VE</span>
            </div>
        </div>
    </div>
</div> -->
<!-- Page heading -->
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-top-8 govuk-!-margin-bottom-6">
                Colin Ball
            </h1>
            <!-- Prison number -->
            <p class="govuk-body"><span class="govuk-!-font-weight-bold govuk-!-margin-right-5">Prison number</span>G2883VE</p>
        </div>
    </div>
    <!-- Navigation -->
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <nav class="moj-sub-navigation" aria-label="Sub navigation">
                <ul class="moj-sub-navigation__list">
                    <li class="moj-sub-navigation__item">
                        <a class="moj-sub-navigation__link" href="hub-page-release-dates">Release dates</a>
                    </li>
                    <li class="moj-sub-navigation__item">
                        <a class="moj-sub-navigation__link" href="hub-page-sentences">Court cases and sentences</a>
                    </li>
                    <li class="moj-sub-navigation__item">
                        <a class="moj-sub-navigation__link" href="hub-page-adjustments">Adjustments</a>
                    </li>
                    <li class="moj-sub-navigation__item">
                        <a class="moj-sub-navigation__link" aria-current="page" href="hub-page-calculation-history">Calculation history</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- Calculation history -->
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">
                Calculation history
            </h2>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">Establishment</th>
      <th scope="col" class="govuk-table__header">Reason</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell"><a href="">10 September 2021</a></td>
      <td class="govuk-table__cell">HMP Wakefield</td>
      <td class="govuk-table__cell">Adjustment added</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell"><a href="">14 July 2020</a></td>
      <td class="govuk-table__cell">HMP Wakefield</td>
      <td class="govuk-table__cell">Transfer check</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell"><a href="">14 July 2020</a></td>
      <td class="govuk-table__cell">HMP Leeds</td>
      <td class="govuk-table__cell">Initial calculation</td>
    </tr>
  </tbody>
</table>
        </div>
    </div>
        <!-- Section break -->
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- Related information and Help and support -->
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m govuk-!-margin-top-4">Releated information</h2>
            <ul class="govuk-list">
                <li class="govuk-!-margin-bottom-2"><a href="supported-sentences">Sentence types supported by the Calculate release dates service</a></li>
                <li class="govuk-!-margin-bottom-2"><a href="">Print the Calculate release dates quick start guide</a></li>
                <li class="govuk-!-margin-bottom-2"><a href="">Read the latest Policy Framework</a></li>
            </ul>
            <h2 class="govuk-heading-m govuk-!-margin-top-6">Help and support</h2>
            <ul class="govuk-list">
                <li class="govuk-!-margin-bottom-2"><a href="">Email the Calculate relase dates support mailbox</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}