{% extends "../../../../../includes/layouts/template-linear.html" %}

{% block content %}
<!-- Back link -->
<div class="moj-width-container">
  <a href="reason-for-reject" class="govuk-back-link">Back</a>
</div>
<!-- Documents -->
<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">

      <span class="govuk-caption-xl"> Record outcomes for a release dates override request</span>
      Check answers
  </h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"> 
      <dl class="govuk-summary-list">

<!-- 
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width: 30%;">
            Reason for override
          </dt>
          <dd class="govuk-summary-list__value">
            Adding a SLED or LED from a previous booking
          </dd>

          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="revocation-date">Edit<span
                class="govuk-visually-hidden"> reason for override</span>
              </a>

          </dd>

        </div> -->


        {% if data['goRequest'] == 'approve'  %} 
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width: 30%;">
            Do you agree with the requested dates? 
          </dt>
          <dd class="govuk-summary-list__value">
           Yes
          </dd>

          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="revocation-date">Edit<span
                class="govuk-visually-hidden"> agree with the requested dates</span>
              </a>

          </dd>

        </div>

        </dl>


        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title"><span class="govuk-!-font-size-24">Requested dates</span></h2>
              <ul class="govuk-summary-card__actions">
              </ul>
          </div>
          <div class="govuk-summary-card__content" id="release-dates">
           
              <dl class="govuk-summary-list release-dates-list">
                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                          SLED
                          <p class="govuk-!-font-size-16 govuk-hint">Sentence and licence expiry date</p>
                      </dt>
                      <dd class="govuk-summary-list__value">
                          <p class="govuk-body">Tuesday, 3 May 2028</p>
                      </dd>
                  </div> 

                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                          CRD
                          <p class="govuk-!-font-size-16 govuk-hint">Conditional release date</p>
                      </dt>
                      <dd class="govuk-summary-list__value govuk-!-padding-top-4">
                          <p class="govuk-body">Tuesday, 9 December 2025</p>
                      </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                          
                          HDCED
                          <p class="govuk-!-font-size-16 govuk-hint">Home detention curfew eligibility date</p>
                      </dt>
                      <dd class="govuk-summary-list__value govuk-!-padding-top-4">
                          <div>
                              <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2">
                                  Date Modified
                              </strong></div>
                          <p class="govuk-body">Monday, 16 June 2025</p>
                      </dd>

                  </div>
                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                          
                          TUSED
                          <p class="govuk-!-font-size-16 govuk-hint">TUSED (Top up supervision expiry date)</p>
                      </dt>
                      <dd class="govuk-summary-list__value govuk-!-padding-top-4">
                          <div>
                              <strong class="govuk-tag govuk-tag--grey govuk-!-margin-bottom-2">
                                  Date Added
                              </strong></div>
                          <p class="govuk-body">Sunday, 16 June 2026</p>
                      </dd>

                  </div>
              </dl> 
          </div>
      </div> 

    
      <div class="govuk-button-group">  

        <form action="calculation-complete" method="post">
          <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-qa="submitReason">
            Confirm and save release dates
          </button> 
      </form> 

        <form method="post" action="cancel">
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Cancel
            </button>
        </form>
    </div> 
        


        {% elif data['goRequest'] == 'reject'  %} 


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width: 30%;">
            Do you agree with the requested dates? 
          </dt>
          <dd class="govuk-summary-list__value">
           No
          </dd>

          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="revocation-date">Edit<span
                class="govuk-visually-hidden"> agree with the requested dates</span>
              </a>

          </dd>

        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width: 30%;">
            Why the requested dates are incorrect
          </dt>
          <dd class="govuk-summary-list__value">
            ....
          </dd>

          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="revocation-date">Edit<span
                class="govuk-visually-hidden"> reason for rejection</span>
              </a>

          </dd>

        </div>

      </dl>

    
      <div class="govuk-button-group">  

        <form action="calculation-complete" method="post">
          <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-qa="submitReason">
            Confirm and save
          </button> 
      </form> 

        <form method="post" action="cancel">
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Cancel
            </button>
        </form>
    </div> 

        {% else  %} 

        {% endif  %} 


  </div>
</div>
</div>
{% endblock %}