{% extends "../../../../../includes/layouts/template-linear.html" %}
{% block content %}
<!-- Back link -->
<div class="moj-width-container">
    <a href="requested-dates" class="govuk-back-link">Back</a>
</div>
<!-- Page intro --> 
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"> 
   
      <div class="govuk-form-group">

    
        <fieldset class="govuk-fieldset" aria-describedby="calculationReasonId-hint">
        
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">

                  <span class="govuk-caption-xl"> Record outcomes for a release dates override request</span>
                  Explain why the requested dates are incorrect
                </h1>
            </legend>
 
           
            <div class="govuk-radios" data-module="govuk-radios">
            

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="calculationReasonId-1" name="calculationReasonId" type="radio" value="1" data-qa="reasonRadio-1" aria-controls="conditional-calculationReasonId-1" aria-expanded="false">
                    <label class="govuk-label govuk-radios__label" for="calculationReasonId-1">
                        The requested dates are incorrect but the calculated dates are correct
                    </label> 
                </div>
                
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-calculationReasonId-1">       
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="other-reason-description">
                           Provide some additional details for the requestor
                        </label>
                   
                        <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea> </div>  
                </div> 

              <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="calculationReasonId-2" name="calculationReasonId" type="radio" value="2" data-qa="reasonRadio-2" aria-controls="conditional-calculationReasonId-2" aria-expanded="false">
                  <label class="govuk-label govuk-radios__label" for="calculationReasonId-1">
                    The requested dates are incorrect and the calculated dates are incorrect
                  </label> 
              </div>
              
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-calculationReasonId-2">       
                  <div class="govuk-form-group">
                      <label class="govuk-label" for="other-reason-description">
                        Provide some additional details for the requestor
                      </label>
                  
                        <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
                    </div>  
              </div> 
              
          </div> 
        </fieldset> 
 
    <div class="govuk-button-group govuk-!-margin-top-4">
      <form method="post" action="check-answers">
          <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-qa="submitReason">
              Continue
          </button>
      </form>

      <form method="post" action="cancel">
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Cancel
          </button>
      </form>

    </div>
  </div>
    </div>
</div>
{% endblock %}