{% extends "../../../includes/layouts/template-linear.html" %}
{% set adjustmentsActive = true %}
{% block content %}
<div class="govuk-body">
    <div class="">
        <a href="../index-1" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper offence-outcome " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <form action="/form-handler" method="post" novalidate>
                        <div class="">
                            <h1 class="govuk-heading-l"><span class="govuk-caption-xl">Adjustments</span>
                                Enter RADA details
                            </h1>
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset" role="group" aria-describedby="rada-hint">
                                    <legend class="govuk-fieldset__legend--s">
                                        Date of days restored
                                    </legend>
                                    <div id="rada-hint" class="govuk-hint">
                                        For example, 27 3 2022
                                    </div>
                                    <div class="govuk-date-input" id="passport-issued">
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="rada-day">
                                                    Day
                                                </label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="rada-day" name="rada-day" type="text" inputmode="numeric">
                                            </div>
                                        </div>
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="rada-month">
                                                    Month
                                                </label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="rada-month" name="rada-month" type="text" inputmode="numeric">
                                            </div>
                                        </div>
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="rada-year">
                                                    Year
                                                </label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="rada-year" name="rada-year" type="text" inputmode="numeric">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-label--s" for="rada-number-of-days">
                                    Number of additional days restored
                                </label>
                                <div class="govuk-input__wrapper">
                                    <input id="rada-number-of-days" class="govuk-input govuk-input--width-4"  name="days" type="text" spellcheck="false">
                                    <div class="govuk-input__suffix" aria-hidden="true">days</div>
                                </div>
                            </div>
                        </div>


                        <div class="govuk-button-group">
                            <a id="add-adjustment-button" href="confirm-rada" class="govuk-button" data-module="govuk-button" data-name="RADA" data-desc="rada">
                                Continue
                            </a>
                            <a href="../index-1" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/adjustments-3-mvp.js"></script>
{% endblock %}