{% extends "../template.html" %}
{% block content %}
<!-- Prisoner identity bar -->
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Colin Ball</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">15 May 2000</span><strong>Prison number: </strong>G2883VE</span>
            </div>
        </div>
    </div>
</div>
<!-- Back link -->
<div class="moj-width-container">
    <a href="enter-release-dates-2" class="govuk-back-link">Back</a>
</div>
<!-- What is the confirmed date -->
<div class="moj-width-container govuk-!-margin-top-4">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form class="form" action="confirmation">
                <div class="govuk-form-group">
                    <!-- <span class="govuk-caption-l">Enter manually calculated release dates</span> -->
                    <h1 class="govuk-heading-xl">Check the dates you have entered</h1>
                    <dl class="govuk-summary-list govuk-!-margin-bottom-6">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key" style="width: 55%;">
                                SED (Sentence Expiry Date)
                            </dt>
                            <dd class="govuk-summary-list__value" style="width: 25%;">
                                4 March 2024
                            </dd>
                            <dd class="govuk-summary-list__actions" style="width: 30%;">
                                <a class="govuk-link govuk-link--no-visited-state" href="enter-release-dates-1">
                                    Change<span class="govuk-visually-hidden">SED</span></a>
                                <a href="" class="govuk-!-margin-left-4">Remove</a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                CRD (Conditional Release Date)
                            </dt>
                            <dd class="govuk-summary-list__value">
                                4 March 2023
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="enter-release-dates-2">
                                    Change<span class="govuk-visually-hidden">CRD</span></a>
                                <a href="remove-release-date" class="govuk-!-margin-left-4">Remove</a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                HDCED (Home Detention Curfew Eligibility Date)
                            </dt>
                            <dd class="govuk-summary-list__value">
                                4 March 2022
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="enter-release-dates-2">
                                    Change<span class="govuk-visually-hidden">CRD</span></a>
                                <a href="remove-release-date" class="govuk-!-margin-left-4">Remove</a>
                            </dd>
                        </div>
                    </dl>
                    <p class="govuk-body govuk-!-margin-bottom-8"><a href="what-dates-do-you-need-to-enter-2" class="govuk-link govuk-link--no-visited-state">Add another release date</a></p>
                    <h2 class="govuk-heading-m">Confirm and save to NOMIS</h2>
                    <p class="govuk-body">By saving this calculation you are confirming that, to the best of your knowledge, it is correct. These dates will be saved in NOMIS as a manual calculation</p>
                    <form action="confirmation" method="post" novalidate>
                        <input type="hidden" name="answers-checked" value="true">
                        <button class="govuk-button" data-module="govuk-button">
                            Confirm and save to NOMIS
                        </button>
                    </form>
                </div>
        </div>
    </div>
</div>
{% endblock %}