{% extends "layout.html" %}
{% block pageTitle %}
Calculation complete
{% endblock %}
{% block header %}
{{ mojHeader({
  organisationLabel: {
    text: 'HMPPS',
    href: '#'
  },
  serviceLabel: {
    text: 'Calculate release dates',
    href: 'start'
  },
  navigation: {
    label: 'Account navigation',
    items: [{
      text: 'Prototype user',
      href: '#',
      active: true
    }, {
      text: 'Sign out',
      href: '#'
    }]
  }

}) }}
{% endblock %}
{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back();">Back</a>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        Calculation complete
                    </h1>
                    <div class="govuk-panel__body govuk-!-font-size-19">
                        <strong>Offender name:</strong> Joe Bloggs<br>
                        <strong>Date of birth:</strong> 1 February 1990<br>
                        <strong>Offender number:</strong> B4166LG<br>
                    </div>
                </div>
                <div class="govuk-!-margin-top-8">
                    <p class="govuk-body">The calculation has been sent to NOMIS.</p>
                    <!-- <p class="govuk-body govuk-!-margin-top-6"><a href="#">Return to NOMIS</a></p> -->
                    <p class="govuk-body"><a href="#">Calculate another release date using NOMIS info</a></p>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}