{% extends "../../../includes/layouts/template-linear.html" %}
{% set adjustmentsActive = true %}
{% block content %}
<div class="">
    <div class="">
        <a href="view-ada-tables-2" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper offence-outcome " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                       <h1> <span class="govuk-caption-xl">Adjustments</span>
                                        Select the relevant PADAs</h1>
                                    </legend>
                                    <p>
                                        Select all the PADAs that apply to the prisoner's sentence calculation.
                                    </p>
                                    <p class="govuk-!-margin-bottom-6">The rules for PADAs can be found in the <a href="#">policy framework</a>.</p>

                                    <div class="govuk-checkboxes " data-module="govuk-checkboxes">
                                        <div class="pada-checkboxes">
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="pada" name="pada" type="checkbox"  checked value="Date charge proved 27 Dec 2020">
                                                <label class="govuk-label govuk-checkboxes__label" for="pada">
                                                    Date charge proved 27 Dec 2020
                                                </label>
                                                <div class="govuk-checkboxes__hint ">
                                                    <table class="govuk-table govuk-!-margin-top-4">
                                                        <caption class="govuk-table__caption govuk-table__caption--s govuk-!-padding-bottom-3">Adjudication details</caption>
                                                        <thead class="govuk-table__head">
                                                        <tr>
                                                            <th class="govuk-table__header" scope="col">Charge number</th>
                                                            <th class="govuk-table__header govuk-!-width-one-third" scope="col">To be served</th>
                                                            <th class="govuk-table__header" scope="col">Heard at</th>
                                                            <th class="govuk-table__header" scope="col">Status</th>
                                                            <th class="govuk-table__header govuk-!-text-align-right" scope="col">Days</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody class="govuk-table__body">
                                                        <tr class="govuk-table__row">
                                                            <td class="govuk-table__cell">
                                                                3812489
                                                            </td>
                                                            <td class="govuk-table__cell">
                                                                Forthwith
                                                            </td>
                                                            <td class="govuk-table__cell  ">
                                                                Nottingham prison
                                                            </td>
                                                            <td class="govuk-table__cell  ">
                                                                <span class="govuk-tag govuk-tag--purple">Prospective</span>
                                                            </td>
                                                            <!-- Days -->
                                                            <td class="govuk-table__cell govuk-!-text-align-right  ">6 </td>
                                                        </tr>
                                                        <tr class="govuk-table__row">
                                                            <td class="govuk-table__cell">
                                                                3812491
                                                            </td>
                                                            <td class="govuk-table__cell">
                                                                Concurrent
                                                            </td>
                                                            <td class="govuk-table__cell  ">
                                                                Nottingham prison
                                                            </td>
                                                            <td class="govuk-table__cell  ">
                                                                <span class="govuk-tag govuk-tag--purple">Prospective</span>
                                                            </td>
                                                            <!-- Days -->
                                                            <td class="govuk-table__cell govuk-!-text-align-right  ">6 </td>
                                                        </tr>
                                                        <tr class="govuk-table__row">
                                                            <td class="govuk-table__cell">
                                                                3812577
                                                            </td>
                                                            <td class="govuk-table__cell">
                                                                Concurrent
                                                            </td>
                                                            <td class="govuk-table__cell  ">
                                                                Nottingham prison
                                                            </td>
                                                            <td class="govuk-table__cell  ">
                                                                <span class="govuk-tag govuk-tag--purple">Prospective</span>
                                                            </td>
                                                            <!-- Days -->
                                                            <td class="govuk-table__cell govuk-!-text-align-right  ">6 </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="pada-checkboxes ">
                                            <div class="govuk-checkboxes__item  ">
                                                <input class="govuk-checkboxes__input" id="pada-2" name="pada" type="checkbox" value="Date charge proved 27 Dec 2020">
                                                <label class="govuk-label govuk-checkboxes__label" for="pada-2">
                                                    Date charge proved 27 Dec 2020
                                                </label>
                                                <div class=" govuk-checkboxes__hint">
                                                    <table class="govuk-table govuk-!-margin-top-4">
                                                        <caption class="govuk-table__caption govuk-table__caption--s govuk-!-padding-bottom-3">Adjudication details</caption>
                                                        <thead class="govuk-table__head">
                                                        <tr>
                                                            <th class="govuk-table__header" scope="col">Charge number</th>
                                                            <th class="govuk-table__header govuk-!-width-one-third" scope="col">To be served</th>
                                                            <th class="govuk-table__header" scope="col">Heard at</th>
                                                            <th class="govuk-table__header" scope="col">Status</th>
                                                            <th class="govuk-table__header govuk-!-text-align-right" scope="col">Days</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody class="govuk-table__body">
                                                        <tr class="govuk-table__row">
                                                            <td class="govuk-table__cell">
                                                                3812489
                                                            </td>
                                                            <td class="govuk-table__cell">
                                                                Forthwith
                                                            </td>
                                                            <td class="govuk-table__cell  ">
                                                                Nottingham prison
                                                            </td>
                                                            <td class="govuk-table__cell  ">
                                                                <span class="govuk-tag govuk-tag--purple">Prospective</span>
                                                            </td>
                                                            <!-- Days -->
                                                            <td class="govuk-table__cell govuk-!-text-align-right  ">6 </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="govuk-checkboxes__item govuk-!-margin-left-4 govuk-!-margin-bottom-6">
                                            <input class="govuk-checkboxes__input" id="pada-3" name="padas" type="checkbox" value="none">
                                            <label class="govuk-label govuk-checkboxes__label" for="pada-3">
                                                None of these apply
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>



                    <div class="govuk-button-group ">
                        <a href="check-your-answers-6" id="review-remand-button" class="govuk-button" data-module="govuk-button">
                            Continue
                        </a>
                        <a href="view-ada-tables-2" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Cancel
                        </a>
                    </div>

            </div>
            </div>
        </main>
    </div>
</div>
<script src="/public/javascripts/adjustments.js"></script>
{% endblock %}