{% extends "layout.html" %}
{% block pageTitle %}
Enter the offence date
{% endblock %}
{% block header %}
{{ mojHeader({
organisationLabel: {
text: 'HMPPS',
href: 'offender-details.html'
},
serviceLabel: {
text: 'Calculate release dates',
href: '#'
}
}) }}
{% endblock %}
{% block beforeContent %}
<a class="govuk-back-link" href="what-type-of-sentence.html">Back</a>
<dl class="govuk-summary-list" style="border-top: 1px solid #b1b4b6;">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value">
            <span class="govuk-!-margin-right-5"><strong>Offender name: </strong>John Doe</span> <span><strong>Offender number: </strong>91948392</span>
        </dt>
    </div>
</dl>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="offence-date-a-2" method="post">
            <div class="govuk-form-group">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Enter the offence start date
                    </h1>
                </legend>
                <fieldset class="govuk-fieldset" role="group" aria-describedby="start-date-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    </legend>
                    <div id="start-date-hint" class="govuk-hint">
                        For example, 27 3 2007
                    </div>
                    <div class="govuk-date-input" id="offence-start-date">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="offence-start-date-day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="offence-start-date-day" name="offence-start-date-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="offence-start-date-month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="offence-start-date-month" name="offence-start-date-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="offence-start-date-year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="offence-start-date-year" name="offence-start-date-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
    </div>
</div>
{% endblock %}