{% extends "layout.html" %}
{% block pageTitle %}
Enter the offence date
{% endblock %}
{% block header %}
{{ mojHeader({
organisationLabel: {
text: 'HMPPS',
href: 'offender-details.html'
},
serviceLabel: {
text: 'Calculate release dates',
href: '#'
}
}) }}
{% endblock %}
{% block beforeContent %}
<a class="govuk-back-link" href="offence-date-a.html">Back</a>
<dl class="govuk-summary-list" style="border-top: 1px solid #b1b4b6;">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value">
            <span class="govuk-!-margin-right-5"><strong>Offender name: </strong>John Doe</span> <span><strong>Offender number: </strong>91948392</span>
        </dt>
    </div>
</dl>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="offence-days-answer" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Did the offence occur over multiple days?
                        </h1>
                    </legend>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="offence-multiple-days-yes" name="offence-multiple-days" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="offence-multiple-days-yes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="offence-multiple-days-no" name="offence-multiple-days" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="offence-multiple-days-no">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
    </div>
</div>
{% endblock %}