{% extends "../../../includes/layouts/template-linear.html" %}
{% block content %} 
<!-- Back link -->
<div class="moj-width-container">
    <a href="../release-dates" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-6">
    <div class="govuk-grid-row"> 
        <div class="govuk-grid-column-two-thirds"> 

        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-xl">Add ADP, HDCAD and ROTL dates</span>
            You need to calculate release dates
        </h1> 
        <p class="govuk-body">Some sentence or adjustments information has changed. Check that all information is up to date and calculate release dates.</p>


        <form action="../calculation-complete" method="post">
            <div class="govuk-button-group govuk-!-margin-top-6">
            <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button"
                data-qa="submitReason">
                Continue
            </button>

            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Cancel
            </button>
            </div>

        </form>
                    
        </div>
    </div>
</div>
{% endblock %}