{% extends "../dps/includes/template.html" %}
{% block content %}
<!-- Prisoner identity bar -->
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">1 February 1990</span><strong>Prison number: </strong>B4166LG</span>
            </div>
        </div>
    </div>
</div>
<!-- Back link -->
<div class="moj-width-container">
    <a href="search-for-prisoner-results" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-8">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Some sentences could have alternative release arrangements
            </h1>
            <p class="govuk-body">This service has identified that some sentences in this calculation could be affected by:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a href="">The Release of Prisoners (Alteration of Relevant Proportion of Sentence) Order 2020 (SDS+)</a></li>
                <li><a href="">Police, Crime, Sentencing and Courts Act 2022</a></li>
            </ul>
            <p class="govuk-body"> Where an offence can attract a maximum life sentence, the release dates for some sentences are calculated at two thirds. This is also known as an SDS+ release arrangement.</p>
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        What are the criteria for an SDS+ release arrangement?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p class="govuk-body">SDS+ release arrangements can depend on the:
                    </p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>offence</li>
                        <li>sentence type</li>
                        <li>sentence length</li>
                        <li>sentence date</li>
                        <li>age of the person when the sentence was imposed</li>
                    </ul>
                </div>
            </details>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l govuk-!-margin-top-4">Next steps</h2>
            <p class="govuk-body">On the following 4 pages, you must select the Schedule 15 offences that appear on relevant lists. This is to identify offences in this calculation that have SDS+ release arrangements that affect the result.</p>
        </div>
    </div>
    <!-- Call to action -->
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">
            <a href="alternative-release-arrangements-a" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                Continue
            </a>
        </div>
    </div>
</div>
{% endblock %}