{% extends "../dps/includes/template.html" %}
{% block content %}
<!-- Prisoner identity bar -->
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">1 February 1990</span><strong>Prison number: </strong>B4166LG</span>
            </div>
        </div>
    </div>
</div>
<!-- Back link -->
<div class="moj-width-container">
    <a href="alternative-release-arrangements" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-8">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Select the offences that appear on List A
            </h1>
            <p class="govuk-body">
            </p>
        </div>
    </div>
</div>
<!-- What you need to do -->
<div class="moj-width-container govuk-!-margin-top-4">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">For each sentence, you must select the offences that have alternative release arrangements.</p>
            <ol class="govuk-list govuk-list--number">
                <li>Note the name of the offence for the first sentence below</li>
                <li>Open <a href="">List A (opens in new tab)</a></li>
                <li>Check if the name of the offence appears in List A
                </a></li>
                <li>Return to this page</li>
                <li>Select the box if the offence name appears on the list</li>
                <li>Repeat for each sentence</li>
            </ol>
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Are incohate offences included?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p class="govuk-body">Not all incohate offences appear on the list as named offences. Sentences that include incohate offences could still be specified by Schedule 15. Incohate offences can be: 
                    </p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>aiding, abbetting councelling or procuring</li>
                        <li>attempted or attempt to</li>
                        <li>conspiricy or conspire to</li>
                        <li>incite or incitement</li>
                        <li>where the person intended or believed would commit an offence</li>
                    </ul>
                    <p class="govuk-body">See paragraph 64 (specified violent offences) and paragraph 153 (specified sexual offences) for more information.</p>
                </div>
            </details>
        </div>
    </div>
</div>
<!-- Court case 1 -->
<div class="moj-width-container govuk-!-margin-top-4">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l">Sentences</h2>
            <h3 class="govuk-heading-m">Court case 1</h3>
            <div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
                <div class="govuk-grid-column-full govuk-!-margin-top-4">
                    <h3 class="govuk-body-s govuk-!-margin-bottom-0">Count 1</h3>
                    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
                        Hijacking of ships
                    </h4>
                    <p class="govuk-body-s">Committed on 20 June 2021</p>
                    <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row govuk-body-s">
                                <th scope="row" class="govuk-table__header sentence-table-header">Sentence date</th>
                                <td class="govuk-table__cell">1 July 2021</td>
                            </tr>
                            <tr class="govuk-table__row govuk-body-s">
                                <th scope="row" class="govuk-table__header sentence-table-header">Sentence length</th>
                                <td class="govuk-table__cell">8 years 0 months 0 weeks 0 days
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                This offence appears on List A
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="govuk-heading-m">Court case 2</h3>
            <div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
                <div class="govuk-grid-column-full govuk-!-margin-top-4">
                    <h3 class="govuk-body-s govuk-!-margin-bottom-0">Count 1</h3>
                    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
                        Soliciting murder
                    </h4>
                    <p class="govuk-body-s">Committed on 15 November 2020</p>
                    <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row govuk-body-s">
                                <th scope="row" class="govuk-table__header sentence-table-header">Sentence date</th>
                                <td class="govuk-table__cell">21 September 2021</td>
                            </tr>
                            <tr class="govuk-table__row govuk-body-s">
                                <th scope="row" class="govuk-table__header sentence-table-header">Sentence length</th>
                                <td class="govuk-table__cell">7 years 0 months 0 weeks 0 days
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                This offence appears on List A
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
                <div class="govuk-grid-column-full govuk-!-margin-top-4">
                    <h3 class="govuk-body-s govuk-!-margin-bottom-0">Count 2</h3>
                    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
                        Hostage taking
                    </h4>
                    <p class="govuk-body-s">Committed on 15 November 2020</p>
                    <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row govuk-body-s">
                                <th scope="row" class="govuk-table__header sentence-table-header">Sentence date</th>
                                <td class="govuk-table__cell">21 September 2021</td>
                            </tr>
                            <tr class="govuk-table__row govuk-body-s">
                                <th scope="row" class="govuk-table__header sentence-table-header">Sentence length</th>
                                <td class="govuk-table__cell">7 years 0 months 0 weeks 0 days
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                This offence appears on List A
                            </label>
                        </div>
                    </div>
                </div>
            </div>
                                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                                None of the sentences have offences that appear on List A
                            </label>
                        </div>
                    </div>
        </div>
    </div>
    <!-- Call to action -->
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">
            <a href="alternative-release-arrangements-b" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                Continue
            </a>
        </div>
    </div>
</div>
{% endblock %}