{% extends "../includes/layouts/template-linear.html" %}
{% block content %} 
<!-- Court cases detailed view -->
{% set lastAppearance = data.courtCases[data.courtCaseIndex].appearances | last %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l govuk-!-margin-top-4">Appearances for {{ lastAppearance['court-case-ref'] }}
                    at {{ lastAppearance['court-name']}}</h1>
            </div>
        </div>
        <div class="govuk-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
                Appearances
            </h2>
            <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <a class="govuk-tabs__tab" href="#appearances">
                        Appearances ({{ data.courtCases[data.courtCaseIndex].appearances | countNonDraft }})
                    </a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#drafts">
                        Drafts ({{ data.courtCases[data.courtCaseIndex].appearances | countDraft }})
                    </a>
                </li>
            </ul>
            <div class="govuk-tabs__panel" id="appearances">
                {% for appearance in data.courtCases[data.courtCaseIndex].appearances | reverse %}
                {% if appearance['status'] != 'draft' %}
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <h2 class="govuk-heading-m">{{ appearance['court-case-ref'] }} at {{ appearance['court-name'] }}
                            on {{ appearance['warrant-date-day'] }}/{{ appearance['warrant-date-month'] }}/{{
                            appearance['warrant-date-year'] }}</h2>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <ul class="offence-card-actions-list">
                            <li class="offence-card-action-link">{% if appearance['status'] == 'draft' %}<a class="govuk-link--no-visited-state" href="add-a-court-case/task-list?courtCaseIndex={{loop.revindex0}}">Continue adding appearance information</a>{% else %}<a href="/{{data.prototypeVersion}}/update-appearance?courtCaseIndex={{data.courtCaseIndex}}&appearanceIndex={{loop.revindex0}}">Edit</a>{% endif %}</li>
                            <li class="offence-card-action-link"><a href="" class="govuk-link--no-visited-state">Delete</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="govuk-grid-row govuk-!-padding-bottom-2 govuk-!-margin-top-2">
                    <div class="govuk-grid-column-one-third">
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Case reference</h3>
                        <p class="govuk-body govuk-!-margin-bottom-3">{{ appearance['court-case-ref'] }}</p>
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Warrant date</h3>
                        <p class="govuk-body govuk-!-margin-bottom-3">{{ appearance['warrant-date-day'] }}/{{
                            appearance['warrant-date-month'] }}/{{ appearance['warrant-date-year'] }}</p>
                    </div>
                    <div class="govuk-grid-column-one-third">
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Location</h3>
                        <p class="govuk-body govuk-!-margin-bottom-2">{{ appearance['court-name'] }}</p>
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Outcome</h3>
                        <p class="govuk-body govuk-!-margin-bottom-2">{{ appearance['overall-case-outcome'] }}</p>
                        {% if appearance['overall-case-outcome'] == 'Imprisonment' %}
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Conviction date</h3>
                        <p class="govuk-body govuk-!-margin-bottom-2">{{ appearance['overall-conviction-date-day'] }}/{{
                            appearance['overall-conviction-date-month'] }}/{{ appearance['overall-conviction-date-year']
                            }}</p>
                        {% endif %}
                    </div>
                    <div class="govuk-grid-one-third">
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Court documents</h3>
                        <ul class="govuk-list govuk-list--no--bullet govuk-!-margin-bottom-3">
                            {% if appearance['overall-case-outcome'] == 'Imprisonment' %}
                            <li><a href="{{ asset_path }}documents/order-of-imprisonment-court-case-2.pdf"
                                    class="govuk-link--no-visited-state" target="_blank"><svg
                                        class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 16 20" width="20" height="16">
                                        <path
                                            d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z">
                                        </path>
                                    </svg> Order for imprisonment</a></li>
                            <li><a href="{{ asset_path }}documents/trial-record-sheet-court-case-2.pdf"
                                    class="govuk-link--no-visited-state" target="_blank"><svg
                                        class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 16 20" width="20" height="16">
                                        <path
                                            d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z">
                                        </path>
                                    </svg> Trial record sheet</a></li>
                            {% else %}
                            <li><a href="{{ asset_path }}documents/remand-warrant-joe-bloggs.pdf"
                                    class="govuk-link--no-visited-state" target="_blank"><svg
                                        class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 16 20" width="20" height="16">
                                        <path
                                            d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z">
                                        </path>
                                    </svg> Remand warrant</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="govuk-grid-column-full govuk-!-margin-top-2">
                        {% if appearance.sentences == null %}
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Offences</h3>
                        <details class="govuk-details govuk-!-margin-bottom-0">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    offences ({{ appearance.offences.length }})
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                {% for offence in appearance.offences %}
                                <div class="offence-card">
                                    <div class="offence-card-offence-details">
                                        <h4 class="govuk-heading-s">{{ offence['offence-name'] }}</h4>
                                        {% if offence['terror-related'] == 'Yes' %}
                                        <strong class="govuk-tag govuk-!-margin-bottom-4">
                                            Terror-related
                                        </strong>
                                        {% endif %}</h4>
                                        <dl class="govuk-summary-list govuk-summary-list--no-border">
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Commited on
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    {{ offence['offence-start-date-day'] }}/{{
                                                    offence['offence-start-date-month'] }}/{{
                                                    offence['offence-start-date-year'] }}
                                                    {% if offence['offence-end-date-day'] > 0 %}
                                                    to
                                                    {{ offence['offence-end-date-day'] }}/{{
                                                    offence['offence-end-date-month'] }}/{{
                                                    offence['offence-end-date-year'] }}
                                                    {% endif %}
                                                </dd>
                                            </div>
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Outcome
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    {{ offence['outcome'] }}
                                                </dd>
                                            </div>
                                        </dl>
                                    </div>
                                </div>
                                {% endfor %}
                        </details>
                        {% else %}
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Offences</h3>
                        <details class="govuk-details govuk-!-margin-bottom-0">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    offences ({{ appearance.sentences.length }})
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                {% for sentence in appearance.sentences %}
                                <div class="offence-card sentence-card">
                                    <div class="offence-card-offence-details">
                                        <span class="govuk-body">Count {{ sentence['count-number'] }}</span>
                                        <h4 class="govuk-heading-s">{{ sentence['offence-name'] }}
                                            {% if sentence['terror-related'] == 'Yes' %}
                                            <br><strong class="govuk-tag govuk-!-margin-top-2">
                                                Terror-related
                                            </strong>
                                            {% endif %}
                                        </h4>
                                        <dl class="govuk-summary-list govuk-summary-list--no-border">
                                            {% if sentence['offence-start-date-day'] %}
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Commited on
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    {{ sentence['offence-start-date-day'] }}/{{
                                                    sentence['offence-start-date-month'] }}/{{
                                                    sentence['offence-start-date-year'] }}
                                                    {% if sentence['offence-end-date-day'] > 0 %}
                                                    to
                                                    {{ sentence['offence-end-date-day'] }}/{{
                                                    sentence['offence-end-date-month'] }}/{{
                                                    sentence['offence-end-date-year'] }}
                                                    {% endif %}
                                                </dd>
                                            </div>
                                            {% endif %}
                                            {% if sentence['conviction-date-day'] %}
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Conviction date
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    {{ sentence['conviction-date-day'] }}/{{
                                                    sentence['conviction-date-month'] }}/{{
                                                    sentence['conviction-date-year'] }}
                                                </dd>
                                            </div>
                                            {% endif %}
                                            {% if sentence['sentence-type'] %}
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Sentence type
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    {{ sentence['sentence-type'] }}
                                                </dd>
                                            </div>
                                            {% endif %}
                                            {% if (sentence['sentence-type'] == 'SDS (Standard Determinate Sentence)')
                                            or (sentence['sentence-type'] == 'ORA (Sentencing Code Standard Determinate
                                            Sentence)') or (sentence['sentence-type'] == 'SOPC (offenders of a
                                            particular concern)') %}
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Sentence length
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    {% if sentence['sentence-length-years'] %}
                                                    {{ sentence['sentence-length-years'] }} years
                                                    {% else %}
                                                    0 years
                                                    {% endif %}
                                                    {% if sentence['sentence-length-months'] %}
                                                    {{ sentence['sentence-length-months'] }} months
                                                    {% else %}
                                                    0 months
                                                    {% endif %}
                                                    {% if sentence['sentence-length-weeks'] %}
                                                    {{ sentence['sentence-length-weeks'] }} weeks
                                                    {% else %}
                                                    0 weeks
                                                    {% endif %}
                                                    {% if sentence['sentence-length-days'] %}
                                                    {{ sentence['sentence-length-days'] }} days
                                                    {% else %}
                                                    0 days
                                                    {% endif %}
                                                </dd>
                                            </div>
                                            {% endif %}
                                            {% if (sentence['sentence-type'] == 'Imprisonment in default of a fine') %}
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Fine amount
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    £{{ sentence['fine-amount'] }}
                                                </dd>
                                            </div>
                                            {% endif %}
                                            {% if (sentence['sentence-type'] == "Automatic life") or
                                            (sentence['sentence-type'] == "Adult discretionary life") or
                                            (sentence['sentence-type'] == "Adult mandatory life") %}
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Tariff length
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    {{ sentence['tariff-length-years'] }} years {{
                                                    sentence['tariff-length-months'] }} months {{
                                                    sentence['tariff-length-weeks'] }} weeks {{
                                                    sentence['tariff-length-days'] }} days
                                                </dd>
                                            </div>
                                            {% endif %}
                                            {% if (sentence['sentence-type'] == 'BOTUS (Breach of top up supervision)')
                                            or (sentence['sentence-type'] == 'Civil imprisonment') %}
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Term length
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    {{ sentence['term-length-years'] }} years {{
                                                    sentence['term-length-months'] }} months {{
                                                    sentence['term-length-weeks'] }} weeks {{
                                                    sentence['term-length-days'] }} days
                                                </dd>
                                            </div>
                                            {% endif %}
                                            {% if (sentence['sentence-type'] == 'EDS (Extended Determinate Sentence)')
                                            or (sentence['sentence-type'] == 'STS (Serious terrorism sentence)') %}
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Overall sentence length
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    {{ sentence['overall-sentence-length-individual-years'] }} years {{
                                                    sentence['overall-sentence-length-individual-months'] }} months {{
                                                    sentence['overall-sentence-length-individual-weeks'] }} weeks {{
                                                    sentence['overall-sentence-length-individual-days'] }} days
                                                </dd>
                                            </div>
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Custodial term
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    {{ sentence['custodial-term-years'] }} years {{
                                                    sentence['custodial-term-months'] }} months {{
                                                    sentence['custodial-term-weeks'] }} weeks {{
                                                    sentence['custodial-term-days'] }} days
                                                </dd>
                                            </div>
                                            {% endif %}
                                            {% if sentence['licence-period-years'] %}
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Licence period
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    {{ sentence['licence-period-years'] }} years {{
                                                    sentence['licence-period-months'] }} months {{
                                                    sentence['licence-period-weeks'] }} weeks {{
                                                    sentence['licence-period-days'] }} days
                                                </dd>
                                            </div>
                                            {% endif %}
                                            {% if sentence['consecutive-concurrent'] %}
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Consecutive or concurrent
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    {{ sentence['consecutive-concurrent'] }}
                                                    {% if sentence['forthwith'] == 'Yes' %}
                                                    (forthwith)
                                                    {% endif %}
                                                    {% if sentence['consecutive-concurrent'] == 'Consecutive' %}
                                                    to offence {{ sentence['consecutive-to'] }}
                                                    {% endif %}
                                                </dd>
                                            </div>
                                            {% endif %}
                                        </dl>
                                    </div>
                                </div>
                                {% endfor %}
                        </details>
                        {% endif %}
                    </div>
                </div>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


                {% endif %}
                {% endfor %}
            </div>
            <div class="govuk-tabs__panel" id="drafts">
                {% for appearance in data.courtCases[data.courtCaseIndex].appearances | reverse %}
                {% if appearance['status'] == 'draft' %}
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <h2 class="govuk-heading-m">{{ appearance['court-case-ref'] }} at {{ appearance['court-name'] }}
                            on {{ appearance['warrant-date-day'] }}/{{ appearance['warrant-date-month'] }}/{{
                            appearance['warrant-date-year'] }}</h2>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <ul class="offence-card-actions-list">
                            <li class="offence-card-action-link">{% if appearance['status'] == 'draft' %}<a class="govuk-link--no-visited-state" href="add-a-court-case/task-list?courtCaseIndex={{loop.revindex0}}">Continue adding appearance information</a>{% else %}<a href="/{{data.prototypeVersion}}/update-appearance?courtCaseIndex={{data.courtCaseIndex}}&appearanceIndex={{loop.revindex0}}">Edit</a>{% endif %}</li>
                            <li class="offence-card-action-link"><a href="" class="govuk-link--no-visited-state">Delete</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="govuk-grid-row govuk-!-padding-bottom-2 govuk-!-margin-top-2">
                    <div class="govuk-grid-column-one-third">
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Case reference</h3>
                        <p class="govuk-body govuk-!-margin-bottom-3">{{ appearance['court-case-ref'] }}</p>
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Warrant date</h3>
                        <p class="govuk-body govuk-!-margin-bottom-3">{{ appearance['warrant-date-day'] }}/{{
                            appearance['warrant-date-month'] }}/{{ appearance['warrant-date-year'] }}</p>
                    </div>
                    <div class="govuk-grid-column-one-third">
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Location</h3>
                        <p class="govuk-body govuk-!-margin-bottom-2">{{ appearance['court-name'] }}</p>
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Outcome</h3>
                        <p class="govuk-body govuk-!-margin-bottom-2">{{ appearance['overall-case-outcome'] }}</p>
                        {% if appearance['overall-case-outcome'] == 'Imprisonment' %}
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Conviction date</h3>
                        <p class="govuk-body govuk-!-margin-bottom-2">{{ appearance['overall-conviction-date-day'] }}/{{
                            appearance['overall-conviction-date-month'] }}/{{ appearance['overall-conviction-date-year']
                            }}</p>
                        {% endif %}
                    </div>
                    <div class="govuk-grid-column-one-third"></div>
                    <div class="govuk-grid-one-third">
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Court documents</h3>
                        <ul class="govuk-list govuk-list--no--bullet govuk-!-margin-bottom-3">
                            {% if appearance['overall-case-outcome'] == 'Imprisonment' %}
                            <li><a href="{{ asset_path }}documents/order-of-imprisonment-court-case-2.pdf"
                                    class="govuk-link--no-visited-state" target="_blank"><svg
                                        class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 16 20" width="20" height="16">
                                        <path
                                            d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z">
                                        </path>
                                    </svg> Order for imprisonment</a></li>
                            <li><a href="{{ asset_path }}documents/trial-record-sheet-court-case-2.pdf"
                                    class="govuk-link--no-visited-state" target="_blank"><svg
                                        class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 16 20" width="20" height="16">
                                        <path
                                            d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z">
                                        </path>
                                    </svg> Trial record sheet)</a></li>
                            {% else %}
                            <li><a href="{{ asset_path }}documents/remand-warrant-joe-bloggs.pdf"
                                    class="govuk-link--no-visited-state" target="_blank"><svg
                                        class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 16 20" width="20" height="16">
                                        <path
                                            d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z">
                                        </path>
                                    </svg> Remand warrant</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="govuk-grid-column-full govuk-!-margin-top-2">
                        {% if appearance.sentences == null %}
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Offences</h3>
                        <details class="govuk-details govuk-!-margin-bottom-0">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    offences ({{ appearance.offences.length }})
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                {% for offence in appearance.offences %}
                                <div class="offence-card">
                                    <div class="offence-card-offence-details">
                                        <h4 class="govuk-heading-s">{{ offence['offence-name'] }}</h4>
                                        {% if offence['terror-related'] == 'Yes' %}
                                        <strong class="govuk-tag govuk-!-margin-bottom-4">
                                            Terror-related
                                        </strong>
                                        {% endif %}</h4>
                                        <dl class="govuk-summary-list govuk-summary-list--no-border">
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Commited on
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    {{ offence['offence-start-date-day'] }}/{{
                                                    offence['offence-start-date-month'] }}/{{
                                                    offence['offence-start-date-year'] }}
                                                    {% if offence['offence-end-date-day'] > 0 %}
                                                    to
                                                    {{ offence['offence-end-date-day'] }}/{{
                                                    offence['offence-end-date-month'] }}/{{
                                                    offence['offence-end-date-year'] }}
                                                    {% endif %}
                                                </dd>
                                            </div>
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Outcome
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    {{ offence['outcome'] }}
                                                </dd>
                                            </div>
                                        </dl>
                                    </div>
                                </div>
                                {% endfor %}
                        </details>
                        {% else %}
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Offences</h3>
                        <details class="govuk-details govuk-!-margin-bottom-0">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    offences ({{ appearance.sentences.length }})
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                {% for sentence in appearance.sentences %}
                                <div class="offence-card sentence-card">
                                    <div class="offence-card-offence-details">
                                        <span class="govuk-body">Count {{ sentence['count-number'] }}</span>
                                        <h4 class="govuk-heading-s">{{ sentence['offence-name'] }}
                                            {% if sentence['terror-related'] == 'Yes' %}
                                            <br><strong class="govuk-tag govuk-!-margin-top-2">
                                                Terror-related
                                            </strong>
                                            {% endif %}
                                        </h4>
                                        <dl class="govuk-summary-list govuk-summary-list--no-border">
                                            {% if sentence['offence-start-date-day'] %}
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Commited on
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    {{ sentence['offence-start-date-day'] }}/{{
                                                    sentence['offence-start-date-month'] }}/{{
                                                    sentence['offence-start-date-year'] }}
                                                    {% if sentence['offence-end-date-day'] > 0 %}
                                                    to
                                                    {{ sentence['offence-end-date-day'] }}/{{
                                                    sentence['offence-end-date-month'] }}/{{
                                                    sentence['offence-end-date-year'] }}
                                                    {% endif %}
                                                </dd>
                                            </div>
                                            {% endif %}
                                            {% if sentence['conviction-date-day'] %}
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Conviction date
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    {{ sentence['conviction-date-day'] }}/{{
                                                    sentence['conviction-date-month'] }}/{{
                                                    sentence['conviction-date-year'] }}
                                                </dd>
                                            </div>
                                            {% endif %}
                                            {% if sentence['sentence-type'] %}
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Sentence type
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    {{ sentence['sentence-type'] }}
                                                </dd>
                                            </div>
                                            {% endif %}
                                            {% if (sentence['sentence-type'] == 'SDS (Standard Determinate Sentence)')
                                            or (sentence['sentence-type'] == 'ORA (Sentencing Code Standard Determinate
                                            Sentence)') or (sentence['sentence-type'] == 'SOPC (offenders of a
                                            particular concern)') %}
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Sentence length
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    {% if sentence['sentence-length-years'] %}
                                                    {{ sentence['sentence-length-years'] }} years
                                                    {% else %}
                                                    0 years
                                                    {% endif %}
                                                    {% if sentence['sentence-length-months'] %}
                                                    {{ sentence['sentence-length-months'] }} months
                                                    {% else %}
                                                    0 months
                                                    {% endif %}
                                                    {% if sentence['sentence-length-weeks'] %}
                                                    {{ sentence['sentence-length-weeks'] }} weeks
                                                    {% else %}
                                                    0 weeks
                                                    {% endif %}
                                                    {% if sentence['sentence-length-days'] %}
                                                    {{ sentence['sentence-length-days'] }} days
                                                    {% else %}
                                                    0 days
                                                    {% endif %}
                                                </dd>
                                            </div>
                                            {% endif %}
                                            {% if (sentence['sentence-type'] == 'Imprisonment in default of a fine') %}
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Fine amount
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    £{{ sentence['fine-amount'] }}
                                                </dd>
                                            </div>
                                            {% endif %}
                                            {% if (sentence['sentence-type'] == "Automatic life") or
                                            (sentence['sentence-type'] == "Adult discretionary life") or
                                            (sentence['sentence-type'] == "Adult mandatory life") %}
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Tariff length
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    {{ sentence['tariff-length-years'] }} years {{
                                                    sentence['tariff-length-months'] }} months {{
                                                    sentence['tariff-length-weeks'] }} weeks {{
                                                    sentence['tariff-length-days'] }} days
                                                </dd>
                                            </div>
                                            {% endif %}
                                            {% if (sentence['sentence-type'] == 'BOTUS (Breach of top up supervision)')
                                            or (sentence['sentence-type'] == 'Civil imprisonment') %}
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Term length
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    {{ sentence['term-length-years'] }} years {{
                                                    sentence['term-length-months'] }} months {{
                                                    sentence['term-length-weeks'] }} weeks {{
                                                    sentence['term-length-days'] }} days
                                                </dd>
                                            </div>
                                            {% endif %}
                                            {% if (sentence['sentence-type'] == 'EDS (Extended Determinate Sentence)')
                                            or (sentence['sentence-type'] == 'STS (Serious terrorism sentence)') %}
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Overall sentence length
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    {{ sentence['overall-sentence-length-individual-years'] }} years {{
                                                    sentence['overall-sentence-length-individual-months'] }} months {{
                                                    sentence['overall-sentence-length-individual-weeks'] }} weeks {{
                                                    sentence['overall-sentence-length-individual-days'] }} days
                                                </dd>
                                            </div>
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Custodial term
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    {{ sentence['custodial-term-years'] }} years {{
                                                    sentence['custodial-term-months'] }} months {{
                                                    sentence['custodial-term-weeks'] }} weeks {{
                                                    sentence['custodial-term-days'] }} days
                                                </dd>
                                            </div>
                                            {% endif %}
                                            {% if sentence['licence-period-years'] %}
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Licence period
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    {{ sentence['licence-period-years'] }} years {{
                                                    sentence['licence-period-months'] }} months {{
                                                    sentence['licence-period-weeks'] }} weeks {{
                                                    sentence['licence-period-days'] }} days
                                                </dd>
                                            </div>
                                            {% endif %}
                                            {% if sentence['consecutive-concurrent'] %}
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    Consecutive or concurrent
                                                </dt>
                                                <dd class="govuk-summary-list__value">
                                                    {{ sentence['consecutive-concurrent'] }}
                                                    {% if sentence['forthwith'] == 'Yes' %}
                                                    (forthwith)
                                                    {% endif %}
                                                    {% if sentence['consecutive-concurrent'] == 'Consecutive' %}
                                                    to offence {{ sentence['consecutive-to'] }}
                                                    {% endif %}
                                                </dd>
                                            </div>
                                            {% endif %}
                                        </dl>
                                    </div>
                                </div>
                                {% endfor %}
                        </details>
                        {% endif %}
                    </div>
                </div>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}