
{% if data['viewOption'] == 'adjustmentsReleasedFalse' %}
{% extends "../includes/layouts/template-linear.html" %}
{% else %}
{% extends "./template.html" %}
{% set nav = true %}
{% endif %}

{% set releaseDatesActive = true %}
{% block content %}


<!-- Release dates -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Release dates and calculations
        </h1>
    </div>
</div>
 

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
            
        {% if data['toShow'] == 'recallHistory' or data['toShow'] == 'ualAdded' or data['toDo'] == 'adjustmentsApplied' %} 

        <article class="moj-ticket-panel" aria-label="Sub navigation 1">

            <section class="moj-ticket-panel__content moj-ticket-panel__content--grey govuk-!-margin-bottom-6" aria-label="Section 1">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Perform a calculation</h2>
              <p class="govuk-body">Some information has changed. Check that all information is up to date then calculate release dates.</p>
              <a class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button" href="calculate-release-dates/calculation-reason" >
                Calculate release dates
              </a>
            </section>
          
          </article> 

          {% elif data['toShow'] == 'calcComplete' %}

            <h3 class="govuk-heading-l">Latest calculation</h3>
  
          <div class="govuk-summary-card govuk-!-margin-bottom-6">
              <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">10 December 2024 at HMP Kirkham
                      <br>
                      <span class="govuk-body">Calculation reason: Transfer check</span>
                  </h2>
                 
                  <ul class="govuk-summary-card__actions" style="align-content: center;">
                      <li class="govuk-summary-card__action"> <a class="govuk-link" href="calculate-release-dates/notification-slip-mvp-transfer">Print notification slip<span class="govuk-visually-hidden"> of Transfer calculation on 8 May 2023 at HMP Kirkham</span></a>
                      </li>
                    <li class="govuk-summary-card__action"> <a class="govuk-link" href="calculation-history/10-12-2024/check-sentence-and-offence-information">View details<span class="govuk-visually-hidden"> of Transfer calculation on 8 May 2023 at HMP Kirkham</span></a>
                    </li>
                   
                  </ul>
               </div>
             
                <div class="govuk-summary-card__content" id="release-dates">
                    <dl class="govuk-summary-list release-dates-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                                SLED
                                <p class="govuk-!-font-size-16 govuk-hint">Sentence and licence expiry date</p>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">Friday, 02 July 2032</p>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                                CRD
                                <p class="govuk-!-font-size-16 govuk-hint">Conditional release date</p>
                            </dt>
                            <dd class="govuk-summary-list__value govuk-!-padding-top-4">
                                <p class="govuk-body">Monday, 02 July 2029</p> 
                            </dd>
                        </div>
                    </dl>
                </div>
          </div> 

        {% else %}

        <h3 class="govuk-heading-l">Latest calculation</h3>
       
        <div class="govuk-summary-card govuk-!-margin-bottom-6">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">16 April 2024 at HMP Holme House
                    <br>
                    <span class="govuk-body">Calculation reason: Lodged warrant</span>
                </h2>
               
                <ul class="govuk-summary-card__actions" style="align-content: center;">
                    <li class="govuk-summary-card__action"> <a class="govuk-link" href="calculate-release-dates/notification-slip-mvp">Print notification slip<span class="govuk-visually-hidden"> of Transfer calculation on 8 May 2023 at HMP Kirkham</span></a>
                    </li>
                  <li class="govuk-summary-card__action"> <a class="govuk-link" href="calculation-history/16-04-2024/check-sentence-and-offence-information">View details<span class="govuk-visually-hidden"> of Transfer calculation on 8 May 2023 at HMP Kirkham</span></a>
                  </li>
                 
                </ul>
             </div>
             <div class="govuk-summary-card__content" id="release-dates">
                <dl class="govuk-summary-list release-dates-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                            SLED
                            <p class="govuk-!-font-size-16 govuk-hint">Sentence and licence expiry date</p>
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">Friday, 02 July 2032</p>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                            CRD
                            <p class="govuk-!-font-size-16 govuk-hint">Conditional release date</p>
                        </dt>
                        <dd class="govuk-summary-list__value govuk-!-padding-top-4">
                            <p class="govuk-body">Monday, 02 July 2029</p> 
                        </dd>
                    </div>
                </dl>
            </div>
        </div> 
 
        {% endif %}
 
    
    <h3 class="govuk-heading-l">Calculation history</h3>
    <!-- <div class="govuk-summary-card" id="calculation-history">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Calculation history</h2>
        </div>
        <div class="govuk-summary-card__content"> -->
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Calculation date</th>
                        <th scope="col" class="govuk-table__header">Calculation reason</th>
                        <th scope="col" class="govuk-table__header">Establishment</th>
                        <th scope="col" class="govuk-table__header">Source</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body"> 

                    {% if data['toShow'] == 'calcComplete' %}
 
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="calculation-history/10-12-2024/check-sentence-and-offence-information">10 December 2024</a></td>
                        <td class="govuk-table__cell" data-sort-value="8850">Transfer check</td>
                        <td class="govuk-table__cell">HMP Kirkham</td>
                        <td class="govuk-table__cell">Calculate release dates service</td> 
                    </tr> 

                    {% else %}
                    {% endif %}
 
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="calculation-history/16-04-2024/check-sentence-and-offence-information">16 April 2024</a></td>
                        <td class="govuk-table__cell" data-sort-value="8850">Lodged warrant</td>
                        <td class="govuk-table__cell">HMP Holme House</td>
                        <td class="govuk-table__cell">Calculate release dates service</td> 
                    </tr> 
 
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="calculation-history/21-12-2023/check-sentence-and-offence-information">21 December 2023</a></td>
                        <td class="govuk-table__cell" data-sort-value="8850">Initial calculation</td>
                        <td class="govuk-table__cell">HMP Holme House</td>
                        <td class="govuk-table__cell">NOMIS</td> 
                    </tr>
                </tbody>
            </table>
        <!-- </div>
    </div> -->
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="actions-list">
            <ul class="govuk-list actions-list-list">
                <span class="govuk-heading-m actions-list-header">Actions</span>
                <li><a href="calculate-release-dates/calculation-reason">Calculate release dates</a></li>
                <li><a href="calculate-release-dates/calculation-reason">Add APD, HDCAD or ROTL dates</a></li> 
                <!-- <li><a href="#">Add a new court case</a></li>  -->
                <!-- <li><a href="recalls/revocation-date">Record a recall</a></li>   -->
            </ul>
        </div>
    </div>

</div>


 
    {% endblock %}