{% extends "../../dps/includes/template.html" %}
{% block content %}
<!-- Prisoner identity bar -->
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Colin Ball</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">15 May 2000</span><strong>Prison number: </strong>G2883VE</span>
            </div>
        </div>
    </div>
</div>
<!-- Back link -->
<div class="moj-width-container">
    <a href="check-sentence-and-offence-information" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-7">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
                Review calculation before submitting
            </h1>
        </div>
    </div>
</div>
<!-- Final release dates -->
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l govuk-!-margin-top-6">Final release dates with adjustments</h2>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <div class="custom-card" style="background-color: #f3f2f1;">
                <div class="custom-card-main">
                    <!-- SLED -->
                    <h3 class="govuk-heading-s">Sentence and licence expiry date (SLED)</h3>
                    <p class="govuk-body">Tuesday, 22 November 2022</p>
                    <!-- MTD -->
                    <h3 class="govuk-heading-s">Mid Transfer Date (MTD)</h3>
                    <p class="govuk-body ">Monday, 21 February 2022</p>
                    <!-- ETD -->
                    <h3 class="govuk-heading-s">Early Transfer Date (ETD)</h3>
                    <p class="govuk-body ">Tuesday, 21 December 2021</p>
                    <!-- ERSED -->
                    <h3 class="govuk-heading-s">Late Transfer Date (LTD)</h3>
                    <p class="govuk-body ">Thursday, 21 April 2022</p>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row govuk-!-margin-top-6">
        <div class="govuk-grid-column-two-thirds">
            <details class="govuk-details govuk-!-margin-bottom-2" >
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Why are some details missing?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    Some dates and details are not included as according to <a href="http://www.justice.gov.uk/downloads/offenders/psipso/psi-2015/psi-03-2015-sentence-calculation-determiante-sentenced-prisoners.pdf" target="_blank">PSI 03/2015 (opens in new tab)</a> they are not relevant to this person's circumstances.
                </div>
            </details>
            <details class="govuk-details" >
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        How are final release dates calculated?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    Some calculations are made up of different sentences and terms, such as overlapping or concurrent sentences. The final release date comes from the sentence or term with the latest release date.
                </div>
            </details>
        </div>
    </div>
</div>
<!-- Calculation breakdown -->
<!-- Breakdown -->
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l govuk-!-margin-top-6">Calculation breakdown</h2>
            <!-- Concurrent sentence breakdown -->
            <div class="govuk-!-margin-bottom-8">
                <h3 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-4">
                    Sentences
                </h3>
                <table class="govuk-table govuk-!-margin-bottom-4">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th width="33%" scope="col" class="govuk-table__header">Sentence</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--date">Sentence date</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--date">Sentence length</th>
                            <th scope="col" colspan="2" class="govuk-table__header govuk-table__header--date">Calculated dates</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body calculation-breakdown">
                        <!-- First row -->
                        <tr class="govuk-table__row">
                            <td rowspan="2" class="govuk-table__cell">
                                Court case 1, count 1
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-margin-top-2">
                                    Obstruct person carrying out a function under self-isolation regulations
                                </p>
                                <p class="govuk-hint govuk-!-margin-top-0 govuk-!-font-size-16">ORA Detention and Training Order</p>
                            </td>
                            <td class="govuk-table__cell" style="border-bottom:none;">
                                21 Feb 2018</td>
                            <td class="govuk-table__cell govuk-!-padding-bottom-0" style="border-bottom:none;">
                                18 months
                            </td>
                            <td class="govuk-table__cell govuk-!-padding-bottom-0" style="border-bottom:none;">
                                <h4 class="govuk-heading-s govuk-!-margin-bottom-1">SLED</h4>22 Nov 2022<br>
                                <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">1735 days</span>
                            </td>
                            <td class="govuk-table__cell govuk-!-padding-bottom-0" style="border-bottom:none;">
                                <h4 class="govuk-heading-s govuk-!-margin-bottom-1">MTD</h4>21 Feb 2022<br>
                                <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">1461 days</span>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" colspan="2"></td>
                            <td class="govuk-table__cell">
                                <h4 class="govuk-heading-s govuk-!-margin-bottom-1">ETD</h4>21 Dec 2021<br>
                                <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">1399 days</span>
                            </td>
                            <td class="govuk-table__cell">
                                <h4 class="govuk-heading-s govuk-!-margin-bottom-1">LTD</h4>21 Apr 2022<br>
                                <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">1520 days</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h3 class="govuk-heading-m govuk-!-margin-bottom-4">Release dates that include adjustments</h3>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <p class="govuk-body">There are no adjustments entered in NOMIS for this calculation.</p>
        </div>
    </div>
</div>
<div class="moj-width-container govuk-!-margin-top-6">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m">Confirm and submit to NOMIS</h3>
            <p class="govuk-body">By submitting this calculation you are confirming that, to the best of your knowledge, it is correct. The calculation will be saved in NOMIS.</p>
            <a href="calculation-complete.html">
                <button class="govuk-button" data-module="govuk-button">Confirm and submit</button>
            </a>
            <p class="govuk-body govuk-!-font-size-16"><a href="calculation-cancelled.html" class="govuk-link">Cancel calculation</a></p>
        </div>
    </div>
</div>
{% endblock %}