{% extends "../dps/includes/template.html" %}
{% block content %}
<!-- Prisoner identity bar -->
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">1 February 1990</span><strong>Prison number: </strong>B4166LG</span>
            </div>
        </div>
    </div>
</div>
<!-- Back link -->
<div class="moj-width-container">
<a href="search-for-prisoner-results" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-top-8">
                Why are you calculating release dates for Joe Bloggs?
            </h1>
            <p class="govuk-body">Select a reason for the calculation.</p>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="calculation-reason" name="calculation-reason" type="radio" value="england">
                            <label class="govuk-label govuk-radios__label" for="calculation-reason">
                                New calculation
                            </label>
                        </div>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="contact" name="calculation-reason" type="radio" value="email" data-aria-controls="conditional-contact">
                                <label class="govuk-label govuk-radios__label" for="contact">
                                    Transfer check
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="calculation-reason-3" name="calculation-reason" type="radio" value="wales">
                                <label class="govuk-label govuk-radios__label" for="calculation-reason-3">
                                    Lodged warrant
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="calculation-reason-4" name="calculation-reason" type="radio" value="northern-ireland">
                                <label class="govuk-label govuk-radios__label" for="calculation-reason-4">
                                    Additional days awarded (ADA)
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="calculation-reason-4" name="calculation-reason" type="radio" value="northern-ireland">
                                <label class="govuk-label govuk-radios__label" for="calculation-reason-4">
                                    Restoration of additional days awarded (RADA)
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="calculation-reason-4" name="calculation-reason" type="radio" value="northern-ireland">
                                <label class="govuk-label govuk-radios__label" for="calculation-reason-4">
                                    Further sentence
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="calculation-reason-4" name="calculation-reason" type="radio" value="northern-ireland">
                                <label class="govuk-label govuk-radios__label" for="calculation-reason-4">
                                    14 day check
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="calculation-reason-4" name="calculation-reason" type="radio" value="northern-ireland">
                                <label class="govuk-label govuk-radios__label" for="calculation-reason-4">
                                    2 day check
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="calculation-reason-4" name="calculation-reason" type="radio" value="northern-ireland">
                                <label class="govuk-label govuk-radios__label" for="calculation-reason-4">
                                    Appeal
                                </label>
                            </div>
                        </div>
                </fieldset>
            </div>
            <a href="check-sentence-and-offence-information.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                Continue
            </a>
        </div>
    </div>
</div>
{% endblock %}