{% extends "layout.html" %}
{% block pageTitle %}
There are problems with this calculation
{% endblock %}
{% block header %}
{{ mojHeader({
organisationLabel: {
text: 'HMPPS',
href: '#'
},
serviceLabel: {
text: 'Calculate release dates',
href: 'start'
},
navigation: {
label: 'Account navigation',
items: [{
text: 'Prototype user',
href: '#',
active: true
}, {
text: 'Sign out',
href: '#'
}]
}
}) }}
{% endblock %}
{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back();">Back</a>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">
                    There are problems with this calculation
                </h1>
                <h2 class="govuk-heading-m">1. You have entered multiple offences for a single sentence.</h2>
                <p class="govuk-body">This does not comply with <a href="https://www.justice.gov.uk/downloads/offenders/psipso/psi-2015/psi-03-2015-sentence-calculation-determiante-sentenced-prisoners.pdf">PSI 03/2015 (opens in new tab)</a>.</p>
                <h3 class="govuk-heading-s">What to do</h3>
                <p class="govuk-body">To calculate this release date, you must:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>go back to NOMIS</li>
                    <li>create a new sentence for each offence</li>
                    <li>come back here</li>
                </ul>
                <h2 class="govuk-heading-m govuk-!-margin-top-6">2. You have not entered an offence date</h2>
                <p class="govuk-body">Enter an offence date in NOMIS to calculate a release date.</p>
                <a href="check-nomis-information.html" role="button" draggable="false" class="govuk-button govuk-button--tertiary govuk-!-margin-top-6" data-module="govuk-button">
                    Check NOMIS again
                </a>
            </div>
        </div>
</div>
{% endblock %}