{% extends "./dps/includes/template.html" %}
{% block content %}
<!-- Prisoner identity bar -->
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Offender name: </strong>Joe Bloggs</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">1 February 1990</span><strong>Prison number: </strong>B4166LG</span>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs -->
<div class="moj-width-container">
    <div class="govuk-breadcrumbs govuk-!-display-none-print">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/prisoner/G9126UE">Bloggs, Joe</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">Calculate release dates</li>
        </ol>
    </div>
</div>
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-8">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Check sentence and offence information for Joe Bloggs
            </h1>
            <p class="govuk-body">There are 5 sentences from NOMIS to be included in this calculation.</p>
                        <h2 class="govuk-heading-l govuk-!-margin-top-6">Court cases</h2>
        </div>
    </div>
</div>
<!-- Court case 1 -->
<div class="moj-width-container">
    <h3 class="govuk-heading-m">Court case 1</h3>
    <table class="govuk-table" style="width: 100%;">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col" style="width: 3%">Count</th>
                <th class="govuk-table__header" scope="col" style="width: 40%">Offence</th>
                <th class="govuk-table__header" scope="col" style="width: 18%">Sentence type</th>
                <th class="govuk-table__header" scope="col" style="width: 18%">Sentence date</th>
                <th class="govuk-table__header" scope="col" style="width: 21%">Sentence length</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <!-- Count -->
                <td class="govuk-table__cell">1.</td>
                <!-- Offence -->
                <td class="govuk-table__cell">Kidnapping<br><span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">Committed between 1 November 2019 <br>and 2 November 2019</span></td>
                               <!-- Sentence type -->
                <td class="govuk-table__cell">ORA CJA03 Standard Determinate Sentence</td>
                <!-- Sentence date -->
                <td class="govuk-table__cell">20 March 2020</td>
                <!-- Sentence length -->
                <td class="govuk-table__cell">2 years 0 months<br>0 weeks 0 days<br><span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">730 days</span><span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">concurrent</span></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Court case 2 -->
<div class="moj-width-container">
    <h3 class="govuk-heading-m govuk-!-margin-top-6">Court case 2</h3>
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col" style="width: 3%">Count</th>
                <th class="govuk-table__header" scope="col" style="width: 40%">Offence</th>
                <th class="govuk-table__header" scope="col" style="width: 18%">Sentence type</th>
                <th class="govuk-table__header" scope="col" style="width: 18%">Sentence date</th>
                <th class="govuk-table__header" scope="col" style="width: 21%">Sentence length</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <!-- Count -->
                <td class="govuk-table__cell">1.</td>
                <!-- Offence -->
                <td class="govuk-table__cell">Burglary dwelling - with intent to steal<br><span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">Committed on 15 November 2020</span></td>
                <!-- Sentence type -->
                <td class="govuk-table__cell">ORA CJA03 Standard Determinate Sentence</td>
                <!-- Sentence date -->
                <td class="govuk-table__cell">17 July 2020</td>
                <!-- Sentence length -->
                <td class="govuk-table__cell">0 years 12 months<br>0 weeks 0 days<br><span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">365 days</span><span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">concurrent</span></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Court case 3 -->
<div class="moj-width-container">
    <h3 class="govuk-heading-m govuk-!-margin-top-6">Court case 3</h3>
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col" style="width: 3%">Count</th>
                <th class="govuk-table__header" scope="col" style="width: 40%">Offence</th>
                <th class="govuk-table__header" scope="col" style="width: 18%">Sentence type</th>
                <th class="govuk-table__header" scope="col" style="width: 18%">Sentence date</th>
                <th class="govuk-table__header" scope="col" style="width: 21%">Sentence length</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body ">
            <tr class="govuk-table__row">
                <!-- Count -->
                <td class="govuk-table__cell">1.</td>
                <!-- Offence -->
                <td class="govuk-table__cell">Burglary dwelling - with intent to steal<br><span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">Committed on 1 November 2019</span></td>
                <!-- Sentence type -->
                <td class="govuk-table__cell">ORA CJA03 Standard Determinate Sentence</td>
                <!-- Sentence date -->
                <td class="govuk-table__cell">21 November 2020</td>
                <!-- Sentence length -->
                <td class="govuk-table__cell">0 years 8 months<br>0 weeks 0 days <br><span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">242 days</span><span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">consecutive to<br> Court case 1, count 1</span></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Court case 4 -->
<div class="moj-width-container">
    <h3 class="govuk-heading-m govuk-!-margin-top-6">Court case 4</h3>
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col" style="width: 3%">Count</th>
                <th class="govuk-table__header" scope="col" style="width: 40%">Offence</th>
                <th class="govuk-table__header" scope="col" style="width: 18%">Sentence type</th>
                <th class="govuk-table__header" scope="col" style="width: 18%">Sentence date</th>
                <th class="govuk-table__header" scope="col" style="width: 21%">Sentence length</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <!-- Count -->
                <td class="govuk-table__cell">1.</td>
                <!-- Offence -->
                <td class="govuk-table__cell">Burglary dwelling - with intent to steal<br><span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">Committed on 1 November 2019</span></td>
                <!-- Sentence type -->
                <td class="govuk-table__cell">SDS</td>
                <!-- Sentence date -->
                <td class="govuk-table__cell">13 December 2020</td>
                <!-- Sentence length -->
                <td class="govuk-table__cell">0 years 2 months<br>0 weeks 0 days<br><span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">62 days</span><span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">concurrent</span></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Court case 5 -->
<div class="moj-width-container">
    <h3 class="govuk-heading-m govuk-!-margin-top-6">Court case 5</h3>
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col" style="width: 3%">Count</th>
                <th class="govuk-table__header" scope="col" style="width: 40%">Offence</th>
                <th class="govuk-table__header" scope="col" style="width: 18%">Sentence type</th>
                <th class="govuk-table__header" scope="col" style="width: 18%">Sentence date</th>
                <th class="govuk-table__header" scope="col" style="width: 21%">Sentence length</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <!-- Count -->
                <td class="govuk-table__cell">1.</td>
                <!-- Offence -->
                <td class="govuk-table__cell">Burglary dwelling - with intent to steal<br><span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">Committed on 1 November 2019</span></td>
                <!-- Sentence type -->
                <td class="govuk-table__cell">SDS</td>
                <!-- Sentence date -->
                <td class="govuk-table__cell">18 December 2020</td>
                <!-- Sentence length -->
                <td class="govuk-table__cell">3 years 0 months<br>0 weeks 0 days<br><span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">1095 days</span><span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16" style="margin-bottom: 0">consecutive to<br>Court case 3, count 1</span></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Adjustments -->
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-l govuk-!-margin-top-6">Adjustments</h2>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Deductions</h3>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col" style="width: 60%"></th>
                        <th class="govuk-table__header" scope="col" style="width: 5%"></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <!-- Adjustment -->
                        <td class="govuk-table__cell">Number of days on remand</td>
                        <!-- Days -->
                        <td class="govuk-table__cell">0</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <!-- Adjustment -->
                        <td class="govuk-table__cell">Number of days tagged bail</td>
                        <!-- Days -->
                        <td class="govuk-table__cell">0</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <!-- Adjustment -->
                        <td class="govuk-table__cell">Restore additional days awarded (RADA)</td>
                        <!-- Days -->
                        <td class="govuk-table__cell">6</td>
                    </tr>
                </tbody>
            </table>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Additions</h3>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col" style="width: 60%"></th>
                        <th class="govuk-table__header" scope="col" style="width: 5%"></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <!-- Adjustment -->
                        <td class="govuk-table__cell">Additional days awarded (ADA)</td>
                        <!-- Days -->
                        <td class="govuk-table__cell">12</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <!-- Adjustment -->
                        <td class="govuk-table__cell">Number of days unlawfully at large (UAL)</td>
                        <!-- Days -->
                        <td class="govuk-table__cell">0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Call to action -->
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m govuk-!-margin-top-8">Now calculate release dates for Joe Bloggs</h2>
            <p class="govuk-body">The release dates will not be saved in NOMIS until you have reviewed the calculation.</p>
            <a href="calculation-summary.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                Calculate release dates
            </a>
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Some information is wrong
                    </span>
                </summary>
                <div class="govuk-details__text">
                    You can edit this information in NOMIS and <a onclick="correctMistake()" href="javascript:void(0);">reload this page</a>.
                    If you think the service isn’t working properly, contact the calculate release dates team by emailing <a href="mailto:calculatereleasedates@digital.justice.gov.uk">calculatereleasedates@digital.justice.gov.uk</a>
                </div>
            </details>
        </div>
    </div>
</div>
{% endblock %}