{% extends "./dps/includes/template.html" %}
{% block content %}
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-8">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Calculate release dates prototype</h1>
            <span class="govuk-hint govuk-!-font-size-24 govuk-!-margin-bottom-8    ">Version 7</span>
        </div>
    </div>
</div>
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <p class="govuk-body govuk-!-margin-bottom-6">Select a start point for the prototype.</p>
            <p class="govuk-body"><a href="">Start in DPS from search</a></p>
            <p class="govuk-body"><a href="">Start in DPS from tile</a></p>
            <p class="govuk-body"><a href="">Start standaline service</a></p>
        </div>
    </div>
</div>
{% endblock %}