{% extends "../../../../includes/layouts/template-linear.html" %}
{% block content %}
<!-- Back link -->
<div class="moj-width-container">
    <a href="reason-for-override" class="govuk-back-link">Back</a>
</div>
<!-- Page intro --> 
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6"> 
        
      <div class="govuk-form-group">
        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Report a problem with the calculation</span>
          Can you provide additional details?
        </h1>
        <div id="more-detail-hint" class="govuk-hint">
          This information will help the SST invesitage the calculation. 
        </div>
        <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>
    </div>
</div> 

<div class="moj-width-container govuk-!-margin-top-6">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds"> 
            
                <div class="govuk-button-group">
                    <form method="post" action="immediate-release">
                        <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-qa="submitReason">
                            Continue
                        </button>
                    </form>

                    <form method="post" action="cancel">
                        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Cancel
                        </button>
                    </form>
                </div>
            <!-- <p class="govuk-body govuk-!-font-size-16"><a href="../release-dates" class="govuk-link">Cancel calculation</a></p> -->
        </div>
    </div>
</div>
{% endblock %}