{% extends "../../../../includes/layouts/template-linear.html" %}
{% block content %}

<!-- Breadcrumbs -->
<div class="moj-width-container">
    <!--     <div class="govuk-breadcrumbs govuk-!-display-none-print">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/prisoner/G9126UE">Bloggs, Joe</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">Calculate release dates</li>
        </ol>
    </div> -->
</div>
<div class="moj-width-container govuk-!-margin-top-7">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    <div class="">Release dates sent for review</div>
                </h1>
                <div class="govuk-panel__body govuk-!-font-size-24">
                    No release dates have been saved yet.
                    <!-- You can now <a class="govuk-link--inverse" href="">print the notification slip</a>. -->
                    
                </div>
            </div>
        
 
         <!-- <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            
            <div class="govuk-notification-banner__content">
              <h3 class="govuk-notification-banner__heading">
                Calculation complete
              </h3>
              <p class="govuk-body">The calculation has been saved in NOMIS. You can now <a href="">print the notification slip</a>.</p>
            </div>
          </div> -->
          
        <div class="govuk-!-margin-top-6">
            <h2 class="govuk-heading-l">What happens next</h2> 
  
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-2">
                    <li>Your request will be sent to the SST (Specialist support team) for review</li> 
                    <li>If your request is approved, your proposed release dates will be saved</li> 
                    <li>If your request is not approved, the SST will provide guidance on what to do next</li> 
                </ul>
            </div>   

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  
            <h2 class="govuk-heading-m">What you can do next</h2> 
 

            <div class="govuk-body govuk-!-margin-top-6"><span>You can go back to Joe Bloggs':</span>
                <ul class="govuk-list govuk-!-margin-top-2">
                    <li><a href="../overview">Court case and release dates information</a></li>
                    <li><a href="../DPS-prisoner-profile">Prisoner profile</a></li>
                </ul>
            </div>  
     
            <div class="govuk-!-margin-top-6">
                <p class="govuk-body">Or, go to the <a href="../DPS-home"> DPS homepage</a>.</p>
            </div> 
            <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <div class="">
                <h2 class="govuk-heading-m">Help improve this service</h2>
                <div class="govuk-body"><span>This is a new service. Your feedback will help make it better. To give feedback you can:</span>
                <ul class="govuk-list govuk-!-margin-top-2">
                    <li><a href="">Complete a short survey</a></li>
                </ul>
                </div>
            </div> -->
        </div>
    </div>
</div>
{% endblock %}