{% extends "../template.html" %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="confirmation" method="post">
            <div class="govuk-form-group">
                <h1 class="govuk-heading-l">
                    Add a court appearance
                </h1>
                {% if data.appearance['warrant-type'] == "Remand" %}
                <h2 class="govuk-heading-m">Enter information from a remand warrant</h2>
                {% else %}
                <h2 class="govuk-heading-m">Enter information from a sentencing warrant</h2>
                {% endif %}
                <p class="govuk-body">You must enter information exactly as it is written on the warrant.</p>
                <ul class="govuk-task-list govuk-!-margin-top-7">
                    <li class="govuk-task-list__item govuk-task-list__item--with-link">
                        <div class="govuk-task-list__name-and-hint">
                            <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href={% if data.appearanceDetailsComplete == 1 %}"check-answers"{% else %}"court-case-reference-number-select"{% endif %} aria-describedby="appearance-infromation-status">
                                Add appearance information
                            </a>
                        </div>
                        <div class="govuk-task-list__status" id="appearance-infromation-status">
                            {% if data.appearanceDetailsComplete == 1 %}
                            Completed
                            {% else %}
                            <strong class="govuk-tag govuk-tag--blue">
                                Incomplete
                            </strong>
                            {% endif %}
                        </div>
                    </li>
                    {% if data.appearance['warrant-type'] == "Remand" %}
                    <li class="govuk-task-list__item govuk-task-list__item--with-link">
                        <div class="govuk-task-list__name-and-hint">
                            {% if data.appearanceDetailsComplete == 1 %}
                            <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="add-sentence-information" aria-describedby="court-documents-status">
                                Review offences
                            </a>
                            {% else %}
                            Review offences
                            {% endif %}
                        </div>
                        <div class="govuk-task-list__status" id="court-documents-status">
                            {% if data.appearanceDetailsComplete == 1 %}
                            {% if data.offencesComplete == 1 %}
                                Completed
                            {% else %}
                            <strong class="govuk-tag govuk-tag--grey">
                                Optional
                            </strong>
                            {% endif %}
                            {% else %}
                            <span class="govuk-task-list__status--cannot-start-yet">Cannot start yet</span>
                            {% endif %}
                        </div>
                    </li>
                    {% endif %}
                    {% if data.appearance['warrant-type'] == "Sentencing" %}
                    <li class="govuk-task-list__item govuk-task-list__item--with-link">
                        <div class="govuk-task-list__name-and-hint">
                            {% if data.appearanceDetailsComplete == 1 %}
                            <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="../additional-information/tagged-bail.html" aria-describedby="offences-and-sentences-status">
                                Add additional information
                            </a>
                            {% else %}
                            Add additional information
                            {% endif %}
                        </div>
                        <div class="govuk-task-list__status" id="offences-and-sentences-status">
                            {% if data.appearanceDetailsComplete == 1 %}
                             {% if data.additionalInformationComplete == 1 %}
                             Completed
                             {% else %}
                            <strong class="govuk-tag govuk-tag--blue">
                                Incomplete
                            </strong>
                            {% endif %}
                            {% else %}
                            <span class="govuk-task-list__status--cannot-start-yet">Cannot start yet</span>
                            {% endif %}
                        </div>
                    </li>
                    <li class="govuk-task-list__item govuk-task-list__item--with-link">
                        <div class="govuk-task-list__name-and-hint">
                            {% if data.appearanceDetailsComplete == 1 %}
                            <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="add-sentence-information" aria-describedby="offences-and-sentences-status">
                                Update offence outcomes
                            </a>
                            {% else %}
                            Update offence outcomes
                            {% endif %}
                        </div>
                        <div class="govuk-task-list__status" id="offences-and-sentences-status">
                            {% if data.appearanceDetailsComplete == 1 %}
                             {% if data.addSentenceInformationComplete == 1 %}
                             Completed
                             {% else %}
                            <strong class="govuk-tag govuk-tag--blue">
                                Incomplete
                            </strong>
                            {% endif %}
                            {% else %}
                            <span class="govuk-task-list__status--cannot-start-yet">Cannot start yet</span>
                            {% endif %}
                        </div>
                    </li>
                    {% endif %}
                    {% if data.appearance['warrant-type'] == "Remand" %}
                    <li class="govuk-task-list__item govuk-task-list__item--with-link">
                        <div class="govuk-task-list__name-and-hint">
                            {% if data.appearanceDetailsComplete == 1 %}
                            <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="next-court-date-select?route=appearance" aria-describedby="next-court-appearance-status">
                                Add next court appearance
                            </a>
                            {% else %}
                            Add next court appearance
                            {% endif %}
                        </div>
                        <div class="govuk-task-list__status" id="next-court-appearance-status">
                            {% if data.appearanceDetailsComplete == 1 %}
                            {% if data.nextCourtAppearanceComplete == "Yes" %}
                            Completed
                            {% else %}
                            <strong class="govuk-tag govuk-tag--grey">
                                Optional
                            </strong>
                            {% endif %}
                            {% else %}
                            <span class="govuk-task-list__status--cannot-start-yet">Cannot start yet</span>
                            {% endif %}
                        </div>
                    </li>
                    {% endif %}
                    <li class="govuk-task-list__item govuk-task-list__item--with-link">
                        <div class="govuk-task-list__name-and-hint">
                            {% if data.appearanceDetailsComplete == 1 %}
                            {% if data.courtDocumentsComplete == 1 %}
                            <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="court-documents" aria-describedby="court-documents-status">
                                Upload court documents
                            </a>
                            {% else %}
                            <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="/{{data.prototypeVersion}}/document-type" aria-describedby="court-documents-status">
                                Upload court documents
                            </a>
                            {% endif %}
                            {% else %}
                            Upload court documents
                            {% endif %}
                        </div>
                        <div class="govuk-task-list__status" id="court-documents-status">
                            {% if data.appearanceDetailsComplete == 1 %}
                            {% if data.courtDocumentsComplete == 1 %}
                                Completed
                            {% else %}
                            <strong class="govuk-tag govuk-tag--grey">
                                Optional
                            </strong>
                            {% endif %}
                            {% else %}
                            <span class="govuk-task-list__status--cannot-start-yet">Cannot start yet</span>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
            <h2 class="govuk-heading-m">
                Finish adding an appearance 
            </h2>
            <p class="govuk-body">To save a draft of the court case, you must first complete the appearance information.</p>
            <p class="govuk-body">Once every task has been completed, you must  save the information. You will not be able to return to this page, but can edit the details in the Court cases tab.</p  >
            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button" {% if data.appearance['finished-adding-offences'] == 'no' %}disabled aria-disabled="true"{% endif %}>
                    Finish and save
                </button>
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button" {% if data.appearanceDetailsComplete != 1 %}disabled aria-disabled="true"{% endif %}>
                    Save and come back later
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}