{% extends "../../../dps/includes/template.html" %}
{% block content %}
<!-- Prisoner identity bar -->
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Colin Ball</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">15 May 2000</span><strong>Prison number: </strong>G2883VE</span>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs -->
<div class="moj-width-container">
<!--     <div class="govuk-breadcrumbs govuk-!-display-none-print">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/prisoner/G9126UE">Bloggs, Joe</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">Calculate release dates</li>
        </ol>
    </div> -->
</div>
<div class="moj-width-container govuk-!-margin-top-8">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        Calculation complete for<br>Colin Ball
                    </h1>
                    <div class="govuk-panel__body govuk-!-font-size-19">
                        The calculation has been saved in NOMIS.
                    </div>
                </div>
                <div class="govuk-!-margin-top-8">
                    <!-- <p class="govuk-body govuk-!-margin-top-6"><a href="#">Return to NOMIS</a></p> -->
                    <p class="govuk-body"><a href="{{ asset_path }}images/calculation-summary.pdf">Print calculation summary</a></p>
                    <p class="govuk-body"><a href="search-for-prisoner">Calculate another release date</a></p>
                </div>
            </div>
        </div>
</div>
{% endblock %}