{% extends "./dps/includes/template.html" %}
{% block content %}
<div class="moj-width-container">
    <a href="javascript:history.back();" class="govuk-back-link">Back</a>
</div>
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-top-6">
                Calculation cancelled for Joe Bloggs
            </h1>
            <p>The release dates have not been saved to NOMIS.</p>
            <p class="govuk-body"><a href="start-standalone.html">Calculate another release date</a></p>
            <h2 class="govuk-heading-m govuk-!-margin-top-8">Report a problem with this calculation</h2>
            <p class="govuk-body">If you think the calculation was wrong,  <a href="mailto:calculatereleasedates@digital.justice.gov.uk">email the Calculate release dates team</a>. Your feedback will help to improve this service.
</p>
        </div>
    </div>
</div>
{% endblock %}