{% extends "layout.html" %}
{% block pageTitle %}
Start page example
{% endblock %}
{% block header %}
{{ mojHeader({
organisationLabel: {
text: 'HMPPS',
href: '#'
},
serviceLabel: {
text: 'Calculate release dates',
href: '#'
}
}) }}
{% endblock %}
{% block beforeContent %}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            {% if serviceName %} {{ serviceName }} {% endif %} &nbsp;
        <strong class="govuk-tag govuk-phase-banner__content__tag" style="vertical-align: middle;">
      alpha
    </strong>
        </h1>
        <p class="govuk-body">This site contains prototypes for the Calculate Release Dates service.
        <p class="govuk-body">Here is the latest version:</p>
        <a href="version-4/nomis-modal.html" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
            Launch version 4
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg></a>
            <h2 class="govuk-heading-m">Quick links</h2>
            <ul class="govuk-list">
                <li><a href="/version-3/check-nomis-information.html">Check NOMIS information page</a></li>
                <li><a href="/version-3/calculation-summary.html">Review calculation page</a></li>
            </ul>
            <hr class="govuk-!-margin-bottom-6 govuk-!-margin-top-8"">
            <h2 class="govuk-heading-m">Previous versions</h2>
                        <ul class="govuk-list">
                <li><a href="version-3/nomis-modal">Version 3</a></li>
                <li><a href="version-2/offender-details">Version 2</a></li>
                <li><a href="version-1/offender-details.html">Version 1</a></li>
            </ul>
    </div>
</div>
{% endblock %}