{% extends "layout.html" %}
{% block pageTitle %}
Start page example
{% endblock %}
{% block header %}
{{ mojHeader({
  organisationLabel: {
    text: 'HMPPS',
    href: '#'
  },
  serviceLabel: {
    text: 'Calculate release dates',
    href: '#'
  }
}) }}
{% endblock %}
{% block beforeContent %}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            {% if serviceName %} {{ serviceName }} {% endif %}
        </h1>
        <p class="govuk-body">This site contains prototypes for the Calculate Release Dates service</p>
        <p class="govuk-body">Here is the latest version:</p>
        <a href="offender-details.html" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
          Calculate release dates
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg></a>
    </div>
    <div class="govuk-grid-column-one-third">
    </div>
</div>
{% endblock %}