{% extends "../template.html" %}
{% block content %}
<!-- Prisoner identity bar -->
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Colin Ball</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">15 May 2000</span><strong>Prison number: </strong>G2883VE</span> | <a href="">Search for another person</a>
            </div>
        </div>
    </div>
</div>
<!-- Back link -->
<div class="moj-width-container">
    <a href="recalculation-required" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-6">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">Enter approved dates</span>
            <h1 class="govuk-heading-xl">
                Check sentence and offence information for Colin Ball
            </h1>
            <p class="govuk-body">This calculation will include 1 sentence from NOMIS.</p>
        </div>
    </div>
</div>
<!-- Court case 1 -->
<div class="moj-width-container govuk-!-margin-top-6">
    <h3 class="govuk-heading-l govuk-!-margin-bottom-2">Court case 1</h3>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <dl class="govuk-summary-list govuk-summary-list--no-border">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Court case number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        T20200101
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Court name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Bristol Crown Court
                    </dd>
                </div>
            </dl>
        </div>
    </div>
    <!-- Count 1 -->
    <div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
        <div class="govuk-grid-column-full govuk-!-margin-top-4">
            <h3 class="govuk-body-s govuk-!-margin-bottom-0">Count 1</h3>
            <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
                Attempt theft by employee
            </h4>
            <p class="govuk-body-s">Committed on 02 April 2023</p>
            <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">CJA Code</th>
                        <td class="govuk-table__cell">2020</td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Sentence type</th>
                        <td class="govuk-table__cell">ORA Breach Top Up Supervision</td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Sentence date</th>
                        <td class="govuk-table__cell">3 May 2023</td>
                    </tr>
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="row" class="govuk-table__header sentence-table-header">Sentence length</th>
                        <td class="govuk-table__cell">0 years 3 months 0 weeks 0 days
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Adjustments -->
    <div class="moj-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-l govuk-!-margin-top-6">Adjustments</h2>
                <div class="govuk-tabs govuk-!-margin-top-8" data-module="govuk-tabs">
                    <ul class="govuk-tabs__list" role="tablist">
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
                            <a class="govuk-tabs__tab" href="#summary" data-qa="summary-tab-link" id="tab_summary" role="tab" aria-controls="summary" aria-selected="true" tabindex="0">
                                Summary
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item" role="presentation">
                            <a class="govuk-tabs__tab" href="#detailed" data-qa="detailed-tab-link" id="tab_detailed" role="tab" aria-controls="detailed" aria-selected="false" tabindex="-1">
                                Detailed
                            </a>
                        </li>
                    </ul>
                    <div class="govuk-tabs__panel" id="summary" role="tabpanel" aria-labelledby="tab_summary">
                        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Deductions</h3>
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col">Adjustment</th>
                                    <th class="govuk-table__header" scope="col">Days</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Recall remand</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">0</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Remand</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">
                                        0
                                    </td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Recall tagged bail</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">0</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Tagged bail</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">
                                        0
                                    </td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Restore additional days awarded (RADA)</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">0</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Unused remand</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">0</td>
                                </tr>
                            </tbody>
                        </table>
                        <h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-8 ">Additions</h3>
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col">Adjustment</th>
                                    <th class="govuk-table__header" scope="col">Days</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Additional days awarded (ADA)</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">0</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <!-- Adjustment -->
                                    <td class="govuk-table__cell">Unlawfully at large (UAL)</td>
                                    <!-- Days -->
                                    <td class="govuk-table__cell">0
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="detailed" role="tabpanel" aria-labelledby="tab_detailed">
                        <p class="govuk-body">There are no detailed adjustments for Colin Ball</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- If some infomation is wrong -->
    <div class="moj-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-inset-text">
                    If you think some information is wrong, you can edit it in NOMIS and <a onclick="location.reload();" href="javascript:void(0);">reload this page</a>.
                </div>
            </div>
        </div>
    </div>
    <!-- Call to action -->
    <div class="moj-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m govuk-!-margin-top-7">Now calculate release dates for Colin Ball</h2>
                <p class="govuk-body">The release dates will not be saved in NOMIS until you have reviewed the calculation.</p>
                <a href="calculation-summary" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                    Calculate release dates
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}