{% extends "../../includes/layouts/template-linear.html" %}
{% block content %}
<!-- Back link -->
<div class="moj-width-container">
    <a href="../../check-sentence-and-offence-information" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-6">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">Calculate release dates</span>
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
                Review calculation
                <br>
                <span class="govuk-body">Check the release dates before entering the approved dates.</span>
            </h1>
        </div>
    </div>
</div>
<!-- Final release dates -->
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title"><span class="govuk-!-font-size-24">Release dates</span></h2>
                    <ul class="govuk-summary-card__actions">
                    </ul>
                </div>
                <div class="govuk-summary-card__content" id="release-dates">
                
                    {% if data['toShow'] == 'ualAdded' or data['toShow'] == 'calc2Complete'  %} 
                    <dl class="govuk-summary-list release-dates-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                                SLED
                                <p class="govuk-!-font-size-16 govuk-hint">Sentence and licence expiry date</p>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">Tuesday, 3 May 2029</p>
                            </dd>
                        </div> 

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                                CRD
                                <p class="govuk-!-font-size-16 govuk-hint">Conditional release date</p>
                            </dt>
                            <dd class="govuk-summary-list__value govuk-!-padding-top-4">
                                <p class="govuk-body">Monday, 4 May 2026</p>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                                HDCED
                                <p class="govuk-!-font-size-16 govuk-hint">Home detention curfew eligibility date</p>
                            </dt>
                            <dd class="govuk-summary-list__value govuk-!-padding-top-4">
                                <p class="govuk-body">Thursday, 6 November 2025</p>
                            </dd>
                        </div>
                    </dl>
                    {% else %} 
                    <dl class="govuk-summary-list release-dates-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                                SLED
                                <p class="govuk-!-font-size-16 govuk-hint">Sentence and licence expiry date</p>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <p class="govuk-body">Tuesday, 3 May 2028</p>
                            </dd>
                        </div> 
    
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                                CRD
                                <p class="govuk-!-font-size-16 govuk-hint">Conditional release date</p>
                            </dt>
                            <dd class="govuk-summary-list__value govuk-!-padding-top-4">
                                <p class="govuk-body">Tuesday, 9 December 2025</p>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                                HDCED
                                <p class="govuk-!-font-size-16 govuk-hint">Home detention curfew eligibility date</p>
                            </dt>
                            <dd class="govuk-summary-list__value govuk-!-padding-top-4">
                                <p class="govuk-body">Friday, 13 June 2025</p>
                            </dd>
                        </div>
                    </dl>
                    {% endif %}  
                </div>
            </div> 
  
            <details class="govuk-details govuk-!-margin-bottom-2" >
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Why are some details missing?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    Some dates and details are not included as according to <a
                        href="http://www.justice.gov.uk/downloads/offenders/psipso/psi-2015/psi-03-2015-sentence-calculation-determiante-sentenced-prisoners.pdf"
                        target="_blank">PSI 03/2015 (opens in new tab)</a> they are not relevant to this person's
                    circumstances.
                </div>
            </details>
            <details class="govuk-details" >
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        How are final release dates calculated?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    Some calculations are made up of different sentences and terms, such as overlapping or concurrent
                    sentences. The final release date comes from the sentence or term with the latest release date.
                </div>
            </details> 
    
            <div class="govuk-!-margin-top-6">
                <div class="govuk-grid-row">
                    <div class="">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                              <h1 class="govuk-fieldset__heading">
                                Do you agree with the release dates?
                              </h1>
                            </legend>
                
                            <div class="govuk-radios" data-module="govuk-radios">
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="approvedDatesQuestion" name="approvedDatesQuestion" type="radio"
                                  value="yes" />
                                <label class="govuk-label govuk-radios__label" for="approvedDatesQuestion">
                                  Yes, the release dates are correct
                                </label>
                              </div>
                
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="approvedDatesQuestion-2" name="approvedDatesQuestion"
                                  type="radio" value="no" />
                                <label class="govuk-label govuk-radios__label" for="approvedDatesQuestion-2">
                                  No, the release dates are not correct
                                </label>
                              </div>
                            </div>
                          </fieldset>

                            <div class="govuk-button-group govuk-!-margin-top-6">

                        {% if data['toShow'] == 'datesOverridden' %}
                        <form method="post" action="genuine-overrides/reconfirm/override-reconfirm-intercept">
                            <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-qa="submitReason">
                                Continue

                            </button>
                        </form>
 
                        {% else %}
                        
                                <form method="post" action="approved-dates/enter-approved-dates-question">
                                    <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-qa="submitReason">
                                        Continue
                                    </button>
                                </form>
                        
                        {% endif %}

                                <form method="post" action="cancel">
                                    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                        Cancel
                                    </button>
                                </form>
                            </div>
                        <!-- <p class="govuk-body govuk-!-font-size-16"><a href="../release-dates" class="govuk-link">Cancel calculation</a></p> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="govuk-grid-column-one-third"> 
            <aside class="app-related" role="complementary" style="border-top: 4px solid #1d70b8; padding-top:15px">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2" id="-title">Need help with a calculation?</h2>
                    <p class="govuk-body-m">If you think the calculation is wrong, <a href="genuine-overrides/omu/request-specialist-support"> report the problem to us</a>.</p>
            </aside>
        </div> -->
    </div>
</div>
{% endblock %}