{% extends "./template.html" %}
{% block content %}
<!-- Prisoner identity bar -->
<!-- <div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Colin Ball</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">15 May 2000</span><strong>Prison number: </strong>G2883VE</span>
            </div>
        </div>
    </div>
</div> -->
<!-- Page heading -->
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-top-8 govuk-!-margin-bottom-6">
                Colin Ball
            </h1>
            <!-- Prison number -->
            <p class="govuk-body"><span class="govuk-!-font-weight-bold govuk-!-margin-right-5">Prison number</span>G2883VE</p>
        </div>
    </div>
    <!-- Navigation -->
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <nav class="moj-sub-navigation" aria-label="Sub navigation">
                <ul class="moj-sub-navigation__list">
                    <li class="moj-sub-navigation__item">
                        <a class="moj-sub-navigation__link" href="hub-page-release-dates">Release dates</a>
                    </li>
                    <li class="moj-sub-navigation__item">
                        <a class="moj-sub-navigation__link" href="hub-page-sentences">Court cases and sentences</a>
                    </li>
                    <li class="moj-sub-navigation__item">
                        <a class="moj-sub-navigation__link" aria-current="page" href="hub-page-adjustments">Adjustments</a>
                    </li>
                    <li class="moj-sub-navigation__item">
                        <a class="moj-sub-navigation__link" href="hub-page-calculation-history">Calculation history</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- Adjustments -->
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-l">
                Adjustments
            </h2>
        </div>
    </div>
        <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <!-- Deductions -->
        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Deductions</h3>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col" width="90%"></th>
                                    <th class="govuk-table__header" scope="col">Days</th>
                                </tr>
                <tr class="govuk-table__row">
                    <!-- Adjustment -->
                    <td class="govuk-table__cell">Recall remand</td>
                    <!-- Days -->
                    <td class="govuk-table__cell">0</td>
                </tr>
                <tr class="govuk-table__row">
                    <!-- Adjustment -->
                    <td class="govuk-table__cell">Remand</td>
                    <!-- Days -->
                    <td class="govuk-table__cell">
                        1
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <!-- Adjustment -->
                    <td class="govuk-table__cell">Recall tagged bail</td>
                    <!-- Days -->
                    <td class="govuk-table__cell">0</td>
                </tr>
                <tr class="govuk-table__row">
                    <!-- Adjustment -->
                    <td class="govuk-table__cell">Tagged bail</td>
                    <!-- Days -->
                    <td class="govuk-table__cell">
                        0
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <!-- Adjustment -->
                    <td class="govuk-table__cell">Restore additional days awarded (RADA)</td>
                    <!-- Days -->
                    <td class="govuk-table__cell">0</td>
                </tr>
                <tr class="govuk-table__row">
                    <!-- Adjustment -->
                    <td class="govuk-table__cell">Unused remand</td>
                    <!-- Days -->
                    <td class="govuk-table__cell">0</td>
                </tr>
            </tbody>
        </table>
        <!-- Additions -->
        <h3 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-0">Additions</h3>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col" width="90%"></th>
                                    <th class="govuk-table__header" scope="col">Days</th>
                                </tr>
                <tr class="govuk-table__row">
                    <!-- Adjustment -->
                    <td class="govuk-table__cell">Additional days awarded (ADA)</td>
                    <!-- Days -->
                    <td class="govuk-table__cell">0</td>
                </tr>
                <tr class="govuk-table__row">
                    <!-- Adjustment -->
                    <td class="govuk-table__cell">Unlawfully at large (UAL)</td>
                    <!-- Days -->
                    <td class="govuk-table__cell">0
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    <!-- Section break -->
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- Actions -->
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">
                Actions
            </h2>
        </div>
    </div>
      <!-- Tiles -->
    <div class="govuk-grid-row govuk-!-margin-top-6">
        <ul class="card-group">
            <li class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable" data-test="global-search">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="calculate-release-dates/check-sentence-and-offence-information">Calculate release dates</a>
                    </h2>
                    <p class="govuk-body card__description">Automatically calculate an prisoner’s release dates using information from NOMIS</p>
                </div>
            </li>
                        <li class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable" data-test="global-search">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="calculate-release-dates/check-sentence-and-offence-information">Add or change court case and sentence information</a>
                    </h2>
                    <p class="govuk-body card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </li>
                                    <li class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable" data-test="global-search">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="calculate-release-dates/check-sentence-and-offence-information">Add or change adjustments</a>
                    </h2>
                    <p class="govuk-body card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </li>
            <li class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable" data-test="manage-prisoner-whereabouts">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="enter-confirmed-release-date/what-is-the-confirmed-release-date">Enter a confirmed release date</a>
                    </h2>
                    <p class="govuk-body card__description">Enter and save a prisoner's confirmed release date</p>
                </div>
            </li>
            <li class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable" data-test="manage-prisoner-whereabouts">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="view-release-dates/check-sentence-and-offence-information">View release dates</a>
                    </h2>
                    <p class="govuk-body card__description">See a person's release dates previously calculated using the Calculate release dates service</p>
                </div>
            </li>
        </ul>
    </div>
        <!-- Section break -->
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- Related information and Help and support -->
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m govuk-!-margin-top-4">Releated information</h2>
            <ul class="govuk-list">
                <li class="govuk-!-margin-bottom-2"><a href="supported-sentences">Sentence types supported by the Calculate release dates service</a></li>
                <li class="govuk-!-margin-bottom-2"><a href="">Print the Calculate release dates quick start guide</a></li>
                <li class="govuk-!-margin-bottom-2"><a href="">Read the latest Policy Framework</a></li>
            </ul>
            <h2 class="govuk-heading-m govuk-!-margin-top-6">Help and support</h2>
            <ul class="govuk-list">
                <li class="govuk-!-margin-bottom-2"><a href="">Email the Calculate relase dates support mailbox</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}