{% extends "./template.html" %}
{% block content %}
<div class="govuk-width-container">
    <!-- Breadcrumbs -->
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Back to search results</a>
            </li>
        </ol>
    </div>
    <main class="govuk-main-wrapper-govuk-body">
        <!-- Banner -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
            <div data-test="hmpps-profile-banner-partial" class="hmpps-profile-banner">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full hmpps-profile-banner-top">
                        <a href="/prisoner/G6123VU/image" class="hmpps-clickable-image" data-qa="prisoner-photo-link">
                            <img class="hmpps-profile-photo" src="/public/images/prisoner.jpeg" alt="Saunders, John">
                        </a>
                        <h2 class="govuk-heading-l hmpps-profile-prisoner-name">Colin Ball</h2>
                        <div class="info">
                            <p class="govuk-body govuk-!-font-size-24 hmpps-profile-prisoner-number" aria-label="Prisoner Number">
                                G6123VU
                            </p>
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full hmpps-profile-banner-bottom govuk-!-padding-top-9">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full">
                                <hr>
                            </div>
                        </div>
                        <nav class="govuk-grid-row">
                            <div class="govuk-grid-column-full">
                                <ul class="hmpps-profile-tab-links">
                                    <li class="govuk-heading-s">
                                        <a href="/prisoner/G6123VU" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">Overview</a>
                                    </li>
                                    <li class="govuk-heading-s">
                                        <a href="hub-page-release-dates" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">Release dates</a>
                                    </li>
                                    <li class="govuk-heading-s">
                                        <a href="hub-page-sentences" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">Court cases</a>
                                    </li>
                                    <li class="govuk-heading-s hmpps-profile-tab-link-selected">
                                        <a href="hub-page-adjustments" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">Adjustments</a>
                                    </li>
                                    <li class="govuk-heading-s">
                                        <a href="hub-page-calculation-history" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">Calculations</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Adjustments -->
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <h2 class="govuk-heading-l govuk-!-margin-top-6">
                        Adjustments
                    </h2>
                </div>
            </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h2 class="govuk-heading-m">Deductions</h2>
                    </div>
                    <div class="govuk-grid-column-full-width">
                        <!-- Adjustment 1 -->
                        <div class="govuk-grid-column-one-half">
                            <div class="govuk-summary-card">
                                <div class="govuk-summary-card__title-wrapper">
                                    <h2 class="govuk-summary-card__title">Remand</h2>
                                    <ul class="govuk-summary-card__actions">
                                        <li class="govuk-summary-card__action govuk-body"> <a class="govuk-link" href="#">
                                                Update
                                            </a>
                                        </li>
                                        <li class="govuk-summary-card__action govuk-body"> <a class="govuk-link" href="#">
                                                Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="govuk-summary-card__content">
                                    <table class="govuk-table">
                                        <thead class="govuk-table__head">
                                            <tr class="govuk-table__row">
                                                <th class="govuk-table__header" scope="col" width="90%">Dates</th>
                                                <th class="govuk-table__header" scope="col">Days</th>
                                            </tr>
                                        </thead>
                                        <tbody class="govuk-table__body">
                                            <tr class="govuk-table__row">
                                                <!-- Dates -->
                                                <td class="govuk-table__cell">17 February 2018 to 20 February 2018</td>
                                                <!-- Days -->
                                                <td class="govuk-table__cell">3</td>
                                            </tr>
                                            <tr class="govuk-table__row">
                                                <!-- Dates -->
                                                <td class="govuk-table__cell">17 June 2018 to 20 June 2018</td>
                                                <!-- Days -->
                                                <td class="govuk-table__cell">3</td>
                                            </tr>
                                            <!-- Total -->
                                            <tr class="govuk-table__row">
                                                <!-- Dates -->
                                                <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">Total days</td>
                                                <!-- Days -->
                                                <td class="govuk-table__cell">6
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Court case 2 -->
                        <div class="govuk-grid-column-one-half">
                            <div class="govuk-summary-card">
                                <div class="govuk-summary-card__title-wrapper">
                                    <h2 class="govuk-summary-card__title">Unlawfully at large (UAL)</h2>
                                    <ul class="govuk-summary-card__actions">
                                        <li class="govuk-summary-card__action govuk-body"> <a class="govuk-link" href="#">
                                                Update
                                            </a>
                                        </li>
                                        <li class="govuk-summary-card__action govuk-body"> <a class="govuk-link" href="#">
                                                Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="govuk-summary-card__content">
                                    <table class="govuk-table">
                                        <thead class="govuk-table__head">
                                            <tr class="govuk-table__row">
                                                <th class="govuk-table__header" scope="col" width="90%">Dates</th>
                                                <th class="govuk-table__header" scope="col">Days</th>
                                            </tr>
                                        </thead>
                                        <tbody class="govuk-table__body">
                                            <tr class="govuk-table__row">
                                                <!-- Dates -->
                                                <td class="govuk-table__cell">17 February 2018 to 20 February 2018</td>
                                                <!-- Days -->
                                                <td class="govuk-table__cell">3</td>
                                            </tr>
                                            <!-- Total -->
                                            <tr class="govuk-table__row">
                                                <!-- Dates -->
                                                <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">Total days</td>
                                                <!-- Days -->
                                                <td class="govuk-table__cell">3
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
                        <h2 class="govuk-heading-m">Additions</h2>
                    </div>
                    <!-- Court case 3 -->
                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-summary-card">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">Additional days awarded (ADAs)</h2>
                                <ul class="govuk-summary-card__actions">
                                    <li class="govuk-summary-card__action govuk-body"> <a class="govuk-link" href="#">
                                            Update
                                        </a>
                                    </li>
                                    <li class="govuk-summary-card__action govuk-body"> <a class="govuk-link" href="#">
                                            Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="govuk-summary-card__content">
                                <table class="govuk-table">
                                    <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                            <th class="govuk-table__header" scope="col" width="90%">Date awarded</th>
                                            <th class="govuk-table__header" scope="col">Days</th>
                                        </tr>
                                    </thead>
                                    <tbody class="govuk-table__body">
                                        <tr class="govuk-table__row">
                                            <!-- Dates -->
                                            <td class="govuk-table__cell">17 February 2018</td>
                                            <!-- Days -->
                                            <td class="govuk-table__cell">5</td>
                                        </tr>
                                        <!-- Total -->
                                        <tr class="govuk-table__row">
                                            <!-- Dates -->
                                            <td class="govuk-table__cell govuk-!-font-weight-bold govuk-!-text-align-right">Total days</td>
                                            <!-- Days -->
                                            <td class="govuk-table__cell">5
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
</div>
</main>
{% endblock %}