{% extends "../../dps/includes/template.html" %}
{% block content %}
<!-- Back link -->
<div class="moj-width-container">
    <a href="enter-calculation-ref" class="govuk-back-link">Back</a>
</div>
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading govuk-!-margin-top-6">
                            <span class="govuk-caption-xl"> Override release dates</span>
                            Confirm this is the correct person
                        </h1>
                    </legend>
                    <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-4 govuk-!-margin-bottom-0">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Calculation reference
                            </dt>
                            <dd class="govuk-summary-list__value">
                                2746297239874901238
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Prisoner name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Colin Ball
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Prison number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                G2883VE
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Establishment
                            </dt>
                            <dd class="govuk-summary-list__value">
                                HMP Leeds
                            </dd>
                        </div>
                    </dl>
                </fieldset>
            </div>
            <a href="check-sentence-and-offence-information"><button class="govuk-button" data-module="govuk-button">
                    Yes, continue
                </button></a>
            <p class="govuk-body"><a href="enter-calculation-ref">No, look up a different calculation</a></p>
        </div>
    </div>
</div>
{% endblock %}