{% extends "../template.html" %}
{% block content %}
<!-- Prisoner identity bar -->
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Colin Ball</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">15 May 2000</span><strong>Prison number: </strong>G2883VE</span>
            </div>
        </div>
    </div>
</div>
<!-- Back link -->
<div class="moj-width-container">
    <a href="check-sentence-and-offence-information" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-6">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">Override release dates</span>
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
                Review calculation
            </h1>
        </div>
    </div>
</div>
<!-- Final release dates -->
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l govuk-!-margin-top-4">Release dates</h2>
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__content" id="release-dates">
                    <dl class="govuk-summary-list release-dates-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                                SLED
                                <p class="govuk-!-font-size-16 govuk-hint">Sentence and licence expiry date</p>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Sunday, 23 October 2039
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key release-dates-key govuk-!-font-size-24">
                                CRD
                                <p class="govuk-!-font-size-16 govuk-hint">Conditional release date</p>
                            </dt>
                            <dd class="govuk-summary-list__value govuk-!-padding-top-4">
                                Wednesday, 23 October 2030
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row govuk-!-margin-top-6">
        <div class="govuk-grid-column-two-thirds">
            <details class="govuk-details govuk-!-margin-bottom-2" >
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Why are some details missing?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    Some dates and details are not included as according to <a href="http://www.justice.gov.uk/downloads/offenders/psipso/psi-2015/psi-03-2015-sentence-calculation-determiante-sentenced-prisoners.pdf" target="_blank">PSI 03/2015 (opens in new tab)</a> they are not relevant to this person's circumstances.
                </div>
            </details>
            <details class="govuk-details" >
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        How are final release dates calculated?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    Some calculations are made up of different sentences and terms, such as overlapping or concurrent sentences. The final release date comes from the sentence or term with the latest release date.
                </div>
            </details>
        </div>
    </div>
</div>
<!-- Calculation breakdown -->
<!-- Breakdown -->
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l govuk-!-margin-top-6">Calculation breakdown</h2>
            <!-- Concurrent sentence breakdown -->
            <div class="govuk-!-margin-bottom-8">
                <h3 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-4">
                    Sentences
                </h3>
                <table class="govuk-table govuk-!-margin-bottom-4">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th width="33%" scope="col" class="govuk-table__header">Sentence</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--date">Sentence date</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--date">Sentence length</th>
                            <th scope="col" colspan="2" class="govuk-table__header govuk-table__header--date">Calculated dates</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body calculation-breakdown">
                        <!-- First row -->
                        <tr class="govuk-table__row">
                            <td rowspan="2" class="govuk-table__cell">
                                Court case 1, count 3
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-margin-top-2">
                                    Buggery - other than in private - male victim
                                </p>
                                <p class="govuk-hint govuk-!-margin-top-0 govuk-!-font-size-16">Section 236A SOPC CJA03</p>
                            </td>
                            <td class="govuk-table__cell" style="border-bottom:none;">
                                21 Feb 2018</td>
                            <td class="govuk-table__cell govuk-!-padding-bottom-0" style="border-bottom:none;">
                                <div><span class="govuk-!-font-weight-bold">Custodial term</span><br>13 years</div>
                                <div class="govuk-!-margin-bottom-2">
                                    <span class="govuk-!-font-weight-bold">Licence period</span><br>1 years</div>
                            </td>
                            <td class="govuk-table__cell govuk-!-padding-bottom-0" style="border-bottom:none;">
                                <h4 class="govuk-heading-s govuk-!-margin-bottom-1">SLED</h4>20 Feb 2032<br>
                                <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">5113 days</span>
                            </td>
                            <td class="govuk-table__cell govuk-!-padding-bottom-0" style="border-bottom:none;">
                                <h4 class="govuk-heading-s govuk-!-margin-bottom-1">CRD</h4>20 Feb 2031<br>
                                <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">4748 days</span>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" colspan="2"></td>
                            <td class="govuk-table__cell">
                                <h4 class="govuk-heading-s govuk-!-margin-bottom-1">PED</h4>21 Aug 2024<br>
                                <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">2374 days</span>
                            </td>
                            <td class="govuk-table__cell">
                                <h4 class="govuk-heading-s govuk-!-margin-bottom-1">ERSED</h4>21 Aug 2023<br>
                                <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">2007 days</span>
                            </td>
                        </tr>
                        <!-- Second row -->
                        <tr class="govuk-table__row">
                            <td rowspan="2" class="govuk-table__cell">
                                Court case 1, count 4
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-margin-top-2">
                                    INDECENT ASSAULT ON A CHILD
                                </p>
                                <p class="govuk-hint govuk-!-margin-top-0 govuk-!-font-size-16">Section 236A SOPC CJA03</p>
                            </td>
                            <td class="govuk-table__cell govuk-!-padding-bottom-0" style="border-bottom:none;">
                                21 Feb 2018</td>
                            <td class="govuk-table__cell" style="border-bottom:none;">
                                <div class="govuk-!-margin-bottom-2"><span class="govuk-!-font-weight-bold">Custodial term</span><br>5 years</div>
                                <div>
                                    <span class="govuk-!-font-weight-bold">Licence period</span><br>1 years</div>
                            </td>
                            <td class="govuk-table__cell govuk-!-padding-bottom-0" style="border-bottom:none;">
                                <h4 class="govuk-heading-s govuk-!-margin-bottom-1">SLED</h4>20 Feb 2024<br>
                                <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">2191 days</span>
                            </td>
                            <td class="govuk-table__cell govuk-!-padding-bottom-0" style="border-bottom:none;">
                                <h4 class="govuk-heading-s govuk-!-margin-bottom-1">CRD</h4>20 Feb 2023<br>
                                <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">1826 days</span>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" colspan="2"></td>
                            <td class="govuk-table__cell">
                                <h4 class="govuk-heading-s govuk-!-margin-bottom-1">PED</h4>21 Aug 2020<br>
                                <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">913 days</span>
                            </td>
                            <td class="govuk-table__cell">
                                <h4 class="govuk-heading-s govuk-!-margin-bottom-1">ERSED</h4>21 Aug 2019<br>
                                <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">546 days</span>
                            </td>
                        </tr>
                        <!-- Third row -->
                        <tr class="govuk-table__row">
                            <td rowspan="2" class="govuk-table__cell">
                                Court case 1, count 5
                                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2 govuk-!-margin-top-2">
                                    INDECENT ASSAULT ON A CHILD
                                </p>
                                <p class="govuk-hint govuk-!-margin-top-0 govuk-!-font-size-16">Section 236A SOPC CJA03</p>
                            </td>
                            <td class="govuk-table__cell" style="border-bottom:none;">
                                21 Feb 2018</td>
                            <td class="govuk-table__cell govuk-!-padding-bottom-0" style="border-bottom:none;">
                                <div class="govuk-!-margin-bottom-2"><span class="govuk-!-font-weight-bold">Custodial term</span><br>5 years</div>
                                <div>
                                    <span class="govuk-!-font-weight-bold">Licence period</span><br>1 years</div>
                            </td>
                            <td class="govuk-table__cell govuk-!-padding-bottom-0" style="border-bottom:none;">
                                <h4 class="govuk-heading-s govuk-!-margin-bottom-1">SLED</h4>20 Feb 2024<br>
                                <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">2191 days</span>
                            </td>
                            <td class="govuk-table__cell govuk-!-padding-bottom-0" style="border-bottom:none;">
                                <h4 class="govuk-heading-s govuk-!-margin-bottom-1">CRD</h4>20 Feb 2023<br>
                                <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">1826 days</span>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" colspan="2"></td>
                            <td class="govuk-table__cell">
                                <h4 class="govuk-heading-s govuk-!-margin-bottom-1">PED</h4>21 Aug 2020<br>
                                <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">913 days</span>
                            </td>
                            <td class="govuk-table__cell">
                                <h4 class="govuk-heading-s govuk-!-margin-bottom-1">ERSED</h4>21 Aug 2019<br>
                                <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">546 days</span>
                            </td>
                        </tr>
                        <!-- Consecutive row -->
                        <tr class="govuk-table__row">
                            <td rowspan="2" class="govuk-table__cell">
                                <p class="govuk-body govuk-!-margin-bottom-2">Aggregate consecutive sentences</p>
                                <span class="govuk-hint govuk-!-font-size-16">2 sentences</span>
                                <p class="govuk-body govuk-!-margin-top-2"><a href="consecutive-sentence-details">Consecutive sentence details</a></p>
                            </td>
                            <td class="govuk-table__cell" style="border-bottom:none;">21 Feb 2018</td>
                            <td class="govuk-table__cell" style="border-bottom:none;">
                                <div class="govuk-!-margin-bottom-2"><span class="govuk-!-font-weight-bold">Custodial term</span><br>16 years</div>
                                <div class="govuk-!-margin-bottom-2">
                                    <span class="govuk-!-font-weight-bold">Licence period</span><br>2 years</div>
                            </td>
                            <td class="govuk-table__cell" style="padding: 0; border-bottom:none;">
                                <div style="border-left: 5px solid #1d70b8; padding: 10px 40px 10px 10px;">
                                    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">SLED</h4>20 Feb 2036<br>
                                    <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">6574 days</span><br>
                                    <span class="moj-badge govuk-!-margin-top-1">Latest SLED</span>
                                </div>
                            </td>
                            <td class="govuk-table__cell" style="padding: 0; border-bottom:none;">
                                <div style="border-left: 5px solid #1d70b8; padding: 10px 40px 10px 10px;">
                                    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">CRD</h4>20 Feb 2034<br>
                                    <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">5844 days</span>
                                    <br>
                                    <span class="moj-badge govuk-!-margin-top-1">Latest CRD</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-!-padding-bottom-0" colspan="2">
                            </td>
                            <td class="govuk-table__cell govuk-!-padding-bottom-0">
                                <div style="border-left: 5px solid #1d70b8; padding: 10px 0px 10px 10px;">
                                    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">PED</h4>22 Apr 2028<br>
                                    <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">3714 days</span>
                                    <br>
                                    <span class="moj-badge govuk-!-margin-top-1">Latest PED</span>
                                </div>
                            </td>
                            <td class="govuk-table__cell govuk-!-padding-bottom-0">
                                <div style="border-left: 5px solid #1d70b8; padding: 10px 0px 10px 10px;">
                                    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">ERSED</h4>22 Apr 2027<br>
                                    <span class="govuk-hint govuk-!-margin-top-2 govuk-!-font-size-16">3347 days</span>
                                    <br>
                                    <span class="moj-badge govuk-!-margin-top-1">Latest ERSED</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h3 class="govuk-heading-m govuk-!-margin-bottom-4">Release dates that include adjustments</h3>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <table class="govuk-table govuk-!-margin-bottom-8" data-qa="release-dates-adjustments-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" width="20%" class="govuk-table__header">Date type</th>
                        <th scope="col" width="22%" class="govuk-table__header govuk-table__header--date">Latest date</th>
                        <th scope="col" class="govuk-table__header"></th>
                        <th scope="col" width="22%" class="govuk-table__header govuk-table__header--date">Adjustment</th>
                        <th scope="col" class="govuk-table__header"></th>
                        <th scope="col" width="20%" class="govuk-table__header govuk-table__header--date">Calculated date</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">SLED</th>
                        <td class="govuk-table__cell">
                            20 Feb 2036
                        </td>
                        <td class="govuk-table__cell">
                            &minus;
                        </td>
                        <td class="govuk-table__cell">
                            1 day remand
                        </td>
                        <td class="govuk-table__cell">
                            &equals;
                        </td>
                        <td class="govuk-table__cell">
                            19 Feb 2036
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__header">CRD</td>
                        <td class="govuk-table__cell">
                            20 Feb 2034
                        </td>
                        <td class="govuk-table__cell">
                            &minus;
                        </td>
                        <td class="govuk-table__cell">
                            1 day remand
                        </td>
                        <td class="govuk-table__cell">
                            &equals;
                        </td>
                        <td class="govuk-table__cell">
                            19 Feb 2034
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__header">PED</td>
                        <td class="govuk-table__cell">
                            22 Apr 2028
                        </td>
                        <td class="govuk-table__cell">
                            &minus;
                        </td>
                        <td class="govuk-table__cell">
                            1 day remand
                        </td>
                        <td class="govuk-table__cell">
                            &equals;
                        </td>
                        <td class="govuk-table__cell">
                            21 Apr 2028
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__header">ERSED</td>
                        <td class="govuk-table__cell">
                            22 Apr 2027
                        </td>
                        <td class="govuk-table__cell">
                            &minus;
                        </td>
                        <td class="govuk-table__cell">
                            1 day remand
                        </td>
                        <td class="govuk-table__cell">
                            &equals;
                        </td>
                        <td class="govuk-table__cell">
                            21 Apr 2027
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading govuk-!-margin-top-4">
                        Do you agree with these release dates?
                    </h1>
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for="changed-name">
                            Yes, I agree with these dates
                        </label>
<!--                         <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                            By saving the dates you are confirming that, to the best of your knowledge, they are correct. The dates will be saved in NOMIS.
                        </div> -->
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no" checked>
                        <label class="govuk-label govuk-radios__label" for="changed-name-2">
                            No, I need to override these dates
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
        <a href="override-reason">
            <button class="govuk-button" data-module="govuk-button">Continue</button>
        </a>
    </div>
</div>
</div>
{% endblock %}