{% extends "../../dps/includes/template.html" %}
{% block content %}
<!-- Back link -->
<div class="moj-width-container">
    <a href="start-standalone" class="govuk-back-link">Back</a>
</div>
<div class="moj-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <h1 class="govuk-fieldset__heading govuk-!-margin-top-6">
                        <span class="govuk-caption-xl">Override release dates</span>
                        Look up a calculation
                    </h1>
                </legend>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-!-margin-top-4" for="address-line-1">
                        Enter the calculation reference number
                    </label>
                    <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1">
                </div>
            </fieldset>
            <a href="confirm-calculation.html"><button class="govuk-button" data-module="govuk-button">
                    Continue
                </button></a>
        </div>
    </div>
</div>
{% endblock %}