{% extends "../template.html" %}
{% block content %}
<!-- Prisoner identity bar -->
<div class="moj-width-container">
    <div class="moj-identity-bar">
        <div class="moj-identity-bar__container govuk-!-margin-left-0">
            <div class="moj-identity-bar__details">
                <span class="moj-identity-bar__title"><span class="govuk-!-margin-right-5"><strong>Prisoner name: </strong>Colin Ball</span><strong> Date of birth: </strong><span class="govuk-!-margin-right-5">15 May 2000</span><span class="govuk-!-margin-right-5"><strong>Prison number: </strong>G2883VE</span><strong>Location: </strong>E-8-014
                </span>
            </div>
        </div>
    </div>
</div>
<!-- Back link -->
<div class="moj-width-container">
    <a href="add-change-remove-dates-2" class="govuk-back-link">Back</a>
</div>
<!-- Page intro -->
<div class="moj-width-container govuk-!-margin-top-6">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                <span class="govuk-caption-xl">Override release dates</span>
                Select the reason for the override
            </h1>
            <form class="form" action="hearing-type">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="override-reason-1" name="override-reason" type="radio" value="Order of imprisonment/warrant doesn’t match trial record sheet">
                            <label class="govuk-label govuk-radios__label" for="override-reason-1">
                                Order of imprisonment/warrant doesn’t match trial record sheet
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="override-reason-2" name="override-reason" type="radio" value="Terrorism or terror-related offences">
                            <label class="govuk-label govuk-radios__label" for="override-reason-2">
                                Terrorism or terror-related offences
                            </label>
                        </div>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="override-reason-3" name="override-reason" type="radio" value="yes" aria-controls="conditional-court-case-reference" aria-expanded="false">
                                    <label class="govuk-label govuk-radios__label" for="override-reason-3">
                                        Other
                                    </label>
                                </div>
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-override-reason">
                                    <div class="govuk-form-group">
                                        <input class="govuk-input govuk-!-width-one-third" id="other-reason" name="other-reason" spellcheck="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>
            <a href="enter-release-dates-1" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                Continue
            </a>
        </div>
    </div>
</div>
{% endblock %}